@import "../../../../kl-styles/variables.scss";

.p2p-create-wrap {
  background-color: white;
  border: $divider;
  border-radius: $border-radius;
  width: 100%;
  height: auto;
  // padding: 20px 30px 20px 30px;

  .p2p-create-headline {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    padding: 20px 0 0 30px;
    height: 80px;

    &:after {
      content: "";
      position: absolute;
      background-color: $font-primary-color;
      height: 2px;
      width: 115px;
      bottom: 20px;
      left: 30px;
    }
  }

  .headline {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 25px;

    span {
      font-weight: normal;
      font-size: 16px;
    }
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .choose-subject-wrap {
    padding: 25px 20px 40px 30px;
    border-bottom: $divider;

    .fos-selection {
      width: 70%;
    }
  }

  .describe-post-wrap {
    padding: $padding-create-p2p-sections;
    border-bottom: $divider;

    .description {
      min-width: 70%;
      max-width: 70%;
      border: 1px solid #d8dde6;
      border-radius: $border-radius;
      min-height: 150px;
      padding: 12px;
      outline: none;
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 30px;
      -webkit-transition: min-height 0.20s ease-in-out;
      -moz-transition: min-height 0.20s ease-in-out;
      -ms-transition: min-height 0.20s ease-in-out;

      &::-webkit-input-placeholder {
          color: $placeholder-secondary-color;
      }
    }
  }

  .attachment-field {
    width: 18%;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  ng-select.select-language {
    width: 70%;
    margin: 10px 0 10px 0;
  }

  .rate-reward-wrap {
    padding: $padding-create-p2p-sections;
    border-bottom: $divider;

    #minutes-icon {
      font-size: 28px;
      text-align: center;
      padding-top: 11px;
    }

    input.reward[type="number"] {
      border-radius: $border-radius;
      border: $outline-dark;
      width: 150px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      outline: none;
      font-size: 15px;
      margin-top: 10px;

      &:focus {
          box-shadow: 0 0 5px transparentize($knowlead-primary, 0.6);
          border: 1px solid transparentize($knowlead-primary, 0.6);
      }

      &::-webkit-input-placeholder {
          color: $placeholder-secondary-color;
      }
    }

    .difficulty-level-wrap {
      margin-top: 90px;
      width: 70%;

      .difficulty-options-wrap {
        display: flex;
        margin-top: 25px;

        .difficulty-options {
          width: 200px;
          text-align: center;
          height: 130px;
          margin-right: 10px;

          label {
            border: 2px solid $placeholder-secondary-color;
            box-sizing: border-box;
	          display: block;
            width: 100%;
            height: 100%;
            padding: 20px 10px 0 10px;
            cursor: pointer;
            opacity: .5;
            transition: all .2s ease-in-out;
            &:hover, &:focus, &:active {
              border-color: rgba($placeholder-secondary-color,.7);
            }
          }

          .item {
            font-size: 24px;
            font-weight: bold;
            font-family: "Cambria";
            position: relative;
            margin-bottom: 20px;
            color: $placeholder-secondary-color;
            transition: all .2s ease-in-out;

            &:after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 65px;
              height: 2px;
              width: 50px;
              background-color: $placeholder-secondary-color;
              transition: all .2s ease-in-out;
            }
          }

          .item-text {
            font-size: 16px;
            color: $placeholder-secondary-color;
            transition: all .2s ease-in-out;
          }

          input[type="radio"] {
	          opacity: 0;
	          width: 0;
            height: 0;
            display: none;
          }

          input[type="radio"]:active ~ label {
            opacity: 1;
          }

          input[type="radio"]:checked ~ .basic {
            opacity: 1;
          	border-color: $level-beginner-color;
            > .item {
              color: $level-beginner-color;
              &:after {
                background-color: $level-beginner-color;
              }
            }
            > .item-text {
              color: $level-beginner-color;
            }
          }

          input[type="radio"]:checked ~ .intermediate {
            opacity: 1;
          	border-color: $level-intermediate-color;
            > .item {
              color: $level-intermediate-color;
              &:after {
                background-color: $level-intermediate-color;
              }
            }
            > .item-text {
              color: $level-intermediate-color;
            }
          }

          input[type="radio"]:checked ~ .advanced {
            opacity: 1;
          	border-color: $level-advanced-color;
            > .item {
              color: $level-advanced-color;
              &:after {
                background-color: $level-advanced-color;
              }
            }
            > .item-text {
              color: $level-advanced-color;
            }
          }


        }
      }
    }
  }

  .deadline-wrap {
    padding: $padding-create-p2p-sections;
    border-bottom: $divider;
  }

  .deadline-selection-wrap {
    margin-top: 25px;
    width: 90%;

    .deadline-options-wrap {
      display: flex;

      .deadline-options {
        width: 200px;
        text-align: center;
        height: 130px;
        margin-right: 10px;

        label {
          border: 2px solid $placeholder-secondary-color;
          box-sizing: border-box;
          display: block;
          width: 100%;
          height: 100%;
          padding: 20px 10px 0 10px;
          cursor: pointer;
          opacity: .5;
          transition: all .2s ease-in-out;
          &:hover, &:focus, &:active {
            border-color: rgba($placeholder-secondary-color,.7);
          }
        }

        .item {
          font-size: 33px;
          font-weight: bold;
          font-family: "Cambria";
          position: relative;
          margin-bottom: 20px;
          color: $placeholder-secondary-color;
          transition: all .2s ease-in-out;

          &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 55px;
            height: 2px;
            width: 65px;
            background-color: $placeholder-secondary-color;
            transition: all .2s ease-in-out;
          }
        }

        .item-text {
          font-size: 16px;
          color: $placeholder-secondary-color;
          transition: all .2s ease-in-out;
        }

        input[type="radio"] {
          opacity: 0;
          width: 0;
          height: 0;
          display: none;
        }

        input[type="radio"]:active ~ label {
          opacity: 1;
        }

        input[type="radio"]:checked ~ #one-day {
          opacity: 1;
          border-color: $level-low;
          > .item {
            color: $level-low;
            &:after {
              background-color: $level-low;
            }
          }
          > .item-text {
            color: $level-low;
          }
        }

        input[type="radio"]:checked ~ #three-days {
          opacity: 1;
          border-color: $level-mediocre;
          > .item {
            color: $level-mediocre;
            &:after {
              background-color: $level-mediocre;
            }
          }
          > .item-text {
            color: $level-mediocre;
          }
        }

        input[type="radio"]:checked ~ #seven-days {
          opacity: 1;
          border-color: $level-high;
          > .item {
            color: $level-high;
            &:after {
              background-color: $level-high;
            }
          }
          > .item-text {
            color: $level-high;
          }
        }

        input[type="radio"]:checked ~ #none {
          opacity: 1;
          border-color: $knowlead-primary;
          > .item {
            color: $knowlead-primary;
            &:after {
              background-color: $knowlead-primary;
            }
          }
          > .item-text {
            color: $knowlead-primary;
          }
        }

      }
    }
  }

  .specific-date-wrap {
    #specific-date-text {
      margin: 25px 0;
    }
  }

  .footer-elements {
    padding: $padding-create-p2p-sections;

    #note {
      width: 80%;
      margin-bottom: 20px;

      span#noteTitle {
        font-weight: bold;
        margin-right: 3px;
      }

      span#noteText {
        margin-left: 45px;
      }
    }

    .post-p2p-button {
      width: 130px;
      height: 40px;
      background-color: $knowlead-primary;
      border: none;
      border-radius: $border-radius;
      outline: none;
      color: white;

      &:hover {
        background-color: transparentize($knowlead-primary, 0.1);
      }

    }
  }
}
