.p2p-create-wrap
  .p2p-create-headline.
    Post a Peer-to-Peer Request
  form((ngSubmit)="onSubmit()" [formGroup]="form")
    .choose-subject-wrap
      .title.
        Choose a field of study
      .fos-selection.tooltip-parent
        app-fos-selector(formControlName="fosId" [outputType]="id" appFormControlError)
    .describe-post-wrap
      .headline.
        Describe the Request
      .title.
        Describe the work to be done
      .description-text.tooltip-parent
        textarea.description(
          placeholder="Describe the request and the subject you want to study as concretely as you can so other users can easily see what are they required to teach you."
          formControlName="text"
          appFormControlError)
      .attachments-wrap
        .title.
          Attachments
        .attachment-field(formArrayName="blobs")
          app-file-upload(*ngFor="let control of form.controls.blobs.controls; let idx = index" [formControlName]="idx" (removed)="removeFile(idx)")
      .language-wrap
        .title.
          Choose a language on which you want to study
        .tooltip-parent(*ngIf="languages")
          ng-select([options]="languages", [multiple]="true", formControlName="languages", placeholder="EXAMPLE: English, Bosnian...", appFormControlError).select-language
    .rate-reward-wrap
      .headline.
        Rate and Reward
      .title.
        How many minutes are you offering?
      .col-5#minutes-icon
        i.kl-currency
      .col-95.tooltip-parent
        input(type="number" min="10" placeholder="Minutes" formControlName="initialPrice" appFormControlError).reward
      .difficulty-level-wrap
        .title.
          Desired Level of Knowledge from Teacher
        .difficulty-options-wrap
          .difficulty-options
            input(type="radio", name="difficulty", id="match_1", value="basic")
            label(for="match_1").basic
              .item
                | I
              .item-text
                | Basic
          .difficulty-options
            input(type="radio", name="difficulty", id="match_2", value="intermediate")
            label(for="match_2").intermediate
              .item
                | II
              .item-text
                | Intermediate
          .difficulty-options
            input(type="radio", name="difficulty", id="match_3", value="advanced")
            label(for="match_3").advanced
              .item
                | III
              .item-text
                | Advanced
    .deadline-wrap
      .headline
        | Deadline 
        span
          | (Optional)
      .deadline-selection-wrap
        .deadline-options-wrap
          .deadline-options
            input#time_1(type="radio", name="deadline", formControlName="deadline", [value]="getDateAfterHours(24)")
            label(for="time_1")#one-day
              .item
                i.kl-one-day
              .item-text
                | 24 Hours
          .deadline-options
            input#time_2(type="radio", name="deadline", formControlName="deadline", [value]="getDateAfterHours(24*3)")
            label(for="time_2")#three-days
              .item
                i.kl-three-days
              .item-text
                | 3 Days
          .deadline-options
            input#time_3(type="radio", name="deadline", formControlName="deadline", [value]="getDateAfterHours(24*7)")
            label(for="time_3")#seven-days
              .item
                i.kl-seven-days
              .item-text
                | 7 Days
          .deadline-options
            input#time_4(type="radio", name="deadline", formControlName="deadline", [value]="undefined", checked)
            label(for="time_4")#none
              .item
                i.kl-no-deadline
              .item-text
                | No Deadline
        .specific-date-wrap
          .title#specific-date-text
            | Select Specific Date and Time
          app-flatpickr(placeholder="Select specific date").specific-date-input
    .footer-elements
      .row#note
        span#noteTitle NOTE:  
        |  Selected field is not yet popular among the users, so you may have to wait some time or you may not get the response at all. 
        span#noteText  However, we encourage you to post it.
      button.post-p2p-button
        | Post
