
<div class="p2p-create-wrap">
  <div class="p2p-create-headline">Post a Peer-to-Peer Request</div>
  <form (ngSubmit)="confirmationOpened = true" [formGroup]="form">
    <div class="choose-subject-wrap">
      <div class="title">Choose a field of study</div>
      <div class="fos-selection">
        <app-fos-selector></app-fos-selector>
      </div>
    </div>
    <div class="describe-post-wrap">
      <div class="headline">Describe the Request</div>
      <div class="title">Describe the work to be done</div>
      <div class="description-text">
        <textarea class="description" placeholder="Describe the request and the subject you want to study as concretely as you can so other users can easily see what are they required to teach you."></textarea>
      </div>
      <div class="attachments-wrap">
        <div class="title">Attachments</div>
        <div class="attachment-field">
          <app-file-upload></app-file-upload>
        </div>
      </div>
      <div class="language-wrap">
        <div class="title">Choose a language on which you want to study</div>
        <ng-select class="select-language" [options]="languages" [multiple]="true" formControlName="languages" placeholder="EXAMPLE: English, Bosnian..."></ng-select>
      </div>
    </div>
    <div class="rate-reward-wrap">
      <div class="headline">Rate and Reward</div>
      <div class="title">How many minutes are you offering?</div>
      <input class="reward" type="number" min="10" placeholder="Minutes">
      <div class="difficulty-level-wrap">
        <div class="title">Desired Level of Knowledge</div>
        <div class="difficulty-options-wrap">
          <div class="difficulty-options">
            <input type="radio" name="difficulty" id="match_1" value="basic" checked>
            <label class="basic" for="match_1">
              <div class="level">I</div>
              <div class="level-text">Basic</div>
            </label>
          </div>
          <div class="difficulty-options">
            <input type="radio" name="difficulty" id="match_2" value="intermediate" checked>
            <label class="intermediate" for="match_2">
              <div class="level">II</div>
              <div class="level-text">Intermediate</div>
            </label>
          </div>
          <div class="difficulty-options">
            <input type="radio" name="difficulty" id="match_3" value="advanced" checked>
            <label class="advanced" for="match_3">
              <div class="level">III</div>
              <div class="level-text">Advanced</div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>