<div class="row">
    <div class="col-100">
        <div class="createPost-wrap">
            <div class="row">
                <div class="col-100">
                    <div class="postType-wrap">
                        <div class="row postType-row-bg-color">
                            <div class="col-25">
                                <div class="postTypeButton-wrap">
                                    <button class="clearButton postTypeButton">
                                        <i class="kl-peer postIcon"></i>
                                        <div class="postText">Peer-to-Peer</div>
                                    </button>
                                </div>
                            </div>
                            <!-- COMING SOON! :P -->
                            <!-- <div class="col-25">
                                <div class="postTypeButton-wrap"></div>
                            </div>
                            <div class="col-25">
                                <div class="postTypeButton-wrap"></div>
                            </div>
                            <div class="col-25">
                                <div class="postTypeButton-wrap"></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <div class="createForm-wrap">
                        <form (ngSubmit)="onSubmit()" [formGroup]="form">
                            <div class="row">
                                <div class="col-100">
                                    <div class="postTextarea-wrap">
                                        <textarea formControlName="text" placeholder="Share what are you interested to learn..." class="postTextarea"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row attachment-border-wrap">
                                <div class="col-100">
                                    <div class="attachment-wrap">
                                        <!-- NOTE: ATTACHMENT PILLS GO HERE xD -->

                                    </div>
                                </div>
                            </div>
                            <div class="row input-elements-wrap">
                                <div class="col-75">
                                    <div class="postInput-wrap">
                                        <div [ngSwitch]="stepStr">
                                            <div *ngSwitchCase="'fosId'">
                                                <ng-select outputType="id" formControlName="fosId" [options]="foses"></ng-select>
                                            </div> 
                                            <div *ngSwitchCase="'initialPrice'">
                                                <div class="col-15">
                                                    <div class="inputTitle-wrap">
                                                        <div class="inputTitle centerV">Reward</div>
                                                    </div>
                                                </div>
                                                <div class="col-85">
                                                    <input type="number" formControlName="initialPrice" placeholder="How many minutes are you offering?" class="postNumberInput" min="10">
                                                </div>
                                            </div>
                                             <div *ngSwitchCase="'languages'">
                                                <ng-select [options]="languages" [multiple]="true" formControlName="languages" placeholder="Languages"></ng-select>
                                            </div> 
                                             <div *ngSwitchCase="'deadline'">
                                                <app-flatpickr formControlName="deadline"></app-flatpickr>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="nextStep-wrap">
                                        <button [disabled]="step >= availableSteps.length - 1" (click)="setStep(step + 1)" type="button" class="clearButton nextStepButton">
                                            Next
                                        </button>
                                    </div>
                                </div>
                                <div class="col-15">
                                    <div class="addFile-wrap">
                                        <button class="clearButton addFileButton">
                                            Add Files
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-80">
                                    <button *ngFor="let stepValue of steps; let idx = index" [disabled]="availableSteps.indexOf(stepValue) == -1" type="button" (click)="setStep(idx)" class="postButton">
                                        <i [class]="iconMapping[stepValue]" [class.currentStep]="idx === step"></i>
                                    </button>
                                </div>
                                <div class="col-20">
                                    <div class="submitPost-wrap">
                                        <button type="submit" [disabled]="!form.valid" class="submitPostButton">Post</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 100 -->
