
<div class="p2p-create-wrap">
  <div class="p2p-create-headline">Post a Peer-to-Peer Request</div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="choose-subject-wrap">
      <div class="title">Choose a field of study</div>
      <div class="fos-selection tooltip-parent">
        <app-fos-selector formControlName="fosId" [outputType]="id" appFormControlError></app-fos-selector>
      </div>
    </div>
    <div class="describe-post-wrap">
      <div class="headline">Describe the Request</div>
      <div class="title">Describe the work to be done</div>
      <div class="description-text tooltip-parent">
        <textarea class="description" placeholder="Describe the request and the subject you want to study as concretely as you can so other users can easily see what are they required to teach you." formControlName="text" appFormControlError></textarea>
      </div>
      <div class="attachments-wrap">
        <div class="title">Attachments</div>
        <div class="attachment-field" formArrayName="blobs">
          <app-file-upload *ngFor="let control of form.controls.blobs.controls; let idx = index" [formControlName]="idx" (removed)="removeFile(idx)"></app-file-upload>
        </div>
      </div>
      <div class="language-wrap">
        <div class="title">Choose a language on which you want to study</div>
        <div class="tooltip-parent" *ngIf="languages">
          <ng-select class="select-language" [options]="languages" [multiple]="true" formControlName="languages" placeholder="EXAMPLE: English, Bosnian..." appFormControlError></ng-select>
        </div>
      </div>
    </div>
    <div class="rate-reward-wrap">
      <div class="headline">Rate and Reward</div>
      <div class="title">How many minutes are you offering?</div>
      <div class="col-5" id="minutes-icon"><i class="kl-currency"></i></div>
      <div class="col-95 tooltip-parent">
        <input class="reward" type="number" min="10" placeholder="Minutes" formControlName="initialPrice" appFormControlError>
      </div>
      <div class="difficulty-level-wrap">
        <div class="title">Desired Level of Knowledge from Teacher</div>
        <div class="difficulty-options-wrap">
          <div class="difficulty-options">
            <input type="radio" name="difficultyLevel" formControlName="difficultyLevel" id="match_1" [value]="difficulties.Basic">
            <label class="basic" for="match_1">
              <div class="item">I</div>
              <div class="item-text">Basic</div>
            </label>
          </div>
          <div class="difficulty-options">
            <input type="radio" name="difficultyLevel" formControlName="difficultyLevel" id="match_2" [value]="difficulties.Intermediate">
            <label class="intermediate" for="match_2">
              <div class="item">II</div>
              <div class="item-text">Intermediate</div>
            </label>
          </div>
          <div class="difficulty-options">
            <input type="radio" name="difficultyLevel" formControlName="difficultyLevel" id="match_3" [value]="difficulties.Advanced">
            <label class="advanced" for="match_3">
              <div class="item">III</div>
              <div class="item-text">Advanced</div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="deadline-wrap">
      <div class="headline">Deadline <span>(Optional)</span></div>
      <div class="deadline-selection-wrap">
        <div class="deadline-options-wrap">
          <div class="deadline-options">
            <input id="time_1" type="radio" name="deadline" formControlName="deadline" [value]="getDateAfterHours(24)" (click)="removeSpecificDate()">
            <label for="time_1" id="one-day">
              <div class="item"><i class="kl-one-day"></i></div>
              <div class="item-text">24 Hours</div>
            </label>
          </div>
          <div class="deadline-options">
            <input id="time_2" type="radio" name="deadline" formControlName="deadline" [value]="getDateAfterHours(24*3)" (click)="removeSpecificDate()">
            <label for="time_2" id="three-days">
              <div class="item"><i class="kl-three-days"></i></div>
              <div class="item-text">3 Days</div>
            </label>
          </div>
          <div class="deadline-options">
            <input id="time_3" type="radio" name="deadline" formControlName="deadline" [value]="getDateAfterHours(24*7)" (click)="removeSpecificDate()">
            <label for="time_3" id="seven-days">
              <div class="item"><i class="kl-seven-days"></i></div>
              <div class="item-text">7 Days</div>
            </label>
          </div>
          <div class="deadline-options">
            <input id="time_4" type="radio" name="deadline" formControlName="deadline" [value]="undefined" checked (click)="removeSpecificDate()">
            <label for="time_4" id="none">
              <div class="item"><i class="kl-no-deadline"></i></div>
              <div class="item-text">No Deadline</div>
            </label>
          </div>
        </div>
        <div class="specific-date-wrap">
          <div class="title" id="specific-date-text">Select Specific Date and Time</div>
          <app-flatpickr class="specific-date-input" placeholder="Select specific date" [ngModelOptions]="{standalone: true}" [(ngModel)]="specificDate" (ngModelChange)="setSpecificDate($value)" [disablePast]="true"></app-flatpickr>
        </div>
      </div>
    </div>
    <div class="footer-elements">
      <div class="row" id="note"><span id="noteTitle">NOTE:  </span> Selected field is not yet popular among the users, so you may have to wait some time or you may not get the response at all. <span id="noteText"> However, we encourage you to post it.</span></div>
      <button class="post-p2p-button" [disabled]="!form.valid">Post</button>
      <div class="error" *ngIf="!form.valid">Form is not valid</div>
    </div>
  </form>
</div>