<div class="slds-form-element slds-lookup slds-is-open" data-select="single" (mousedown)="clicked($event)">
  <div class="slds-form-element__control">
    <div class="slds-input-has-icon slds-input-has-icon--right">
      <svg aria-hidden="true" class="slds-input__icon">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
      </svg>
      <input class="slds-lookup__search-input slds-input" type="search"
        [placeholder]="placeholder"
        (focus)="focused()"
        (blur)="blured()"
        [(ngModel)]="value"
        (ngModelChange)="refresh()"
        #inputElement>
    </div>
  </div>
  <div class="slds-lookup__menu" role="listbox" *ngIf="isOpen()">
    <ul class="slds-lookup__list" role="presentation">
      <li *ngFor="let item of items" (mousedown)="selected(item)">
        <a class="slds-lookup__item-action">{{getText(item)}}</a>
      </li>
    </ul>
  </div>
</div>
