.row
	.col-100
		.friendships-wrap
			.friends-title
				| Pending Requests
			.friendships-container
				app-single-friendship
.row
	.col-100
		.friendships-wrap
			.friends-title
				| Sent Requests
			.friendships-container
				app-single-friendship
.row
	.col-100
		.friendships-wrap#last-container
			.friends-title
				| Friends
			.friendships-container
				app-single-friendship