@import "../../../../kl-styles/variables.scss";

.friendships-wrap {
    background-color: white;
    border-radius: $border-radius;
    border: 1px solid $hover-dark-color;
    min-height: 170px;
    margin-bottom: 100px;


    .friends-title {
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        font-size: 18px;
        padding-left: 20px;
        border-bottom: 2px solid $divider-color;
        margin-bottom: 10px;
    }
}
