@import "../../../../kl-styles/variables.scss";
.notification-content {
    width: 400px;
    max-height: 407px;
    overflow-y: scroll;
    margin-top: 13px;
    border: 1px solid $hover-dark-color;
    box-shadow: 0 0 5px transparentize($font-primary-color, 0.3);
    outline: none;
    background-color: $background-color;
}

.popover-header {
    padding: 7px 10px 7px 10px;
    border-bottom: 1px solid $placeholder-color;
    font-size: 10px;
    text-transform: uppercase;
}

.header-title {
    color: $font-secondary-color;
}

.markRead {
    font-weight: bold;
    float: right;
    text-decoration: none;
    color: $font-primary-color;
    &:hover {
        text-decoration: underline;
    }
}

.loadMoreButton {
    width: 100%;
    text-align: center;
    color: $font-primary-color;
    font-weight: bold;
    padding: 10px 0;
    &:hover {
        text-decoration: underline;
    }
}

.unread-bedge {
    background-color: #fa3e3e;
    border-radius: 50%;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: -7px;
    width: 17px;
    height: 17px;
    text-align: center;
}

.icon {
    font-size: $icon-header-size;
    color: $icon-dark-color;
    cursor: pointer;
}
