<div class="row">
  <div class="col-30">
    <div class="row">
      <div class="col-100">
        <div class="profileSidebar">
          <div class="row">
            <div class="profileSwitchButton-wrap">
              <a routerLink="p2ps">
                <div class="profileSwitchButton">
                  See {{user?.name}}'s previous posts
                  <!--IZMJENITI USER SA IMENOM USERA!!!-->
                </div>
              </a>
            </div>
          </div>
          <app-profile-info></app-profile-info>
        </div>
      </div>
    </div>
  </div>
  <div class="col-70">
    <router-outlet></router-outlet>
  </div>
</div>
