@import "../../../../kl-styles/variables.scss";

.profileSidebar {
    margin-bottom: 100px;
}

.profileSwitchButton-wrap {
    width: 100%;
    height: 40px;
    padding-right: 20px;

    a {
        text-decoration: none;
    }

    .profileSwitchButton {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: $knowlead-secondary;
        border-radius: $border-radius;
        outline: none;
        text-decoration: none;

        &:hover {
            background-color: transparentize($knowlead-secondary, 0.1);
        }
    }
}


