
<div class="tab-wrap">
  <div class="tab" (click)="toggleOpen()"> <a routerLink="{{user | userProfileLink}}">{{user | fullName}}</a>
    <button type="button" (click)="closed()"><i class="kl-close"></i></button>
  </div>
  <div class="converisation" *ngIf="opened">
    <div class="start-friendship-wrap" *ngIf="isEmpty">
      <div class="start-friendship-icon"><i class="kl-peer"></i></div>
      <div class="start-friendship-timestamp">MAY 13TH, 3:41PM</div>
      <div class="start-friendship-text">You are now friends on Knowlead.</div>
    </div>
    <div class="full" *ngFor="let message of getConverisation() | async">
      <div class="col-17"><span></span></div>
      <div class="col-80 posRel"><a routerLink="{{message.from | userProfileLink}}">
          <app-profile-picture class="chat-profile-picture" [user]="message.from" size="x-small" [class.pullRight]="message.isMine" [class.pullLeft]="!message.isMine" *ngIf="message.showProfile" [class.displayNone]="message.isMine"></app-profile-picture></a>
        <div class="message" [class.myMessage]="message.isMine">{{message.message}}</div>
      </div>
      <div class="col-3"><span></span></div>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="opened">
    <input type="text" autocomplete="false" formControlName="message" placeholder="Type your message...">
  </form>
</div>