@import "../../../../kl-styles/variables.scss";

.displayNone {
    display: none;
}

.converisation > div > .col-80 > .message {
    margin: 2px 0 0 0;
    max-width: 166px;
}

.tab-wrap {
    display: inline-block;
    width: 280px;
    margin-right: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);

    input[type="text"] {
        height: 32px;
        width: 100%;
        border: none;
        border-top: 1px solid #e1e2e5;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;

        &::-webkit-input-placeholder {
            color: $placeholder-color;
        }
    }
}

.tabClosed {
    width: 210px !important;
}

.tabActive {
    background-color: $knowlead-primary !important;

    a {
        color: white !important;
    }

    button {
        color: transparentize(white, 0.3) !important;
        transition: all 0.2s ease;

        &:hover {
            color: white !important;
        }
    }
}

.tab {
    height: $chat-height;
    background-color: #f6f7f9;
    border-radius: $border-radius $border-radius 0 0;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .20);
    border-bottom: 1px solid $hover-dark-color;
    padding: 5px 7px;

    &:hover {
        background-color: #edeef1;
    }

    a {
        color: $font-primary-color;
    }

    button {
        border: none;
        outline: none;
        background-color: transparent;
        float: right;
        color: #888da8;

        &:hover {
            color: $font-primary-color;
        }
    }
}

.converisation {
    height: 330px;
    background-color: white;
    overflow-y: scroll;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    display: flex;
    flex-direction: column-reverse;

    div:first-child {
        margin-bottom: 15px;
    }
}

.start-friendship-wrap {
    margin: 15px 0;
    text-align: center;
    color: $font-secondary-color;
}

.start-friendship-icon {
    font-size: 28px;
}

.start-friendship-timestamp {
    font-size: 11px;
}

.start-friendship-text {
    font-size: 12px;
}

.chat-profile-picture {
    position: absolute;
    bottom: 0;
    left: -35px;
}

.pullLeft {
    float: left;
}
.pullRight {
    float: right;
}
.full {
    width: 100%;
    display: inline-block;
}



///////////////////////////////////////////////////////////
// MESSAGE CLASSES ////////////////////////////////////////
///////////////////////////////////////////////////////////

.message {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 3px 0;
    width: auto;
    max-width: 260px;
    word-wrap: break-word;
}

.message.myMessage {
    background-color: $knowlead-primary;
    color: white;
    float: right;
}

.message:not(.myMessage) {
    background-color: #f9f9f9;
    color: $font-primary-color;
    float: left;
}