<article class="slds-card slds-card--narrow slds-container--small slds-container--center" id="login">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__body slds-truncate">
        <h1 class="slds-text-heading--large">
          {{"login-page:title" | translate}}
        </h1>
      </div>
    </header>
  </div>
  
  <div class="slds-card__body">
    <app-error-list [errors]="response?.errors"></app-error-list>
    <form (ngSubmit)="loginClicked()">
      <ngl-form-element>
        <input type="text" name="Email" placeholder="{{'common:email' | translate}}" [(ngModel)]="cridentials.email">
      </ngl-form-element>
      <ngl-form-element>
        <input type="password" name="password" placeholder="{{'common:password' | translate}}" [(ngModel)]="cridentials.password">
      </ngl-form-element>
      <ngl-form-element>
        <input type="submit" [disabled]="busy" value="{{'login-page:submit' | translate}}" class="slds-button--brand">
      </ngl-form-element>
    </form>
  </div>
  <div class="slds-card__footer">
    <a href="#">{{'login-page:forgot password' | translate}}</a>
  </div>
</article>