
.p2p-card-wrap
  .p2p-card-level-wrap
    .level-base.level-beginner
      .level-anglebox
      .level-widebox
        span.level-text.
          Beginner
  .p2p-card-content-wrap
    .row.bookmark-wrap
      i.kl-bookmark2
      .bookmark-counter
    .row.profile-info-wrap
      .col-25
        .profile-picture
          //- Link to profile
          a(href="#")
            app-profile-picture([user]="undefined" [uploadable]="false" size="small")
      .col-75
        .profile-name
          //- Link to profile
          a(href="#")
            .row.name.
              Adnan
            .row.surname.
              Hadzihafizbegovic
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          SUBJECT
        .row.section-item.
          CSS Master
      .col-20
        //- ICON COLOR CLASSES (low, mediocre, high)
        .section-icon-wrap
          i.kl-subject
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          REWARD
        .row.section-item.
          420 Minutes 
      .col-20
        //- ICON COLOR CLASSES (low, mediocre, high)
        .section-icon-wrap.mediocre
          i.kl-currency
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          LANGUAGES
        .row.section-item.
          English
      .col-20
        //- ICON COLOR CLASSES (low, mediocre, high)
        .section-icon-wrap.high
          i.kl-globe
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          DEADLINE
        .row.section-item.
          4.April, 2017. 15:00
      .col-20
        //- ICON COLOR CLASSES (low, mediocre, high)
        .section-icon-wrap.mediocre
          i.kl-clock
    //-NOTE IF THERE IS NO DEADLINE p2p-summary-wrap SHOULD HAVE margin-top: 30px;
    .row.p2p-summary-wrap
      .col-100
        .row.section-title.
          SUMMARY
        .row.section-item.
          Hello everyone, I am interested in learning japanese for beginners. I know harigana and katakana already.
