a.p2p-card-wrap(*ngIf="p2p.createdBy && p2p.languages && p2p.fos" routerLink="/home/p2p/{{p2p.p2pId}}")
  .p2p-card-level-wrap.tooltip-parent
    .tooltip-desired-knowleadge.tooltip-175
      | Desired level of knowleadge from tutor (You).
    .level-base.level-basic
      .level-anglebox
      .level-widebox
        span.level-text.
          Basic
  .p2p-card-content-wrap.fade
    .row.bookmark-wrap
      //- ADD bookmarked CLASS TO THE ICON BELOW WHEN IT IS CLICKED
      i.kl-bookmark2([class.bookmarked]="p2p.didBookmark" (click)="bookmark($event)").tooltip-parent
        .tooltip-left.tooltip-70.fontCorrection
          span Bookmark
    .row.profile-info-wrap
      .col-25
        .profile-picture
          //- Link to profile
          a(routerLink="{{p2p.createdBy | userProfileLink}}")
            app-profile-picture([user]="p2p.createdBy" [uploadable]="false" size="small")
      .col-75
        .profile-name-wrap
          .row.profile-name
            a(routerLink="{{p2p.createdBy | userProfileLink}}") {{p2p.createdBy | fullName}}
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          SUBJECT
        .row.section-item.
          {{p2p.fos.name}}
      .col-20
        .section-icon-wrap([ngClass]="fosColor")
          i.kl-subject.tooltip-parent
            .tooltip-left.tooltip-125.fontCorrection
              span.green_dot
              span - High interest
              br
              span.orange_dot
              span - Low interest
              br
              span.red_dot
              span - Not in interests
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          REWARD
        .row.section-item.
          {{p2p.actualPrice}} Minutes
      .col-20
        .section-icon-wrap([ngClass]="priceColor")
          i.kl-currency.tooltip-parent
            .tooltip-left.tooltip-110.fontCorrection
              span.green_dot
              span - 40+ Minutes
              br
              span.orange_dot
              span - 20+ Minutes
              br
              span.red_dot
              span - 10+ Minutes
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          LANGUAGES
        .row.section-item
          span(*ngFor="let item of p2p.languages").
            {{item.code | uppercase}} 
      .col-20
        .section-icon-wrap([ngClass]="languageColor")
          i.kl-globe.tooltip-parent
            .tooltip-left.tooltip-155.fontCorrection
              span.green_dot
              span - Primary language
              br
              span.orange_dot
              span - Secondary language
              br
              span.red_dot
              span - Neither
    //- .row.p2p-section-wrap(*ngIf="p2p.deadline")
    //-   .col-80
    //-     .row.section-title.
    //-       DEADLINE
    //-     .row.section-item.
    //-       {{p2p.deadline | date:'short'}}
    //-   .col-20
    //-     .section-icon-wrap([ngClass]="deadlineColor")
    //-       i.kl-clock
    .row.p2p-summary-wrap
      .col-100
        .row.section-title.
          SUMMARY
        .row.section-item.
          {{p2p.text}}
