@import "../../../../kl-styles/variables.scss";

.p2p-card-wrap {
    width: 230px;
    height: 310px;
    display: inline-flex;
    margin: 5px 7px;
    cursor: pointer;
    border: $outline;
    border-radius: $border-radius;
}

.p2p-card-level-wrap {
  width: 10px;
}

.level-base {
  border-radius: $border-radius 0 0 $border-radius;
  width: 10px;
  height: 100%;
  position: relative;

    .level-anglebox {
      width: 15px;
      height: 10px;
      position: absolute;
      transform: rotate(45deg);
      bottom: 104px;
      left: 4px;
    }

    .level-widebox {
      position: absolute;
      width: 15px;
      height: 107px;
      bottom: 0;
      left: 5px;

      .level-text {
        position: absolute;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 14px;
        transform: rotate(-90deg);
        bottom: 45px;
        left: -43px;
      }
    }
}

.level-beginner, .level-beginner > div {
  background-color: $level-beginner-color;

  > span {
    left: -28px !important;
  }
}

.level-intermediate, .level-intermediate > div {
  background-color: $level-intermediate-color;
}

.level-advanced, .level-advanced > div {
  background-color: $level-advanced-color;

  > span {
    left: -31px !important;
  }
}

.p2p-card-content-wrap {
  border-radius: 0 $border-radius $border-radius 0;
  background-color: white;
  width: 100%;
  height: 100%;
  padding-left: 15px;

  .bookmark-wrap {
    position: relative;

    .kl-bookmark2 {
      position: absolute;
      right: 10px;
      top: -1px;
      font-size: 26px;
      color: $hover-middle-color;

      &:hover {
        cursor: pointer;
        color: $knowlead-primary;
      }
    }

    .bookmarked {
      color: $knowlead-primary;

      &:hover {
        color: $hover-middle-color;
      }
    }
  }

  .section-title {
    text-transform: uppercase;
    color: $knowlead-primary;
    opacity: 0.8;
    font-size: 10px;
  }

  .section-item {
    font-size: 14px;
  }

  .section-icon-wrap {
    font-size: 23px;
    margin: 8px 0 0 5px;
    color: $hover-dark-color;
    opacity: 0.7;
  }

  .profile-name-wrap {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    margin: 7px 0 0 7px;
    height: 50px;
    align-items: center;

    .profile-name {
      max-width: 130px;

      > a {
        text-decoration: none;
        color: $font-primary-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .p2p-summary-wrap {
    max-width: 194px;
    height: auto;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;

    div:nth-child(2) {
      color: $font-secondary-color;
    }

    .fade {
      position: relative;
      height: 4.3em; /* exactly three lines */
    }
    .fade:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
      height: 1em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 60%);
    }
  }

  .addMargin {
    margin-top: 30px;
  }
}

.low {
  color: $level-low !important;
}

.mediocre {
  color: $level-mediocre !important;
}

.high {
  color: $level-high !important;
}
