
<div class="p2p-card-wrap">
  <div class="p2p-card-level-wrap">
    <div class="level-base level-beginner">
      <div class="level-anglebox"></div>
      <div class="level-widebox"><span class="level-text">Beginner</span></div>
    </div>
  </div>
  <div class="p2p-card-content-wrap">
    <div class="row bookmark-wrap"><i class="kl-bookmark2"></i></div>
    <div class="row profile-info-wrap">
      <div class="col-25">
        <div class="profile-picture"><a href="#">
            <app-profile-picture [user]="undefined" [uploadable]="false" size="small"></app-profile-picture></a></div>
      </div>
      <div class="col-75">
        <div class="profile-name-wrap">
          <div class="row profile-name"><a href="#">Ejub Hadzic</a></div>
        </div>
      </div>
    </div>
    <div class="row p2p-section-wrap">
      <div class="col-80">
        <div class="row section-title">SUBJECT</div>
        <div class="row section-item">CSS Master</div>
      </div>
      <div class="col-20">
        <div class="section-icon-wrap"><i class="kl-subject"></i></div>
      </div>
    </div>
    <div class="row p2p-section-wrap">
      <div class="col-80">
        <div class="row section-title">REWARD</div>
        <div class="row section-item">420 Minutes </div>
      </div>
      <div class="col-20">
        <div class="section-icon-wrap mediocre"><i class="kl-currency"></i></div>
      </div>
    </div>
    <div class="row p2p-section-wrap">
      <div class="col-80">
        <div class="row section-title">LANGUAGES</div>
        <div class="row section-item">English</div>
      </div>
      <div class="col-20">
        <div class="section-icon-wrap high"><i class="kl-globe"></i></div>
      </div>
    </div>
    <div class="row p2p-section-wrap">
      <div class="col-80">
        <div class="row section-title">DEADLINE</div>
        <div class="row section-item">4.April, 2017. 15:00</div>
      </div>
      <div class="col-20">
        <div class="section-icon-wrap mediocre"><i class="kl-clock"></i></div>
      </div>
    </div>
    <div class="row p2p-summary-wrap">
      <div class="col-100">
        <div class="row section-title">SUMMARY</div>
        <div class="row section-item">Hello everyone, I am interested in learning japanese for beginners. I know harigana and katakana already.</div>
      </div>
    </div>
  </div>
</div>