
.p2p-card-wrap
  .p2p-card-level-wrap
    .level-base.level-beginner
      .level-anglebox
      .level-widebox
        span.level-text.
          Beginner
  .p2p-card-content-wrap
    .row.profile-info-wrap
      .col-25
        .profile-picture
          app-profile-picture([user]="undefined" [uploadable]="false" size="small")
      .col-75
        .profile-name.
          Ejub Hadzic
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          SUBJECT
        .row.section-item.
          CSS Master
      .col-20
        .section-icon-wrap
          .kl-subject
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          REWARD
        .row.section-item.
          420 Minutes
      .col-20
        .section-icon-wrap
          .kl-currency
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          LANGUAGES
        .row.section-item.
          English
      .col-20
        .section-icon-wrap
          .kl-globe
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          DEADLINE
        .row.section-item.
          4.April, 2017. 15:00
      .col-20
        .section-icon-wrap
          .kl-clock
    .row.p2p-section-wrap
      .col-100
        .row.section-title.
          SUMMARY
        .row.section-item.
          Lorem ipsum dolor asfkh asb ofuasb fas sit amet, consectetur adipisicing elit...
