
<div class="p2p-card-wrap" *ngIf="p2p.createdBy &amp;&amp; p2p.languages &amp;&amp; p2p.fos">
  <div class="p2p-card-level-wrap">
    <div class="level-base level-beginner">
      <div class="level-anglebox"></div>
      <div class="level-widebox"><span class="level-text">Beginner</span></div>
    </div>
  </div>
  <div class="p2p-card-content-wrap fade">
    <div class="row bookmark-wrap"><i class="kl-bookmark2"></i></div>
    <div class="row profile-info-wrap">
      <div class="col-25">
        <div class="profile-picture"><a routerLink="{{p2p.user | userProfileLink}}">
            <app-profile-picture [user]="p2p.createdBy" [uploadable]="false" size="small"></app-profile-picture></a></div>
      </div>
      <div class="col-75">
        <div class="profile-name-wrap">
          <div class="row profile-name"><a routerLink="{{p2p.createdBy | userProfileLink}}">{{p2p.createdBy | fullName}}</a></div>
        </div>
      </div>
    </div>
    <div class="row p2p-section-wrap">
      <div class="col-80">
        <div class="row section-title">SUBJECT</div>
        <div class="row section-item">{{p2p.fos.name}}</div>
      </div>
      <div class="col-20">
        <div class="section-icon-wrap" [ngClass]="fosColor"><i class="kl-subject"></i></div>
      </div>
    </div>
    <div class="row p2p-section-wrap">
      <div class="col-80">
        <div class="row section-title">REWARD</div>
        <div class="row section-item">{{p2p.actualPrice}} Minutes</div>
      </div>
      <div class="col-20">
        <div class="section-icon-wrap" [ngClass]="priceColor"><i class="kl-currency"></i></div>
      </div>
    </div>
    <div class="row p2p-section-wrap">
      <div class="col-80">
        <div class="row section-title">LANGUAGES</div>
        <div class="row section-item">
          <div *ngFor="let item of p2p.languages">{{item.code | uppercase}}</div>
        </div>
      </div>
      <div class="col-20">
        <div class="section-icon-wrap" [ngClass]="languageColor"><i class="kl-globe"></i></div>
      </div>
    </div>
    <div class="row p2p-summary-wrap">
      <div class="col-100">
        <div class="row section-title">SUMMARY</div>
        <div class="row section-item">{{p2p.text}}</div>
      </div>
    </div>
  </div>
</div>