.p2p-card-wrap(*ngIf="p2p.createdBy && p2p.languages && p2p.fos")
  .p2p-card-level-wrap
    .level-base.level-beginner
      .level-anglebox
      .level-widebox
        span.level-text.
          Beginner
  .p2p-card-content-wrap.fade
    .row.bookmark-wrap
      //- ADD bookmarked CLASS TO THE ICON BELOW WHEN IT IS CLICKED
      i.kl-bookmark2
    .row.profile-info-wrap
      .col-25
        .profile-picture
          //- Link to profile
          a(routerLink="{{p2p.user | userProfileLink}}")
            app-profile-picture([user]="p2p.createdBy" [uploadable]="false" size="small")
      .col-75
        .profile-name-wrap
          .row.profile-name
            a(routerLink="{{p2p.createdBy | userProfileLink}}") {{p2p.createdBy | fullName}}
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          SUBJECT
        .row.section-item.
          {{p2p.fos.name}}
      .col-20
        .section-icon-wrap([ngClass]="fosColor")
          i.kl-subject
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          REWARD
        .row.section-item.
          {{p2p.actualPrice}} Minutes
      .col-20
        .section-icon-wrap([ngClass]="priceColor")
          i.kl-currency
    .row.p2p-section-wrap
      .col-80
        .row.section-title.
          LANGUAGES
        .row.section-item
          div(*ngFor="let item of p2p.languages").
            {{item.code | uppercase}}
      .col-20
        .section-icon-wrap([ngClass]="languageColor")
          i.kl-globe
    //- .row.p2p-section-wrap(*ngIf="p2p.deadline")
    //-   .col-80
    //-     .row.section-title.
    //-       DEADLINE
    //-     .row.section-item.
    //-       {{p2p.deadline | date:'short'}}
    //-   .col-20
    //-     .section-icon-wrap([ngClass]="deadlineColor")
    //-       i.kl-clock
    .row.p2p-summary-wrap
      .col-100
        .row.section-title.
          SUMMARY
        .row.section-item.
          {{p2p.text}}
