<div class="wrapper">
    <div class="title" *ngIf="notebook && !!notebook.name">
        {{notebook.name}}
    </div>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 266.1 308.4" style="enable-background:new 0 0 266.1 308.4;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#027BB6;}
	.st1{fill:#EDEDED;}
	.st2{fill:#D3D3D3;}
	.st3{fill:#FFFFFF;}
	.st4{fill:#2B2B2B;}
	.st5{fill:none;stroke:#414042;stroke-width:3;stroke-miterlimit:10;}
</style>
<g id="XMLID_1_">
	<path id="XMLID_32_" [style.fill]="notebook?.primaryColor" d="M266.1,291.8c0,9.2-7.4,16.6-16.6,16.6H24.2c-9.2,0-16.6-7.4-16.6-16.6V16.6
		C7.6,7.4,15,0,24.2,0h225.4c9.2,0,16.6,7.4,16.6,16.6V291.8z"/>
	<polygon id="XMLID_31_" class="st1" points="255.6,297.3 250.9,301.2 250.9,6.5 255.6,9.4 	"/>
	<polygon id="XMLID_30_" class="st2" points="260.2,289.1 255.6,298.7 255.6,11.7 260.2,20.5 	"/>
	<circle id="XMLID_29_" class="st3" cx="30.2" cy="35.5" r="5.5"/>
	<circle id="XMLID_28_" class="st3" cx="30.2" cy="74.1" r="5.5"/>
	<circle id="XMLID_27_" class="st3" cx="30.2" cy="112.7" r="5.5"/>
	<circle id="XMLID_26_" class="st3" cx="30.2" cy="151.3" r="5.5"/>
	<circle id="XMLID_25_" class="st3" cx="30.2" cy="189.9" r="5.5"/>
	<circle id="XMLID_24_" class="st3" cx="30.2" cy="228.5" r="5.5"/>
	<circle id="XMLID_23_" class="st3" cx="30.2" cy="267.1" r="5.5"/>
	<g id="XMLID_7_">
		<g id="XMLID_21_">
			<path id="XMLID_22_" [style.fill]="notebook?.secondaryColor" d="M29.1,39H3.5C1.6,39,0,37.4,0,35.5C0,33.6,1.6,32,3.5,32h25.5c1.9,0,3.5,1.6,3.5,3.5
				C32.6,37.4,31,39,29.1,39z"/>
		</g>
		<g id="XMLID_19_">
			<path id="XMLID_20_" [style.fill]="notebook?.secondaryColor" d="M29.1,77.5H3.5C1.6,77.5,0,76,0,74c0-1.9,1.6-3.5,3.5-3.5h25.5c1.9,0,3.5,1.6,3.5,3.5
				C32.6,76,31,77.5,29.1,77.5z"/>
		</g>
		<g id="XMLID_17_">
			<path id="XMLID_18_" [style.fill]="notebook?.secondaryColor" d="M29.1,116.2H3.5c-1.9,0-3.5-1.6-3.5-3.5c0-1.9,1.6-3.5,3.5-3.5h25.5c1.9,0,3.5,1.6,3.5,3.5
				C32.6,114.6,31,116.2,29.1,116.2z"/>
		</g>
		<g id="XMLID_15_">
			<path id="XMLID_16_" [style.fill]="notebook?.secondaryColor" d="M29.1,154.8H3.5c-1.9,0-3.5-1.6-3.5-3.5c0-1.9,1.6-3.5,3.5-3.5h25.5c1.9,0,3.5,1.6,3.5,3.5
				C32.6,153.2,31,154.8,29.1,154.8z"/>
		</g>
		<g id="XMLID_13_">
			<path id="XMLID_14_" [style.fill]="notebook?.secondaryColor" d="M29.1,193.4H3.5c-1.9,0-3.5-1.6-3.5-3.5c0-1.9,1.6-3.5,3.5-3.5h25.5c1.9,0,3.5,1.6,3.5,3.5
				C32.6,191.9,31,193.4,29.1,193.4z"/>
		</g>
		<g id="XMLID_11_">
			<path id="XMLID_12_" [style.fill]="notebook?.secondaryColor" d="M29.1,232.4H3.5c-1.9,0-3.5-1.6-3.5-3.5s1.6-3.5,3.5-3.5h25.5c1.9,0,3.5,1.6,3.5,3.5
				S31,232.4,29.1,232.4z"/>
		</g>
		<g id="XMLID_9_">
			<path id="XMLID_10_" [style.fill]="notebook?.secondaryColor" d="M29.1,270.5H3.5c-1.9,0-3.5-1.6-3.5-3.5c0-1.9,1.6-3.5,3.5-3.5h25.5c1.9,0,3.5,1.6,3.5,3.5
				C32.6,268.9,31,270.5,29.1,270.5z"/>
		</g>
	</g>
	<line id="XMLID_5_" class="st5" x1="46.8" y1="0" x2="46.8" y2="308.4"/>
</g>
</svg>
</div>