<article class="slds-card slds-card--narrow slds-container--small slds-container--center">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__body slds-truncate">
        <h1 class="slds-text-heading--large">
          {{"profile-setup-page:title" | translate}}
        </h1>
      </div>
    </header>
  </div>
    
  <div class="slds-card__body">
    <form (ngSubmit)="submit()" [formGroup]="form" *ngIf="form != null">

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:name' | translate}}</div>
        <input type="text" placeholder="{{'common:name' | translate}}" formControlName="name">
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:surname' | translate}}</div>
        <input type="text" placeholder="{{'common:surname' | translate}}" formControlName="surname">
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{"common:birthdate" | translate}}</div>
        <input type="hidden" formControlName="birthdate">
        <button nglButton="neutral" (click)="dateSelector = true" type="button">
          <span *ngIf="form.value.birthdate == null">
            {{"profile-setup-page:open date picker" | translate}}
          </span>
          <span *ngIf="form.value.birthdate != null">
            {{form.value.birthdate | date}}
          </span>
        </button>
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{"common:gender" | translate}}</div>
        <span nglDropdown [(open)]="genderSelector">
          <button class="slds-button slds-button--neutral" nglDropdownTrigger type="button">
            <span class="slds-truncate">
              {{getGender() | translate}}
            </span>
            <ngl-icon icon="down" type="default" size="x-small"></ngl-icon>
          </button>
          <div class="slds-dropdown slds-dropdown--left">
            <ul class="dropdown__list" role="menu">
              <li class="slds-dropdown__item">
                <a role="menuitem" nglDropdownItem (click)="form.patchValue({isMale: true}); genderSelector = false;">
                  {{"common:male" | translate}}
                </a>
              </li>
              <li class="slds-dropdown__item">
                <a role="menuitem" nglDropdownItem (click)="form.patchValue({isMale: false}); genderSelector = false;">
                  {{"common:female" | translate}}
                </a>
              </li>
            </ul>
          </div>
        </span>
        <input type="hidden" formControlName="isMale">
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:about me' | translate}}</div>
        <textarea formControlName="aboutMe" placeholder="{{'common:about me' | translate}}"></textarea>
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:country' | translate}}</div>
        <ngl-lookup [lookup]="countryLookup"
            debounce="0"
            field="name"
            (pickChange)="countryChanged($event)"
            [(pick)]="country">
          <template nglLookupItem let-ctx>
            <div class="slds-media__body">
              <div class="slds-lookup__result-text"><img class="flag flag-{{ctx.code}}">{{ctx.name}}</div>
            </div>
          </template>
        </ngl-lookup>
        <input type="hidden" formControlName="country">
      </ngl-form-element>

      <ngl-form-element *ngIf="states.length > 0">
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:country state' | translate}}</div>
        <ngl-lookup [lookup]="stateLookup"
            debounce="0"
            field="name"
            (pickChange)="stateChanged($event)"
            [(pick)]="state">
        </ngl-lookup>
        <input type="hidden" formControlName="state">
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:native language' | translate}}</div>
        <ngl-lookup [lookup]="languageLookup"
            debounce="0"
            field="name"
            (pickChange)="mainLanguageChanged($event)"
            [(pick)]="motherTongue">
        </ngl-lookup>
        <input type="hidden" formControlName="motherTongue">
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:other languages' | translate}}</div>
        <ngl-pill *ngFor="let language of form.value.languages" (nglPillRemove)="languageRemoved(language)">
          {{language.name}}
        </ngl-pill>
        <ngl-lookup [lookup]="languageLookup"
            debounce="0"
            field="name"
            [(pick)]="newLanguage"
            (pickChange)="languageAdded($event)">
        </ngl-lookup>
        <input type="hidden" formControlName="languages">
      </ngl-form-element>

    </form>
  </div>
  <div class="slds-card__footer">
    <button nglButton="brand" (click)="submit()">
      {{"profile-setup-page:submit" | translate}}
    </button>
  </div>
</article>

<ngl-modal [(open)]="dateSelector" header="{{'profile-setup-page:select birthdate' | translate}}">
  <div body>
    <ngl-datepicker (dateChange)="birthdayChanged($event)" [date]="null"></ngl-datepicker>
  </div>
  <template ngl-modal-footer>
    <button class="slds-button slds-button--brand" (click)="dateSelector = false">Save</button>
  </template>
</ngl-modal>