@import "../../../../kl-styles/variables.scss";


.search-wrap {

    a {
        color: $font-primary-color;
        text-decoration: none;
    }
}

.search-results {
    position: relative;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    top: 0px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    background-color: $button-header-hover-color;
    border: none;
    border-top: 1px solid $knowlead-primary;
    border-bottom: 1px solid $knowlead-primary;
    padding-left: 20px;

    &:hover {
        background-color: $knowlead-primary;
        font-weight: normal;
    }
}

.targetPhoto {
    position: absolute;

}

.targetName {
    position: absolute;
    left: 70px;
}
