@import "../../../../kl-styles/variables.scss";


.search-wrap {

    a {
        color: $font-primary-color;
        text-decoration: none;
    }
}

.search-results {
    position: relative;
    z-index: 1000;
    width: 95%;
    margin: 0 auto;
    height: 40px;
    top: 38px;
    line-height: 40px;
    font-weight: bold;
    background-color: white;
    border-left: 1px solid $hover-dark-color;
    border-right: 1px solid $hover-dark-color;
    border-bottom: 1px solid $hover-dark-color;
    padding-left: 20px;

    &:hover {
        background-color: $hover-middle-color;
    }
}
