.errorMsg {
  background-color: red;
  padding: 10px;
  border: 1px black;
  border-radius: 10px;
  text-align: center;
}

.succMsg {
  background-color: green;
  padding: 10px;
  border: 1px black;
  border-radius: 10px;
  text-align: center;
}

.send-pass-reset-head {
  text-align: center;
}

.send-pass-reset {
  text-align: center;
}

.send-pass-reset-submit {
  text-align: center;
}

.everything {
  text-align: center;
}