<div class="col-85">
  <div class="col-100 log-reg-section">
    <div class="everything">

      <div class="send-pass-reset-head">
        <h1>Password Reset</h1>
      </div>
      
      <div class="send-pass-reset">
        <form [formGroup]="form" (ngSubmit)="submitMail()">
          <p>Please enter your e-mail:</p>
          <input appFormControlError type="mail" name="mail" formControlName="mail">
        </form>
      </div>

      <div *ngIf="showError" class="errorMsg">
        <h3>Please enter a valid e-mail</h3>
      </div>

      <div *ngIf="sentSucc" class="succMsg">
        <h3>Please check your e-mail</h3>
      </div>
      
      <div class="send-pass-reset-submit">
        <button (click)="submitMail()">Submit!</button>
      </div>

      </div>
  </div>>
</div>