
<ng-template #editButton>
  <button type="submit">Save</button>
  <button (click)="cancelAction()">Cancel</button>
</ng-template>
<ng-template #showFemale>
  Female
  
  
</ng-template>
<form (submit)="onSubmit()" [formGroup]="form">
  <div class="row">
    <div class="col-100">
      <div class="profileInfoSidebar-wrap">
        <div class="profileInfoSidebar-title">Personal Information<a routerlink="" *ngIf="isMy() &amp;&amp; !editable; else editButton"><i class="kl-three-dots sidebarOptions" (click)="setEditable()"></i></a></div>
        <div class="profileInfo-item-wrap" *ngIf="user">
          <div class="row">
            <div class="profileInfo-item">
              <div class="col-37 itemTopic">First Name</div>
              <div class="col-63 item">
                <app-editable-text [editable]="editable" formControlName="name" placeholder="Name"></app-editable-text>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="profileInfo-item">
              <div class="col-37 itemTopic">Surname</div>
              <div class="col-63 item"> 
                <app-editable-text [editable]="editable" formControlName="surname" placeholder="Surname"></app-editable-text>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="profileInfo-item">
              <div class="col-37 itemTopic">Birth Date</div>
              <div class="col-63 item">
                <app-editable-flatpickr [editable]="editable" formControlName="birthdate"> </app-editable-flatpickr>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="profileInfo-item">
              <div class="col-37 itemTopic">Native Language</div>
              <div class="col-63 item"> 
                <app-editable-dropdown [editable]="editable" [options]="languages" formControlName="motherTongueId" placeholder="Language"></app-editable-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="profileInfo-item">
              <div class="col-37 itemTopic">Other Languages</div>
              <div class="col-63 item">
                <app-editable-dropdown [editable]="editable" [options]="languagesFilled" [multiple]="true" formControlName="languages" placeholder="Language"> </app-editable-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="profileInfo-item">
              <div class="col-37 itemTopic">Country</div>
              <div class="col-63 item">
                <app-editable-dropdown [editable]="editable" [options]="countries" formControlName="countryId" placeholder="Country"> </app-editable-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="profileInfo-item">
              <div class="col-37 itemTopic">Email</div>
              <div class="col-63 item">{{ user.email }}</div>
            </div>
          </div>
          <div class="row">
            <div class="profileInfo-item">
              <div class="col-37 itemTopic">Gender</div>
              <div class="col-63 item" *ngIf="user.isMale; else showFemale">
                Male
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>