.single-friend-wrap(*ngIf="user")
	.col-35
		.profileImage-wrap
			a.profile-link(routerLink='{{ user | userProfileLink }}')
				app-profile-picture([user]='user', [uploadable]='false', size='medium')
	.col-65
		.row#friend-options
			app-friendship-strip([otherId]="user.id") 
		.row
			.friend-name
				a(routerLink="{{ user | userProfileLink }}") {{ user | fullName}} 
		.row.friend-info-wrap
			.col-50
				.row
					.info-title Score
				.row
					.info-value  {{ user.pointsBalance }}
			.col-50
				.row
					.info-title Rank
				.row
					.info-value 156