
<div class="single-friend-wrap" *ngIf="user">
  <div class="col-35">
    <div class="profileImage-wrap"><a class="profile-link" routerLink="{{ user | userProfileLink }}">
        <app-profile-picture [user]="user" [uploadable]="false" size="medium"></app-profile-picture></a></div>
  </div>
  <div class="col-65">
    <div class="row" id="friend-options">
      <app-friendship-strip [otherId]="user.id"> </app-friendship-strip>
    </div>
    <div class="row">
      <div class="friend-name"><a routerLink="{{ user | userProfileLink }}">{{ user | fullName}} </a></div>
    </div>
    <div class="row friend-info-wrap">
      <div class="col-50">
        <div class="row">
          <div class="info-title">Score</div>
        </div>
        <div class="row">
          <div class="info-value"> {{ user.pointsBalance }}</div>
        </div>
      </div>
      <div class="col-50">
        <div class="row">
          <div class="info-title">Rank</div>
        </div>
        <div class="row">
          <div class="info-value">/</div>
        </div>
      </div>
    </div>
  </div>
</div>