<div class="row">
    <div class="col-33">
        <div class="single-friend-wrap">

            <div class="col-30">
                <div class="profileImage-wrap">
                    <a routerLink="" class="profile-link">
                        <app-profile-picture [user]="user" [uploadable]="false" class="centerV" size="medium"></app-profile-picture>
                    </a>
                </div>
            </div>
            <div class="col-70">
                <div class="row">
                    <div class="friend-name">Adnan Hadzicahmetoavdagic</div>
                </div>
                <div class="row">
                    <div class="friend-country">Bosnia and Hercegovina</div>
                </div>
                <div class="row">
                    <div class="col-50">
                        <div class="friend-score">2144 <span>Score</span></div>
                    </div>
                    <div class="col-50">
                        <!-- <div class="friend-rank">1940 <div>Rank</div></div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
