@import "../../../../../kl-styles/variables.scss";


.single-friend-wrap {
	height: 140px;
	display: inline-block;
	width: 32%;
	margin: 5px;
	background-color: white;
	border-radius: $border-radius;
	border: 1px solid $hover-dark-color;


	.profileImage-wrap {
		height: 140px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#friend-options {
		float: right;
		margin: 10px 20px 5px 0px;
	}

	.friend-name {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: bold;
		height: 50px;

		a {
			text-decoration: none;
			color: $font-primary-color;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.friend-country {
		display: flex;
		align-items: center;
		color: $font-secondary-color;
	}

	.friend-info-wrap {
		.info-title {
			font-size: 11px;
			color: $font-secondary-color;
			text-transform: uppercase;
		}

		.info-value {
			font-size: 16px;
			font-weight: bold;
			color: $font-primary-color;
		}
	}

}
