<div class="row">
    <div class="col-30">
        <div class="single-friend-wrap">

            <div class="col-30">
                <div class="profileImage-wrap">
                    <a routerLink="" class="profile-link">
                        <app-profile-picture [user]="url" [uploadable]="false" class="centerV" size="medium"></app-profile-picture>
                    </a>
                </div>
            </div>
            <div class="col-70">
                <div class="row">
                    <div class="friend-name">Ejub Hadzic</div>
                </div>
                <div class="row">
                    <div class="friend-score">2144 Score</div>
                </div>
            </div>

        </div>
    </div>
</div>
