@import "../../../kl-styles/variables.scss";


nav {
    width: 100%;
    height: $nav-height;
    background-color: $knowlead-primary;
    color: white;
}

a, :visited, :hover, :active {
    text-decoration: none;
    color: white;
}

.headerPosRel {
    position: relative;
    height: $nav-height;
}

.logo-short {
    max-height: $nav-logo-max-height;
}


.search-wrap {
    height: $nav-height;
    position: relative;
}


.headerIcon {
    max-width: $nav-icon-max-width;
}

.verticalLine {
    width: 1px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    background-color: transparentize($dark-icon-color, 0.8);
    margin-left: 25px;

}

.centerVr {
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
}

.centerVl {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
