<!--OVAJ NGIF MORA BITI PRISUTAN-->
<nav *ngIf="user && shouldShow">
    <div class="grid-container posRel zOne header-wrap">
        <div  *ngIf="!user.name || user.interests?.length === 0">
            <a routerLink="/">
                <img class="centerVl logo-beta-short" src="/assets/images/logo/knowlead_logo_white_beta.png">
            </a>
        </div>
        <div class="row" *ngIf="user.name && user.interests?.length > 0">
            <div class="col-30">
                <div class="col-25 headerPosRel">
                    <a routerLink="/">
                        <i class="kl-logo-short logo-short centerVl"></i>
                    </a>
                </div>
                <div class="col-25 headerPosRel">
                    <a routerLink="/store" class="centerVl">
                        <div class="headerMainButtons">Store</div>
                    </a>
                </div>
                <div class="col-25 headerPosRel">
                    <a routerLink="/" class="centerVl">
                        <div class="headerMainButtons">Home</div>
                    </a>
                </div>
                <div class="col-25 headerPosRel">
                    <a routerLink="{{user | userProfileLink}}" class="centerVl headerUsername">
                        <div class="headerMainButtons">{{user.name || 'Profile'}}</div>
                    </a>
                </div>
            </div>
            <div class="col-40">
                <div class="search-wrap">
                    <app-header-search></app-header-search>
                </div>
            </div>
            <div class="col-30 headerPosRel">
                <div class="col-25 headerPosRel">
                    <app-notification-icon notificationTitle="Friendships" iconClass="kl-friends" class="headerIcon centerVr" [notificationSource]="notificationService.friendshipNotificationsService">
                    </app-notification-icon>
                </div>
                <div class="col-25 headerPosRel">
                    <app-notification-icon notificationTitle="Conversations" iconClass="kl-messages" class="headerIcon centerV" [notificationSource]="notificationService.chatNotificationsService">
                    </app-notification-icon>
                </div>
                <div class="col-25 headerPosRel">
                    <app-notification-icon notificationTitle="Notifications" iconClass="kl-notifications" class="headerIcon centerVl" [notificationSource]="notificationService.userNotificationsService">
                    </app-notification-icon>
                </div>
                <div class="col-25 headerPosRel">
                    <div class="verticalLine"></div>
                    <div class="accountOptions-wrap">
                        <a class="centerV">
                            <i class="kl-account-options headerIcon centerV" id="accOptionsIcon" [popover]="popover"></i>
                            <popover-content #popover placement="bottom" [closeOnClickOutside]="true">
                                <div class="accountOptions-content">

                                    <div class="row accountOptions-title-wrap">
                                        <span class="accountOptions-title">Your Account</span>
                                    </div>

                                    <div class="row accountOptions-button">
                                        <a routerLink="/profilesetup" class="posRel">
                                            <div class="col-30 posRel">
                                                <i class="kl-settings accountOptions-icon centerV"></i>
                                            </div>
                                            <div class="col-70 posRel">
                                                <p class="logoutButtonText centerVl">Settings</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="row accountOptions-button" appFeedbackForm>
                                        <a class="posRel">
                                            <div class="col-30 posRel">
                                                <i class="kl-feedback accountOptions-icon centerV"></i>
                                            </div>
                                            <div class="col-70 posRel">
                                                <p class="logoutButtonText centerVl">Send Feedback</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="row accountOptions-button">
                                        <a (click)="logout()" class="posRel">
                                            <div class="col-30 posRel">
                                                <i class="kl-logout accountOptions-icon centerV"></i>
                                            </div>
                                            <div class="col-70 posRel">
                                                <p class="logoutButtonText centerVl">Log Out</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </popover-content>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
