<!--OVAJ NGIF MORA BITI PRISUTAN-->
<nav *ngIf="user && shouldShow" id="headerSticky">
    <div class="grid-container posRel zOne">
        <div class="row">
            <div class="col-30">
                <div class="col-25 headerPosRel">
                    <a routerLink="/">
                        <i class="kl-logo-short logo-short centerVl"></i>
                    </a>
                </div>
                <div class="col-25 headerPosRel">
                    <a routerLink="/store" class="centerVl">Store</a>
                </div>
                <div class="col-25 headerPosRel">
                    <a routerLink="/" class="centerVl">Home</a>
                </div>
                <div class="col-25 headerPosRel">
                    <a routerLink="/profile/{{user.id}}" class="centerVl headerUsername">{{user.name || 'Profile'}}</a>
                </div>
            </div>
            <div class="col-40">
                <form class="search-wrap">
                    <input class="searchInput" type="text" name="search" placeholder="Search people or subjects..">
                </form>
            </div>
            <div class="col-30 headerPosRel">
                <div class="col-25 headerPosRel">
                    <app-notification-icon notificationTitle="Friendships" iconClass="kl-friends" class="headerIcon centerVr" [notificationSource]="notificationService.friendshipNotificationService">
                    </app-notification-icon>
                </div>
                <div class="col-25 headerPosRel">
                    <app-notification-icon notificationTitle="Converisations" iconClass="kl-messages" class="headerIcon centerV" [notificationSource]="testNotificationSource">
                    </app-notification-icon>
                </div>
                <div class="col-25 headerPosRel">
                    <app-notification-icon notificationTitle="Notifications" iconClass="kl-notifications" class="headerIcon centerVl" [notificationSource]="notificationService.userNotificationsService">
                    </app-notification-icon>
                </div>
                <div class="col-25 headerPosRel">
                    <div class="verticalLine"></div>
                    <div class="accountOptions-wrap">
                        <a class="centerV">
                            <i class="kl-account-options headerIcon centerV" id="accOptionsIcon" [popover]="popover"></i>
                            <popover-content #popover placement="bottom" [closeOnClickOutside]="true">
                                <div class="accountOptions-content">

                                    <div class="row accountOptions-title-wrap">
                                        <span class="accountOptions-title">Your Account</span>
                                    </div>

                                    <div class="row accountOptions-button">
                                        <a class="posRel">
                                            <div class="col-30 posRel">
                                                <i class="kl-settings accountOptions-icon centerV"></i>
                                            </div>
                                            <div class="col-70 posRel">
                                                <p class="logoutButtonText centerVl">Settings</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="row accountOptions-button">
                                        <a class="posRel">
                                            <div class="col-30 posRel">
                                                <i class="kl-feedback accountOptions-icon centerV"></i>
                                            </div>
                                            <div class="col-70 posRel">
                                                <p class="logoutButtonText centerVl">Send Feedback</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="row accountOptions-button">
                                        <a (click)="logout()" class="posRel">
                                            <div class="col-30 posRel">
                                                <i class="kl-logout accountOptions-icon centerV"></i>
                                            </div>
                                            <div class="col-70 posRel">
                                                <p class="logoutButtonText centerVl">Log Out</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </popover-content>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
