@import "../../../kl-styles/variables.scss";

#headerSticky {
    position: fixed;
    z-index: 1000;
    top: 0;
}

nav {
    width: 100%;
    height: $nav-height;
    background-color: $knowlead-primary;
    color: white;
    box-shadow: 0 0 3px $font-primary-color;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.headerPosRel {
    position: relative;
    height: $nav-height;
}

.logo-short {
    font-size: 50px;
    color: white;
}

.logo-beta-short {
    height: 35px;
    margin-left: 200px;
}

.headerUsername {
    max-width: 75px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.search-wrap {
    height: $nav-height;
    position: relative;
}

#accOptionsIcon {
    font-size: 28px;
    color: $icon-dark-color;

    &:hover {
        background-color: $button-header-hover-color;
        border-radius: $border-radius;
    }
}

.verticalLine {
    width: 1px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    background-color: transparentize($icon-dark-color, 0.8);
    margin-left: 25px;
}


.accountOptions-content {
    border: 1px solid $hover-dark-color;
    box-shadow: 0 0 5px transparentize($font-primary-color, 0.3);
    outline: none;
    width: 180px;
    background-color: white;
    margin-top: 11px;
}

.accountOptions-title-wrap {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid $placeholder-color;
    text-transform: uppercase;
}

.accountOptions-title {
    color: $font-secondary-color;
    font-size: 10px;
    cursor: default;
}

.accountOptions-button {
    text-decoration: none;
    width: 100%;
    height: 37px;

    &:hover {
        text-decoration: none;
        color: $font-primary-color;
        background-color: $hover-middle-color;
    }
}

.accountOptions-icon {
    color: $font-primary-color;
    font-size: 20px;
}

.logoutButtonText {
    font-weight: 600;
    text-decoration: none;
    color: $font-primary-color;
    width: 100%;
    text-align: left;
}
