<div class="col-85">
  <div class="col-100 log-reg-section">
     <div class="everything">
        <div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="tooltip-parent">
              <p>New Password:</p>
              <input appFormControlError type="password" name="newPassword" formControlName="newPassword">
            </div>
            <div class="tooltip-parent">
              <p>Confirm New Password:</p>
              <input appFormControlError type="password" name="newPassRe" formControlName="newPassRe">
            </div>
          </form>
        </div>
        <div class="diffPass" *ngIf="errMsg">
          <p>Passwords You Entered Are Different</p>
        </div>
        <div class="succMsg" *ngIf="succMsg">
          <p>Your Password Is Changed</p>
        </div>
        <div>
          <button (click)="onSubmit()">Submit</button>
        </div>
     </div>
  </div>
</div>