.friendship-strip-wrap(*ngIf='!isSelf()')
	.col-90
		button.first-option Send Friend Request
	.col-10
		span.dropdown-icon
			i.kl-more
	.dropdown-content
		button.other-option Remove Friend
		button.other-option Block Friend
		button.other-option Remove Friend
		button.other-option Remove Friend


	//- button(*ngIf='canRemove()', (click)='doAction(actions.RemoveFriend)') {{"friendship|remove" | translate}}
	//- button(*ngIf='canBlock()', (click)='doAction(actions.BlockUser)') {{"friendship|block" | translate}}
	//- button(*ngIf='canCancel()', (click)='doAction(actions.CancelRequest)') {{"friendship|cancel" | translate}}
	//- button(*ngIf='canUnblock()', (click)='doAction(actions.UnblockUser)') {{"friendship|unblock" | translate}}
	//- button(*ngIf='canAdd()', (click)='doAction(actions.NewRequest)') {{"friendship|add" | translate}}
	//- button(*ngIf='canAccept()', (click)='doAction(actions.AcceptRequest)') {{"friendship|accept" | translate}}
	//- button(*ngIf='canDecline()', (click)='doAction(actions.DeclineRequest)') {{"friendship|decline" | translate}}