
<div class="friendship-strip-wrap" *ngIf="!isSelf()">
  <div class="col-90">
    <button class="first-option">Send Friend Request</button>
  </div>
  <div class="col-10"><span class="dropdown-icon"><i class="kl-more"></i></span></div>
  <div class="dropdown-content">
    <button class="other-option">Remove Friend</button>
    <button class="other-option">Block Friend</button>
    <button class="other-option">Remove Friend</button>
    <button class="other-option">Remove Friend</button>
  </div>
</div>