@import "variables.scss";
// NOTE: CHANGE THIS. This class is present on any form input if it is invalid
// NOTE: FORM also receives the class
input.ng-invalid.ng-dirty,
app-datepicker.ng-invalid.ng-dirty {
    background-color: red;
}

input.defaultInput[type=text],
input.defaultInput[type=password] {
    border: 1px solid $hover-dark-color;
    border-radius: 5px;
    width: 100%;
    padding: 12px 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    outline: none;
    &:focus {
        box-shadow: 0 0 5px transparentize($knowlead-primary, 0.6);
        border: 1px solid transparentize($knowlead-primary, 0.6);
    }
}

input.searchInput[type=text] {
    width: 100%;
    padding: 5px 0 5px 20px;
    color: $font-primary-color;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    border: 1px solid $hover-dark-color;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    outline: none;
    &::-webkit-input-placeholder {
        color: $placeholder-color;
    }
    &:focus {
        box-shadow: 0 0 5px transparentize(white, 0.6);
        border: 1px solid transparentize(white, 0.6);
    }
}