@import "variables.scss";
// NOTE: CHANGE THIS. This class is present on any form input if it is invalid
// NOTE: FORM also receives the class
input.ng-invalid.ng-dirty,
app-datepicker.ng-invalid.ng-dirty {
    box-shadow: 0 0 5px $error-color;
    border: 1px solid $error-color;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    outline: none;
}

input.defaultInput[type=text],
input.defaultInput[type=password] {
    border: 1px solid $hover-dark-color;
    border-radius: 5px;
    width: 100%;
    padding: 12px 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    outline: none;

    &::-webkit-input-placeholder {
        color: $placeholder-color;
    }
    &:focus {
        box-shadow: 0 0 5px transparentize($knowlead-primary, 0.6);
        border: 1px solid transparentize($knowlead-primary, 0.6);
    }
}

input.searchInput[type=text] {
    width: 100%;
    padding: 5px 0 5px 20px;
    color: $font-primary-color;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    border: 1px solid $hover-dark-color;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    outline: none;
    &::-webkit-input-placeholder {
        color: $placeholder-color;
    }
    &:focus {
        box-shadow: 0 0 5px transparentize(white, 0.6);
        border: 1px solid transparentize(white, 0.6);
    }
}

input.interestSearchInput[type=text] {
    width: 100%;
    padding: 5px 0 5px 20px;
    color: $font-primary-color;
    margin: 0;
    border-radius: 20px;
    border: 1px solid $placeholder-color;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    outline: none;
    &::-webkit-input-placeholder {
        color: $placeholder-color;
    }
    &:focus {
        box-shadow: 0 0 5px transparentize($knowlead-primary, 0.6);
        border: 1px solid transparentize($knowlead-primary, 0.6);
    }
}

.profileSetupInput > div{
    padding: 7px 0;
}

.placeholder {
    color: $placeholder-color;
}

ng-select > div > div.single > div.toggle:hover {
    background-color: transparent !important;
}


.postTextarea {
    min-width: 100%;
    max-width: 100%;
    border: none;
    min-height: 50px;
    padding: 10px;
    outline: none;
    resize: none;
    -webkit-transition: min-height 0.20s ease-in-out;
    -moz-transition: min-height 0.20s ease-in-out;
    -ms-transition: min-height 0.20s ease-in-out;

    &::-webkit-input-placeholder {
        color: $placeholder-color;
    }

    &:focus {
        min-height: 100px;
    }
}

input.postNumberInput[type=number] {
    border: none;
    width: 100%;
    height: 35px;
    padding: 3px 5px;
    outline: none;
    display: inline-block;

    &::-webkit-input-placeholder {
        color: $placeholder-color;
    }
}

.postSubjectInput, .postLanguageInput {
    height: 30px;

    > div {
        border: none;
        width: 100%;
        padding-top: 5px;
        outline: none;
        display: inline-block;

        > div.single > div.placeholder {
            color: $placeholder-color;
        }

        > div.multiple input::-webkit-input-placeholder {
            color: $placeholder-color;
        }
    }

}

.postDatepickInput > input[type=text] {
    width: 100%;
    height: 35px;
    border: none;

    &::-webkit-input-placeholder {
        color: $placeholder-color;
    }

}
