@font-face {
  font-family: 'knowlead-icons-font';
  src:  url('fonts/knowlead-icons-font.eot?yfd3l0');
  src:  url('fonts/knowlead-icons-font.eot?yfd3l0#iefix') format('embedded-opentype'),
    url('fonts/knowlead-icons-font.ttf?yfd3l0') format('truetype'),
    url('fonts/knowlead-icons-font.woff?yfd3l0') format('woff'),
    url('fonts/knowlead-icons-font.svg?yfd3l0#knowlead-icons-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'knowlead-icons-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kl-account-options:before {
  content: "\e900";
}
.kl-add-friend:before {
  content: "\e901";
}
.kl-back:before {
  content: "\e902";
}
.kl-bookmark:before {
  content: "\e903";
}
.kl-calendar:before {
  content: "\e904";
}
.kl-camera:before {
  content: "\e905";
}
.kl-camera-off:before {
  content: "\e906";
}
.kl-circle:before {
  content: "\e907";
}
.kl-clock:before {
  content: "\e908";
}
.kl-close:before {
  content: "\e909";
}
.kl-comment:before {
  content: "\e90a";
}
.kl-currency:before {
  content: "\e90b";
}
.kl-delete:before {
  content: "\e90c";
}
.kl-edit:before {
  content: "\e90d";
}
.kl-edit-profile:before {
  content: "\e90e";
}
.kl-feedback:before {
  content: "\e90f";
}
.kl-female:before {
  content: "\e910";
}
.kl-friends:before {
  content: "\e911";
}
.kl-globe:before {
  content: "\e912";
}
.kl-info:before {
  content: "\e913";
}
.kl-logo-short:before {
  content: "\e914";
}
.kl-logout:before {
  content: "\e915";
}
.kl-male:before {
  content: "\e916";
}
.kl-messages:before {
  content: "\e917";
}
.kl-mic:before {
  content: "\e918";
}
.kl-mic-off:before {
  content: "\e919";
}
.kl-more:before {
  content: "\e91a";
}
.kl-my:before {
  content: "\e91b";
}
.kl-notifications:before {
  content: "\e91c";
}
.kl-peer:before {
  content: "\e91d";
}
.kl-phone:before {
  content: "\e91e";
}
.kl-plus:before {
  content: "\e91f";
}
.kl-search:before {
  content: "\e920";
}
.kl-settings:before {
  content: "\e921";
}
.kl-stickies:before {
  content: "\e922";
}
.kl-subject:before {
  content: "\e923";
}
.kl-three-dots:before {
  content: "\e924";
}
.kl-display:before {
  content: "\e956";
}
.kl-cog:before {
  content: "\e994";
}

