@font-face {
  font-family: 'Knowlead-Icons-Font';
  src:  url('fonts/Knowlead-Icons-Font.eot?rb6ter');
  src:  url('fonts/Knowlead-Icons-Font.eot?rb6ter#iefix') format('embedded-opentype'),
    url('fonts/Knowlead-Icons-Font.ttf?rb6ter') format('truetype'),
    url('fonts/Knowlead-Icons-Font.woff?rb6ter') format('woff'),
    url('fonts/Knowlead-Icons-Font.svg?rb6ter#Knowlead-Icons-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kl-"], [class*=" kl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Knowlead-Icons-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kl-camera:before {
  content: "\e91d";
}
.kl-camera-off:before {
  content: "\e91e";
}
.kl-mic:before {
  content: "\e91f";
}
.kl-mic-off:before {
  content: "\e920";
}
.kl-phone:before {
  content: "\e921";
}
.kl-search:before {
  content: "\e91c";
}
.kl-more:before {
  content: "\e91b";
}
.kl-delete:before {
  content: "\e91a";
}
.kl-comment:before {
  content: "\e915";
}
.kl-currency:before {
  content: "\e912";
}
.kl-globe:before {
  content: "\e913";
}
.kl-clock:before {
  content: "\e911";
}
.kl-subject:before {
  content: "\e914";
}
.kl-edit-profile:before {
  content: "\e910";
}
.kl-bookmark:before {
  content: "\e90d";
}
.kl-feedback:before {
  content: "\e90e";
}
.kl-calendar:before {
  content: "\e90f";
}
.kl-my:before {
  content: "\e916";
}
.kl-peer:before {
  content: "\e917";
}
.kl-settings:before {
  content: "\e918";
}
.kl-edit:before {
  content: "\e919";
}
.kl-info:before {
  content: "\e90c";
}
.kl-logo-short:before {
  content: "\e90b";
}
.kl-back:before {
  content: "\e90a";
}
.kl-female:before {
  content: "\e900";
}
.kl-friends:before {
  content: "\e901";
}
.kl-logout:before {
  content: "\e902";
}
.kl-male:before {
  content: "\e903";
}
.kl-messages:before {
  content: "\e904";
}
.kl-notifications:before {
  content: "\e905";
}
.kl-three-dots:before {
  content: "\e906";
}
.kl-close:before {
  content: "\e907";
}
.kl-account-options:before {
  content: "\e908";
}
.kl-plus:before {
  content: "\e909";
}

