
///////////////////////////////////////////////////////////
// COLOR CLASSES //////////////////////////////////////////
///////////////////////////////////////////////////////////


$error-color: red;
$knowlead-primary: #007bb6;
$knowlead-secondary: #ff5e3a;
$notification-unread-color: #edf2f6;
$notification-read-color: white;
$divider-color: #e6ecf5;
$background-color: #edf2f6;
$post-background-color: white;
$post-view-background-color: white;
$post-type-primary-color: white;
$post-type-secondary-color: #f7f8fc;
$hover-middle-color: #E6E7E9;
$hover-dark-color: #e1e2e5;
$placeholder-color: #c8cddd;
$placeholder-secondary-color: #7D7D7D;
$disabled-color: #AAACB4;
$font-secondary-color: #888da8;
$font-primary-color: #515365;
$icon-dark-color: #001722;
$tooltip-background-color: #333;
$button-header-hover-color: #0071A5;
$dropdown-item-color: #F1F4F9;

// Level Colors
$level-advanced-color: #007bb6;
$level-intermediate-color: #FE8A40;
$level-basic-color: #109648;

$level-low: #DE3C4B;
$level-mediocre: #FE8A40;
$level-high: #109648;

// Call Page Colors //
$call-video-background-color: #181818;
$call-video-primary-color: #222222;
$call-video-secondary-color: #363636;
$call-video-accent-color: #555555;
$call-video-font-color: #aaaaaa;


///////////////////////////////////////////////////////////
// SIZE CLASSES ///////////////////////////////////////////
///////////////////////////////////////////////////////////

$full-grid-width: 1100px;

$nav-height: 50px;
$nav-logo-max-height: 30px;
$nav-icon-max-width: 22px;
$single-notification-height: 75px;
$border-radius: 3px;
$icon-header-size: 20px;
$post-space-between-margin: 25px;

$chat-height: 30px;
$chat-width: 250px;


// BORDERS
$outline: 1px solid #e1e2e5;
$outline-dark: 1px solid #7d7d7d;
$divider: 2px solid #e1e2e5;


// PADDING
$padding-create-p2p-sections: 25px 20px 40px 30px;


//Sidebar width has to be writen manually in calc functions (call.page.component.scss)
$call-sidebar-width: 340px;
