$error-color: #e74c3c;
$knowlead-primary: #007bb6;
$knowlead-secondary: #ff5e3a;
$divider-color: #e6ecf5;
$background-color: #edf2f6;
$dark-hover-color: #e1e2e5;
$placeholder-color: #c8cddd;
$disabled-color: #AAACB4;
$light-font-color: #888da8;
$font-primary-color: #515365;
$dark-icon-color: #001722;
