
///////////////////////////////////////////////////////////
// COLOR CLASSES //////////////////////////////////////////
///////////////////////////////////////////////////////////


$error-color: red;
$knowlead-primary: #007bb6;
$knowlead-secondary: #ff5e3a;
$notification-unread-color: #edf2f6;
$notification-read-color: white;
$divider-color: #e6ecf5;
$background-color: #edf2f6;
$post-background-color: white;
$post-view-background-color: white;
$post-type-primary-color: white;
$post-type-secondary-color: #f7f8fc;
$hover-middle-color: #E6E7E9;
$hover-dark-color: #e1e2e5;
$placeholder-color: #c8cddd;
$disabled-color: #AAACB4;
$font-secondary-color: #888da8;
$font-primary-color: #515365;
$icon-dark-color: #001722;
$tooltip-background-color: #333;
$button-header-hover-color: #0071A5;

///////////////////////////////////////////////////////////
// SIZE CLASSES ///////////////////////////////////////////
///////////////////////////////////////////////////////////


$nav-height: 50px;
$nav-logo-max-height: 30px;
$nav-icon-max-width: 22px;
$single-notification-height: 75px;
$border-radius: 5px;
$icon-header-size: 20px;
$post-space-between-margin: 25px;

$chat-height: 35px;
