<ngl-modal [open]="call && user" (openChange)="decline()" class="incomingCall-popUp">
    <template nglModalHeader>
        <div class="row">
            <div class="col-100">
                <div class="incomingCall-title">Incoming Peer-to-Peer Video Call</div>
            </div>
        </div>
    </template>
    <div body>
        <div class="row">
            <div class="col-100">
                <div class="incomingCall-info">
                    <div class="col-20">
                        <div class="callerProfileImage-wrap">
                            <app-profile-picture [user]="otherUser() | async" class="centerV" size="small"></app-profile-picture>
                        </div>
                    </div>
                    <div class="col-80">
                        <div class="incomingCall-text"><a href="" class="callerName">{{otherUser() | async | fullName}}</a> is calling you to start Peer-to-Peer session.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="p2p">
            <div class="col-100">
                <div class="callSubject">Subject: <span>{{p2p?.fos.name}}</span></div>
            </div>
        </div>
        <audio src="/assets/sounds/incomingCall.mp3" autoplay loop *ngIf="call && user"></audio>
    </div>
  <template ngl-modal-footer>
    <div class="row">
        <div class="col-100">
            <div class="incomingCall-buttons-wrap">
                <div *ngIf="!isCaller()" class="incomingCall-buttons centerV">
                    <button type="button" (click)="decline()" class="declineButton">{{"call|decline" | translate}}</button>
                    <button type="button" (click)="accept()" class="answerButton">Answer</button>
                </div>
                <div *ngIf="isCaller()" class="incomingCall-buttons centerV">
                  <button type="button" (click)="redirect()" class="answerButton">
                    Go to call
                  </button>
                </div>
            </div>
        </div>
    </div>
    <!--<div *ngIf="!isCaller()">
      <button type="button" nglButton="brand" (click)="accept()">
        {{"call|accept" | translate}}
      </button>
      <button type="button" nglButton="destructive" (click)="decline()">
        {{"call|decline" | translate}}
      </button>
    </div>
    <div *ngIf="isCaller()">
      <button type="button" (click)="redirect()">
        Go to call
      </button>
    </div>-->
  </template>
</ngl-modal>
