@import "../../../../kl-styles/variables.scss";

.unread {
    background-color: green;
}

.single-notification-container {
    width: 100%;
    height: $single-notification-height;
    // background-color: $divider-color;
    border-bottom: 1px solid $divider-color;

    &:hover {
        background-color: $middle-hover-color;
    }
}


.notification-text-wrap {
    margin: 10px auto;
}


.fromWho > a {
    text-decoration: none;
    font-weight: bold;
    color: $font-primary-color;

    &:hover {
        text-decoration: underline;
    }
}

.notification-type {
    color: $light-font-color;
}

.post-type {
    color: $knowlead-secondary;
    font-weight: bold;
}

.timeAgo {
    position: absolute;
    font-size: 10px;
    color: $disabled-color;
    bottom: 7px;
    left: 0;
}

.hardPosRel {
    position: relative;
    height: $single-notification-height;
}

.notification-icon > img {
    opacity: 0.5;
    max-width: 25px;
    cursor: pointer;
}
