<a href="#">
    <div class="row single-notification-container" [class.unread]="!notification.read">
        <div class="col-20 posRel">
            <div class="profile-image-round-small centerV">
                <img src="/assets/images/testprofile.jpg" alt="" class="profile-image centerV">
            </div>
        </div>
        <div class="col-60 posRel">
            <div class="notification-text-wrap">
                <span class="fromWho">
                    <a href="#">Hepek Hepekowski</a>
                </span>
                <span class="notification-type">commented on your</span>
                <span class="post-type">peer-to-peer</span>
                <span class="notification-type">post.</span>
                <span class="timeAgo">2 minutes ago</span>
            </div>
        </div>
        <div class="col-20">
            <div class="row">
                <div class="col-100 posRel">
                    <!-- NOTE Treba ikonu promjeniti u Peer-to-Peer Ikonu cim  je Ejub napravi -->
                    <div class="notification-icon hardPosRel">
                        <img src="/assets/images/icons/friendsIcon.png" alt="" class="centerV">
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
