ng-select {
    border-radius: 5px;
}

.birthdate-wrap {
    width: 100%;
}

.daySection {
    width: 24%;
    padding: 0;
    margin: 0;
}

.monthSection {
    width: 44%;
    margin: 0;
    padding: 0;
}

.yearSection {
    width: 29%;
    margin: 0;
    padding: 0;
}
