<div class="grid-container-small posRel zZero">
    <div class="row welcome-title-wrap">
        <div class="col-100">
            <span class="welcome-title"> Welcome to Knowlead! </span>
        </div>
    </div>
    <div class="row welcome-text-wrap">
        <div class="col-100">
            <span class="welcome-text">
                Thank you for joining and helping us spread knowledge across the world.
                To finish your email confirmation please type in your account password.
            </span>
        </div>
    </div>
    <div class="row confirm-wrap posRel">
        <div class="row confirm-title-wrap">
            <div class="col-100 confirm-title">
                <span> Email Confirmation </span>
            </div>
        </div>
        <div class="row confirmForm-wrap">
            <div class="row betaNote">
                <span class="pleaseNote"> Please note:</span> This beta release is in early development stage so you can encounter some unexpected behavior! Many important functionalities are still NOT in place. We would greatly appreciate your feedback.
            </div>
            <div class="row">
                <form (ngSubmit)="onSubmit()">
                    <div class="password-wrap tooltip-parent">
                        <input appFormControlError type="password" name="password" placeholder="{{'common|password' | translate}}" [formControl]="form.controls.password" class="defaultInput">
                    </div>
                    <div class="confirmButton-wrap">
                        <button class="defaultButton" type="submit">{{'confirm-email-page|submit' | translate}}</button>
                    </div>
                </form>
                <app-error-list [errors]="errorResponse?.errors"></app-error-list>
            </div>
        </div>
    </div>
</div>