<div class="wrap">
    <div class="grid-container viewH">
        <div class="row">
            <div class="col-60">
                <div class="row">
                    <div class="col-100 logo">
                        <img src="/assets/images/logo/knowlead_logo_white_beta.png" alt="Knowlead Logo">
                    </div>
                </div>
                <div class="row welcome-text">
                    <div class="col-100">
                        <h1 class="title">{{'guest-home-page|welcome title' | translate}}</h1>
                        <h1 class="sub-title">{{'guest-home-page|welcome subtitle' | translate}}</h1>
                        <p class="info-text">
                            {{'guest-home-page|info text' | translate}}
                        </p>
                        <button id="findout-button" type="button" (click)="videoOpened=true">{{'guest-home-page|button text' | translate}}</button>
                        <a href="https://www.youtube.com/watch?v=xiHyfV6pJyg">
                            <button id="smallscreen-findout-button" type="button">{{'guest-home-page|button text' | translate}}</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-100">
                        <div class="smallScreenNote">
                            It seems you are using smaller screen size then our platform supports at the moment <div class="minReq">(minimum screen width required is 1100px).</div>
                            This is still Beta and we are working on the support for smaller screens.<br>
                            Thank you for your understanding.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-40 loginForm">
                <div class="col-15">
                    <button class="video-tab" (click)="videoOpened=true">
                        <div>
                            <img src="/assets/images/icons/play-icon.png" alt="Play Icon for Knowlead video" class="video-icon">
                        </div>
                    </button>
                </div>
                <!--<app-login-page *ngIf="!showRegister"></app-login-page>
                <app-register-page *ngIf="showRegister"></app-register-page>-->
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="row footer-wrap">
            <div class="col-80">
                <span class="footer-element">{{'guest-home-page|footer careers' | translate}}</span>
                <span class="footer-element">{{'guest-home-page|footer help and support' | translate}}</span>
                <span class="footer-element">{{'guest-home-page|footer privacy' | translate}}</span>
                <span class="footer-element">{{'guest-home-page|footer team' | translate}}</span>
                <span class="footer-element">{{'guest-home-page|footer languages' | translate}}</span>
            </div>
            <div class="col-20">
                <span id="footnote">{{'guest-home-page|footer knowlead' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<ngl-modal [(open)]="videoOpened">
  <div body>
      <iframe *ngIf="videoOpened" width="600" height="315" src="https://www.youtube.com/embed/xiHyfV6pJyg" frameborder="0" allowfullscreen></iframe>
  </div>
</ngl-modal>



<!-- <section class="main-section">
    <div class="left-wrap">
        <div class="logo">
            <img src="/assets/images/knowlead_logo_white_beta.png" alt="Knowlead Logo">
        </div>

        <div class="welcoming-text">
            <h1 class="title">{{'guest-home-page|welcome title' | translate}}</h1>
            <h1 class="title">{{'guest-home-page|welcome subtitle' | translate}}</h1>
            <p class="info-text">
                {{'guest-home-page|info text' | translate}}
            </p>
        </div>

        <div class="button-wrap">
            <button id="findout-button" type="button">{{'guest-home-page|button text' | translate}}</button>
        </div>


    </div>
    <div class="right-wrap">
        <app-login-page></app-login-page>
    </div>

    <div class="footer-wrap">
        <p class="footer-elements">
            <span>{{'guest-home-page|footer careers' | translate}}</span>
            <span>{{'guest-home-page|footer help and support' | translate}}</span>
            <span>{{'guest-home-page|footer privacy' | translate}}</span>
            <span>{{'guest-home-page|footer team' | translate}}</span>
            <span>{{'guest-home-page|footer languages' | translate}}</span>
            <span id="footnote">{{'guest-home-page|footer knowlead' | translate}}</span>
        </p>

    </div>

</section> -->
