@import "../../../styles.scss";

.wrap {
    background-image: url("/assets/images/main-bg.jpg");
    background-size: contain;
    width: auto;
    height: auto;
}

.viewH {
    height: 100vh;
}
.logo {
    max-width: 475px;
    margin-top: 15%;
}

.welcome-text {
    width: 450px;
    margin-top: 20px;
    color: white;
    font-weight: 300;

    .title {
        font-size: 33px;
    }
    .sub-title {
        font-size: 24px;
    }
    .info-text {
        margin-top: 10px;
        font-size: 14px;
        max-width: 425px;
    }
    #findout-button {
        margin-top: 10px;
        padding: 7px 40px;
        border: 2px solid white;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        font-size: 16px;
        font-weight: 400;

            &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.footer-wrap {
    position: absolute;
    bottom: 20px;
    color: white;
    width: 1200px;
 }

 .footer-element {
     margin-right: 100px;
 }

 // #footnote {
 //     margin-right: 100px;
 // }
