<!--<ngl-form-element>
  <div class="slds-text-heading--label slds-m-bottom--small">{{'common|name' | translate}}</div>
  <input type="text" placeholder="{{'common|name' | translate}}" formControlName="name" nglFormControl>
  <app-error-list [formControlProperty]="form.controls.name"></app-error-list>
</ngl-form-element>-->
<form (ngSubmit)="submit()" [formGroup]="form" *ngIf="form">
    <input type="text" name="name" formControlName="name" placeholder="name">
    <app-error-list [formControlProperty]="form.controls.name"></app-error-list>

    <input type="text" name="surname" formControlName="surname" placeholder="surname">
    <app-error-list [formControlProperty]="form.controls.surname"></app-error-list>

    <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png" [class.gender-icon-active]="!form.value.isMale" class="gender-icon">
    <ui-switch formControlName="isMale" color="red" defaultBgColor="blue" reverse></ui-switch>
    <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png" [class.gender-icon-active]="form.value.isMale" class="gender-icon">
    <app-error-list [formControlProperty]="form.controls.isMale"></app-error-list>

    <app-datepicker formControlName="birthdate"></app-datepicker>
    <app-error-list [formControlProperty]="form.controls.birthdate"></app-error-list>

    <ng-select formControlName="countryId" [options]="countries" placeholder="Country"></ng-select>
    <ng-select formControlName="motherTongueId" [options]="languages" placeholder="Language"></ng-select>

    <button type="submit">
      Next
    </button>
</form>