<article class="slds-card slds-card--narrow slds-container--small slds-container--center">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__body slds-truncate">
        <h1 class="slds-text-heading--large">
          {{"profile-setup:title" | translate}}
        </h1>
      </div>
    </header>
  </div>
    
  <div class="slds-card__body">
    <form (ngSubmit)="submit()" [formGroup]="form" *ngIf="form != null">

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:name' | translate}}</div>
        <input type="text" placeholder="{{'common:name' | translate}}" formControlName="name" nglFormControl>
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:surname' | translate}}</div>
        <input type="text" placeholder="{{'common:surname' | translate}}" formControlName="surname" nglFormControl>
      </ngl-form-element>

      <div>
        <div class="slds-text-heading--label slds-m-bottom--small">{{"common:birthdate" | translate}}</div>
        <app-datepicker formControlName="birthdate"
          text="profile-setup:select birthdate"
          saveText="profile-setup:save birthdate"
          title="profile-setup:select birthdate">
        </app-datepicker>
      </div>

      <ngl-form-element>
        <select class="slds-select" formControlName="isMale" nglFormControl>
          <option value="true">{{"common:male" | translate}}</option>
          <option value="false">{{"common:female" | translate}}</option>
        </select>
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:about me' | translate}}</div>
        <textarea nglFormControl formControlName="aboutMe" placeholder="{{'common:about me' | translate}}"></textarea>
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:country' | translate}}</div>
        <ngl-lookup [lookup]="countryLookup"
            debounce="0"
            field="name"
            (pickChange)="countryChanged($event)"
            [(pick)]="country">
          <template nglLookupItem let-ctx>
            <div class="slds-media__body">
              <div class="slds-lookup__result-text"><img class="flag flag-{{ctx.code}}">{{ctx.name}}</div>
            </div>
          </template>
        </ngl-lookup>
        <input nglFormControl type="hidden" formControlName="country">
      </ngl-form-element>

      <ngl-form-element *ngIf="states.length > 0">
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:country state' | translate}}</div>
        <ngl-lookup [lookup]="stateLookup"
            debounce="0"
            field="name"
            (pickChange)="stateChanged($event)"
            [(pick)]="state">
        </ngl-lookup>
        <input nglFormControl type="hidden" formControlName="state">
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:native language' | translate}}</div>
        <ngl-lookup [lookup]="languageLookup"
            debounce="0"
            field="name"
            (pickChange)="mainLanguageChanged($event)"
            [(pick)]="motherTongue">
        </ngl-lookup>
        <input nglFormControl type="hidden" formControlName="motherTongue">
      </ngl-form-element>

      <ngl-form-element>
        <div class="slds-text-heading--label slds-m-bottom--small">{{'common:other languages' | translate}}</div>
        <ngl-pill *ngFor="let language of form.value.languages" (nglPillRemove)="languageRemoved(language)">
          {{language.name}}
        </ngl-pill>
        <app-empty-lookup [lookup]="languageLookup"
            field="name"
            (pickChange)="languageAdded($event)">
        </app-empty-lookup>
        <input nglFormControl type="hidden" formControlName="languages">
      </ngl-form-element>

    </form>
  </div>

  <div class="slds-card__footer">
    <app-error-list [errors]="response?.errors"></app-error-list>
    <button nglButton="brand" (click)="submit()">
      {{"profile-setup:submit" | translate}}
    </button>
  </div>
</article>