<div class="grid-container-small posRel zZero">
    <div class="row welcome-title-wrap">
        <div class="col-100">
            <span class="welcome-title"> Welcome to Knowlead! </span>
        </div>
    </div>
    <div class="row welcome-text-wrap">
        <div class="col-100">
            <span class="welcome-text">
                Thank you for joining and helping us spread knowledge across the world.
                You're two steps away from completing your registration.
            </span>
        </div>
    </div>
    <div class="row stepOne-wrap">
        <div class="row stepOne-title-wrap">
            <div class="col-100 stepOne-title">
                <span> Your personal information </span>
            </div>
        </div>

        <div class="row form-wrap">
            <form (ngSubmit)="submit()" [formGroup]="form" *ngIf="form">
                <div class="col-100">
                    <div class="row">
                        <div class="col-30">
                            <div class="profile-image-round-large">
                            <app-profile-picture [user]="realUser" [uploadable]="true"></app-profile-picture>
                            </div>
                        </div>
                        <div class="col-70">
                            <div class="row name-wrap">
                                <div class="col-100">
                                    <input type="text" name="First Name" formControlName="name" placeholder="First Name" class="defaultInput">
                                    <!-- <app-error-list [formControlProperty]="form.controls.name"></app-error-list> -->
                                </div>
                            </div>

                            <div class="row surname-wrap">
                                <div class="col-100">
                                    <input type="text" name="surname" formControlName="surname" placeholder="Surname" class="defaultInput">
                                    <!-- <app-error-list [formControlProperty]="form.controls.surname"></app-error-list> -->
                                </div>
                            </div>

                            <div class="row gender-birthdate-wrap">
                                <div class="col-30">
                                    <div class="gender-wrap">
                                        <img [class.gender-icon-active]="!form.value.isMale" [class.gender-icon-disabled]="form.value.isMale" class="gender-icon" id="femaleIcon">
                                        <ui-switch size="small" formControlName="isMale" color="#ff5e3a" defaultBgColor="#007bb6" reverse class="switchBar"></ui-switch>
                                        <img [class.gender-icon-active]="form.value.isMale" [class.gender-icon-disabled]="!form.value.isMale" class="gender-icon" id="maleIcon">
                                        <app-error-list [formControlProperty]="form.controls.isMale"></app-error-list>
                                    </div>
                                </div>
                                <div class="col-70 birthdate-wrap">
                                    <app-datepicker formControlName="birthdate"></app-datepicker>
                                    <app-error-list [formControlProperty]="form.controls.birthdate"></app-error-list>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row lang-country-wrap">
                        <div class="col-50">
                            <ng-select formControlName="motherTongueId" [options]="languages" placeholder="Language" class="languageSelect"></ng-select>
                        </div>
                        <div class="col-50">
                            <ng-select formControlName="countryId" [options]="countries" placeholder="Country" class="countrySelect"></ng-select>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row bottomElements">
            <div class="col-100">

                <div class="slider firstSlider"></div>
                <div class="slider secondSlider"></div>

            </div>
        </div>
    </div>
</div>
