<div class="slds-form-element">
  <div class="slds-form-element__control" *ngIf="!subscription">
    <div class="slds-file-selector slds-file-selector--files">
      <div class="slds-file-selector__dropzone">
        <div>
          <input class="slds-file-selector__input slds-assistive-text"
            type="file"
            (change)="fileSelected($event)"
            aria-describedby="file-selector-id"
            [id]="id"/>
          <label class="slds-file-selector__body" [attr.for]="id">
            <span class="slds-file-selector__button slds-button slds-button--neutral">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--left">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
              </svg>
              {{"file:upload" | translate}}
            </span>
            <span class="slds-file-selector__text slds-medium-show">{{"file:drop" | translate}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="subscription">
    <span class="slds-size--1-of-1 slds-grid slds-grid--align-end slds-grid--vertical-align-center">
      <span class="slds-text-align--left slds-size--1-of-1">
        {{(value?.blobId ? "file:uploaded" : "file:uploading") | translate}}
      </span>
      <button type="button" nglButtonIcon (click)="deleted()">
        <ngl-icon icon="delete" size="large" type="error">
        </ngl-icon>
      </button>
    </span>
  </div>
</div>
