<ngl-modal header="Review Form" (openChange)="closed.emit()" [(open)]="opened" >
  <div body>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
              <div class="col-50 reviewStars-wrap">
                  <span class="tooltip-parent">Helpful
                      <span class="tooltip-bottom tooltip-150">
                          Rate how helpful teacher was to you.
                      </span>
                  </span>
                  <ngl-rating colorOn="#007bb6" colorOff="#e1e2e5" size="small" [(rate)]="helpfulFeedback"></ngl-rating>
              </div>
              <div class="col-50 reviewStars-wrap">
                  <span  class="tooltip-parent">Expertise
                      <span class="tooltip-bottom tooltip-150">
                          Rate teacher's knowledge of the subject.
                      </span>
                  </span>
                  <ngl-rating colorOn="#007bb6" colorOff="#e1e2e5" size="small" [(rate)]="expertiseFeedback"></ngl-rating>
              </div>

          <textarea placeholder="Explain your rating..." formControlName="feedbackText" class="feedbackTextarea"></textarea>
      </form>
  </div>
  <template ngl-modal-footer>
    <button class="feedbackButton" (click)="onSubmit()">Save</button>
  </template>
</ngl-modal>