<form (ngSubmit)="submit()" [formGroup]="form">
  <ngl-form-element>
    <input formControlName="title" placeholder="{{'p2p:title' | translate}}" nglFormControl>
  </ngl-form-element>
  <ngl-form-element>
    <textarea formControlName="text" placeholder="{{'p2p:text' | translate}}" nglFormControl>
    </textarea>
  </ngl-form-element>
  <app-fos-selector formControlName="fosId" outputType="id"></app-fos-selector>
  <div formArrayName="blobs">
    <app-file-upload
      [formControlName]="idx"
      *ngFor="let hepek of form.controls.blobs.controls; let idx = index"
      (removed)="fileRemoved(idx)"
      (uploading)="newFile()">
    </app-file-upload>
  </div>
  <button nglButton="brand" type="submit">{{'p2p:submit' | translate}}</button>
</form>