<form (ngSubmit)="submit()" [formGroup]="form">
  <ngl-form-element>
    <input formControlName="title" placeholder="{{'p2p:title' | translate}}" nglFormControl>
  </ngl-form-element>
  <ngl-form-element>
    <textarea formControlName="text" placeholder="{{'p2p:text' | translate}}" nglFormControl>
    </textarea>
  </ngl-form-element>
  <app-fos-selector formControlName="fos"></app-fos-selector>
  <div formArrayName="files">
    <div formGroupName="0">
      <app-file-upload formControlName="blobId"></app-file-upload>
    </div>
  </div>
  <button nglButton="brand" type="submit">{{'p2p:submit' | translate}}</button>
</form>