<!--<a routerLink="/login">Login</a> |
<a routerLink="/register">Register</a> |
<a routerLink="/">Unlogged home</a> |
<a routerLink="/home">Logged home</a> |
<a routerLink="/profilesetup">Profile setup</a> |
<a routerLink="/translatetest">Translation test</a>
<router-outlet></router-outlet>-->
<app-notifications></app-notifications>


<!-- <ngl-section title="Storage debugging info" [(open)]="sectionOpen">
  <table class="slds-table slds-table--bordered">
    <thead>
      <th>Cache key</th>
      <th>Number of subscribers</th>
    </thead>
    <tbody>
      <tr *ngFor="let cache of caches">
        <td>{{cache.cacheKey}}</td>
        <td>{{cache.subscribers.length}}</td>
      </tr>
    </tbody>
  </table>
</ngl-section> -->



<app-call-dialog></app-call-dialog>
<div>
  <app-header></app-header>
</div>
<div>
  <router-outlet></router-outlet>
  <!-- <app-chat class="slds-size--1-of-6 slds-container--small"></app-chat> -->
</div>
