@import '../../../../kl-styles/variables.scss';

.notebookList-wrap {
    margin-left: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 92vh;

    a, a:visited, a:active {
        text-decoration: none;
        color: $font-primary-color;
    }
}

.notebookList-library-wrap {
    overflow-y: auto;
    overflow-x: auto;
    max-height: none;
    margin-left: 0;
}

.addNewNotebook {
    width: 150px;
    height: 170px;
    float: left;
    margin: 10px 10px 10px 15px;
    border-radius: 10px;
    border: 3px dashed;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    outline: none;
    display: block;
    padding-top: 43px;

    &:hover {
        background-color: transparentize(grey, 0.7)
    }

    > .kl-plus {
        font-size: 50px;
    }
}
