@import "../../../kl-styles/variables.scss";


#reg-title {
  padding: 15px 0 15px 30px;
  font-weight: 600;
  font-size: 18px;
}

.backIcon-wrap {
    position: relative;
    height: 32px;
    margin-top: 15px;
}

.backIcon {
    font-size: 18px;
    color: $placeholder-color;

    &:hover {
        color: $knowlead-primary;
    }
}

#icBck {
    padding: 3px;
}

#bottBorder {
    border-bottom: 2px solid $divider-color;
}

.global-errors {
    bottom: 300px !important;
}

.regForm-wrap {
    width: 85%;
    margin: 0 auto;
}

#regEmail-wrap {
    margin-top: 35px;
}

#regPass-wrap, #regConfirm-wrap {
    margin-top: 25px;
}

#register-button {
    margin-top: 20px;
    background-color: $knowlead-secondary;
}

.termsTxt {
    margin-top: 20px;
    color: $font-secondary-color;
}

#termsLink {
    text-decoration: none;
    color: $knowlead-secondary;

    &:hover {
        text-decoration: underline;
    }
}
