<div class="col-85 log-reg-section">
    <div class="row" id="bottBorder">
        <div class="col-85" id="reg-title">
            <h2>{{"register-page|title" | translate}}</h2>
        </div>
        <a class="col-15 backIcon-wrap" routerLink="/">
            <button class="clearButton backIcon">
                <i class="kl-close"></i>
            </button>
        </a>
    </div>
    <div class="row">
        <div class="regForm-wrap">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div id="regEmail-wrap">
                    <input type="text" name="email" placeholder="{{'common|email' | translate}}" formControlName="email" class="defaultInput">
                    <!-- <app-error-list [formControlProperty]="form.controls.email"></app-error-list> -->
                </div>

                <div id="regPass-wrap">
                    <input type="password" name="password" placeholder="{{'common|password' | translate}}" formControlName="password" class="defaultInput">
                    <!-- <app-error-list [formControlProperty]="form.controls.password"></app-error-list> -->
                </div>
                <div id="regConfirm-wrap">
                    <input type="password" name="confirmpassword" placeholder="{{'register-page|confirm password' | translate}}" formControlName="confirmpassword" class="defaultInput">
                    <!-- <app-error-list [formControlProperty]="form.controls.password"></app-error-list> -->
                </div>
                <input type="submit" value="{{'register-page|submit' | translate}}" class="defaultButton" id="register-button" [disabled]="busy || !form.valid">
            </form>
        </div>
    </div>
    <div class="row regForm-wrap">
        <div class="termsTxt">
            <form class="terms-box">
                <label class="check-label">
                    <input type="checkbox" name="Terms-and-Conditions" disabled value="Yes">
                    <span class="check-label-text">I accept the <a id="termsLink" href="#">Terms and Conditions</a> of this website</span>
                </label>
            </form>
        </div>
    </div>
</div>
