.row
  .col-100
    .timer-wrap
      i.kl-circle.student-color
      span.timer-text.
        in 13 days
.row
  .col-100
    .with-wrap
      span.with-subject.
        3D Animation 
      span.with-text.
        with:
.row#bottom-row
  .col-75
    .col-25
      .profile-picture
        //- Link to profile
        a(href="#")
          app-profile-picture([user]="user" size="x-small")
    .col-75
      .profile-name-wrap
        //- Link to profile
        .profile-name
          a(href="#") Ejub Hadzic
  .col-25
    .reward-wrap
      span.reward-text.
        135
      i.kl-currency