.row.other-upcoming-events
  .col-100
      .timer-wrap
        i.kl-circle.teacher-color
        span.timer-text.
          {{ p2p.dateTimeAgreed | amTimeAgo }}
  .row
    .col-100
      .with-wrap
        span.with-subject.
          {{ p2p.fos.name }}
        br
        |
        span.with-text.
           with: {{ p2p.scheduledWith | fullName }}