.row.other-upcoming-events
  .col-100
      .timer-wrap
        i.kl-circle.teacher-color
        span.timer-text.
          in 13 days
  .row
    .col-100
      .with-wrap
        span.with-subject.
          3D Animation 
        span.with-text.
          with: Ejub Hadzic