.row.other-upcoming-events
  .col-100
      .timer-wrap
        div(*ngIf="p2p.isMy;then student else teacher")
        ng-template(#student)
          i.kl-circle.student-color
        ng-template(#teacher)
          i.kl-circle.teacher-color
        span.timer-text.
          {{ p2p.dateTimeAgreed | amTimeAgo }}
  .row
    .col-100
      .with-wrap
        span.with-subject.
          {{ p2p.fos?.name }} 
        span.with-text.
           with: {{ p2p.otherScheduledUser | fullName }}