@import "../../../kl-styles/variables.scss";


.noEvents-message {
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $placeholder-color;
}

.overflow-hidden {
  overflow: hidden
}

.main-wrap {
  margin-top: 20px;
  width: $full-grid-width;
}

.sidebar-wrap {
  font-size: 15px;
  background-color: white;
  border-radius: $border-radius;
  border: $outline;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-name-wrap {
  display: flex;
  align-items: center;
  height: 62px;
  font-size: 16px;

  .profile-name a {
    text-decoration: none;
    color: $font-primary-color;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }

    &:visited, &:active {
      text-decoration: none;
      color: $font-primary-color;
    }
  }
}

.profile-minutes, .profile-score {
  border-top: 1px solid $hover-dark-color;
  border-bottom: 1px solid $hover-dark-color;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 40px 0;
  cursor: pointer;
}

.sidebar-item-wrap, .sidebar-subitem-wrap {
  border-bottom: 1px solid $hover-dark-color;
  height: 38px;
  padding: 2px 0;

  &:hover {
    background-color: transparentize($hover-middle-color, 0.2);
  }

  > a {
    text-decoration: none;
    color: $font-primary-color;

    &:visited, &:active {
      text-decoration: none;
      color: $font-primary-color;
    }
  }
}

.sidebar-subitem-wrap {
  background-color: $dropdown-item-color;

}

.sidebar-item-icon {
  font-size: 22px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item {
  display: flex;
  align-items: center;
  height: 34px;
}

.dropdown-item {
  cursor: pointer;
  font-weight: bold;
}

.dropdown-icon-wrap {
  display: flex;
  align-items: center;
  height: 34px;
  color: $font-secondary-color;
}

.upcoming-events-wrap {
  .title-wrap {
    border-top: 1px solid $hover-dark-color;
    border-bottom: 1px solid $hover-dark-color;
    height: 62px;

    .title {
      font-size: 17px;
      font-weight: bold;
      display: flex;
      align-items: center;
      height: 62px;
      padding-left: 20px;
    }

    .info-icon {
      font-size: 14px;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        cursor: pointer;
      }
    }

    #student-circle {
      color: $knowlead-secondary;
      font-size: 13px;
      margin-right: 5px;
    }

    #teacher-circle {
      color: $knowlead-primary;
      font-size: 13px;
      margin-right: 5px;
    }
  }
}

.upcoming-events-content {
  #bottom-row {
    padding-bottom: 5px;
  }

  .timer-wrap {
  font-weight: bold;
  font-size: 14px;
  padding: 10px 0 0 20px;

    i {
      font-size: 13px;
      margin-right: 3px;
    }

    .student-color {
      color: $knowlead-secondary;
    }

    .teacher-color {
      color: $knowlead-primary;
    }
  }

  .with-wrap {
    padding-left: 20px;
  } 

  span {
    font-size: 13px;
  }

  .profile-picture {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .profile-name-wrap {
    display: flex;
    align-items: center;
    height: 47px;
    padding-left: 10px;

    .profile-name {
      font-size: 14px;
    }
  }

  .reward-wrap {
    display: flex;
    align-items: center;
    height: 47px;
    padding-right: 10px;

    span {
      font-size: 18px;
      font-weight: bold;
      margin-right: 3px;
    }
  }

  .other-upcoming-events {
    border-top: 1px solid $hover-dark-color;
    padding-bottom: 10px;
  }
}

.all-events-wrap {
  a {
    text-decoration: none;
    color: white;
  }
  .all-events {
    background-color: $knowlead-primary;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    border-radius: 0 0 $border-radius $border-radius;

    &:hover {
      background-color: transparentize($knowlead-primary, 0.1)
    }
  }
}


// Main Section

.main-section-wrap {
  margin-left: 10px;
}

.my-dashboard-wrap {
  height: 540px;
  overflow: none;
  background-color: white;
}

.dashboard-header {
  height: 50px;
  border-bottom: 2px solid $hover-dark-color;
  
  #title {
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    // border-right: 1px solid $knowlead-primary;
    // padding-right: 15px;
    margin-right: 15px;
  }
}


.checkbox-wrap {
  display: inline-block;
  margin-right: 10px;
}
.dashboard-content {
  overflow: hidden;
  height: 490px;
  padding: 10px 0;
}
