@import "../../../kl-styles/variables.scss";


.main-wrap {
  margin-top: 20px;
}

.sidebar-wrap {
  font-size: 15px;
  background-color: white;
  border-radius: $border-radius;
  border: $outline;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-name-wrap {
  display: flex;
  align-items: center;
  height: 62px;
  font-size: 16px;

  .profile-name a {
    text-decoration: none;
    color: $font-primary-color;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }

    &:visited, &:active {
      text-decoration: none;
      color: $font-primary-color;
    }
  }
}

.profile-minutes, .profile-score {
  border-top: 1px solid $hover-dark-color;
  border-bottom: 1px solid $hover-dark-color;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 40px 0;
  cursor: pointer;
}

.sidebar-item-wrap, .sidebar-subitem-wrap {
  border-bottom: 1px solid $hover-dark-color;
  height: 38px;
  padding: 2px 0;

  &:hover {
    background-color: transparentize($hover-middle-color, 0.2);
  }

  > a {
    text-decoration: none;
    color: $font-primary-color;

    &:visited, &:active {
      text-decoration: none;
      color: $font-primary-color;
    }
  }
}

.sidebar-subitem-wrap {
  background-color: $dropdown-item-color;

}

.sidebar-item-icon {
  font-size: 22px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item {
  display: flex;
  align-items: center;
  height: 34px;
}

.dropdown-item {
  cursor: pointer;
  font-weight: bold;
}

.dropdown-icon-wrap {
  display: flex;
  align-items: center;
  height: 34px;
  color: $font-secondary-color;
}

.upcoming-events-wrap {
  .title-wrap {
    border-top: 1px solid $hover-dark-color;
    border-bottom: 1px solid $hover-dark-color;
    height: 62px;

    .title {
      font-size: 17px;
      font-weight: bold;
      display: flex;
      align-items: center;
      height: 62px;
      padding-left: 20px;
    }

    .info-icon {
      font-size: 14px;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.upcoming-events-content {
  padding: 10px 10px 10px 20px;;

  .timer-wrap {
  font-weight: bold;
  font-size: 14px;

    i {
      font-size: 13px;
      margin-right: 3px;
    }
  }

  span {
    font-size: 14px;
  }

  .profile-picture {
    display: flex;
    align-items: center;
  }

  .profile-name-wrap {
    display: flex;
    align-items: center;
    height: 47px;

    .profile-name {
      font-size: 14px;
    }
  }

  .reward-wrap {
    display: flex;
    align-items: center;
    height: 47px;

    span {
      font-size: 18px;
      font-weight: bold;
      margin-right: 3px;
    }
  }
}

.all-events-wrap {
  a {
    text-decoration: none;
    color: white;
  }
  .all-events {
    background-color: $knowlead-primary;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    border-radius: 0 0 $border-radius $border-radius;

    &:hover {
      background-color: transparentize($knowlead-primary, 0.1)
    }
  }
}


// Main Section

.main-section-wrap {
  margin-left: 10px;
}

.top-elements {
  height: 57px;
}




// Radio Buttons //

.filterItem-wrap {
    margin-left: 5px;
    max-width: 250px;
}

.filter-interest {
  margin: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $hover-middle-color;
        border-radius: 100%;
        border: 1px solid $disabled-color;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 1px;
        margin-right: 10px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $knowlead-primary;
          box-shadow: inset 0 0 0 4px $hover-dark-color;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $knowlead-primary;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $hover-dark-color;
          border-color: $hover-dark-color;
          background: $hover-dark-color;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

// RIGHT SECTION //

// STICKIES SECTION //

.stickies-wrap {
    border-radius: $border-radius;
    height: 300px;
    background-color: $post-background-color;

    .stickiesTitle-wrap {
        font-size: 18px;
        font-weight: bold;
        line-height: 50px;
        height: 50px;
        border-bottom: 2px solid $divider-color;
    }

    #leftIcon {
        text-align: right;
    }

    .stickiesTitle {
        font-size: 16px;
        padding-left: 10px;
    }

    .addStickies {
        height: 30px;
        border-radius: $border-radius;

        &:hover {
            color: $knowlead-primary;
        }
    }
}


// UPCOMING EVENTS WIDGET

.upcomingEvents-wrap {
    border-radius: $border-radius;
    background-color: $post-background-color;
    border-top: 2px solid $divider-color;

    .upcomingEvents-title {
        height: 50px;
        line-height: 50px;
        padding-left: 15px;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 2px solid $divider-color;

        .upcomingEvents-info {
            float: right;
            margin-right: 10px;
            line-height: 50px;
            font-size: 14px;
            color: $font-secondary-color;
            cursor: pointer;

            &:hover {
                color: $font-primary-color;
            }

            > span {
                line-height: normal;
                float: none;
                margin: 0;
            }


        }
    }

    .noEvents {
        width: 100%;
        height: 60px;
        line-height: 60px;
        color: $hover-dark-color;
        padding: 0 20px 20px 20px;
    }

    .firstUpcomingEvent {
        border-bottom: 1px solid $divider-color;
    }

    .timeLeft-wrap {
        padding: 20px 20px 5px 20px;
        font-weight: bold;

        .circleState-student {
            color: $knowlead-secondary;
        }
        .circleState-teacher {
            color: $knowlead-primary;
        }

        .timeLeft-text {
            text-transform: capitalize;
            margin-left: 5px;
        }
    }

    .subject-wrap {
        padding: 5px 20px 0 20px;
        font-weight: bold;

        .subject {
            max-width: 45px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .profileImage-wrap {
        position: relative;
        width: 75px;
        height: 41px;
    }

    .withUser-name a {
        color: $font-primary-color;
        font-weight: bold;
    }

    .reward-wrap {
        height: 50px;
        line-height: 50px;

        .reward {
            font-size: 20px;
            font-weight: bold;
        }

        .reward-icon {
            font-size: 15px;
        }
    }

    .otherUpcomingEvents {
        border-bottom: 1px solid $divider-color;

        .otherEventsInfo-wrap {
            padding: 0 20px 15px 20px;
            font-weight: bold;

            .otherEventsInfo-with a {
                color: $font-primary-color;
            }
        }
    }

    .checkAllevents {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: $knowlead-primary;
        border-radius: 0 0 $border-radius $border-radius;

        &:hover {
            background-color: transparentize($knowlead-primary, 0.1)
        }
    }
}
