<div class="grid-container">
    <div class="row firstRow">
        <div class="col-25">
            <div class="leftSidebar-wrap">
                <div class="leftSidebar-Menu">
                    <div class="row">
                        <div class="col-100">
                            <div class="profileInfo-wrap">
                                <div class="row topElements-wrap">
                                    <div class="col-25">
                                        <a routerLink="/profile/{{user.id}}">
                                            <div class="profileImage-wrap">
                                                <app-profile-picture [user]="user" [uploadable]="false" size="small"></app-profile-picture>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-75">
                                        <div class="row">
                                            <div class="col-100 profileInfo-name">
                                                <a routerLink="user | fullName">{{user | fullName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bottomElements-wrap">
                                    <div class="col-50" id="minutesValue">{{user.minutesBalance}} Minutes</div>
                                    <!--<div class="col-50" id="scoreValue">{{user.score}} Score</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <div class="menuItem-wrap posRel">
                                <a href="" class="editProfileLink">
                                    <i class="menuIcon kl-edit-profile"></i>
                                    <div class="editProfile menuItem-text"> Edit Profile</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <div class="menuItem-wrap posRel">
                                <a href="" class="sendFeedbackLink">
                                    <i class="menuIcon kl-feedback"></i>
                                    <div class="sendFeedback menuItem-text"> Send Feedback </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <div class="scheduleSection-wrap">
                                <div class="row">
                                    <div class="col-100">
                                        <div class="scheduleTitle"> Schedule </div>
                                        <div class="menuItem-wrap posRel">
                                            <i class="menuIcon kl-peer"></i>
                                            <div class="peer-to-peer-category-title menuItem-text"> Peer-to-Peer </div>
                                            <div class="peer-to-peer-sub-category">
                                                <div class="row">
                                                <div class="col-100">
                                                    <div class="menuItem-wrap posRel">
                                                        <a href="" class="myPostsLink">
                                                            <i class="menuIcon kl-my"></i>
                                                            <div class="myPosts menuItem-text"> My Posts </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                <div class="col-100">
                                                    <div class="menuItem-wrap posRel">
                                                        <a href="" class="scheduledLink">
                                                            <i class="menuIcon kl-calendar"></i>
                                                            <div class="scheduled menuItem-text"> Scheduled</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                <div class="col-100">
                                                    <div class="menuItem-wrap posRel">
                                                        <a href="" class="bookmarkedLink">
                                                        <i class="menuIcon kl-bookmark"></i>
                                                        <div class="bookmarked menuItem-text"> Bookmarked </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-50">
            <div class="mainSection-wrap">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-25">
            <div class="rightSidebar-wrap"></div>
        </div>
    </div>
</div>




<!-- <app-p2p [p2pId]="item.p2pId" *ngFor="let item of p2ps"></app-p2p>
<app-notebook-list></app-notebook-list> -->
