
<ng-template #noUpcomingEvents>
  <div class="noEvents-message">There are no upcoming events</div>
</ng-template>
<div class="grid-container">
  <div class="main-wrap">
    <div class="col-25">
      <div class="sidebar-wrap">
        <div class="row">
          <div class="col-35">
            <div class="profile-picture"><a routerLink="{{user | userProfileLink}}">
                <app-profile-picture [user]="user" [uploadable]="false" size="small"></app-profile-picture></a></div>
          </div>
          <div class="col-65">
            <div class="profile-name-wrap">
              <div class="profile-name"><a routerLink="{{user | userProfileLink}}">{{user | fullName}}</a></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <div class="profile-minutes tooltip-parent">{{user?.minutesBalance}} Minutes<span class="tooltip-minutes tooltip-200">How minutes work: <br><br>Student gives minutes. <br>Teacher gains minutes. <br><br>Go to <a href="/store">Store</a> page for more.</span></div>
          </div>
          <div class="col-50">
            <div class="profile-score tooltip-parent">{{user.pointsBalance}} Score<span class="tooltip-minutes tooltip-175">You gain score both by studying and teaching.</span></div>
          </div>
        </div>
        <div class="row">
          <div class="sidebar-item-wrap"><a routerLink="/profilesetup">
              <div class="col-25">
                <div class="sidebar-item-icon"><i class="kl-edit-profile"></i></div>
              </div>
              <div class="col-75">
                <div class="sidebar-item">Edit Profile              </div>
              </div></a></div>
        </div>
        <div class="row" appFeedbackForm>
          <div class="col-100">
            <div class="sidebar-item-wrap"><a app-feedback-form>
                <div class="col-25">
                  <div class="sidebar-item-icon"><i class="kl-feedback"></i></div>
                </div>
                <div class="col-75">
                  <div class="sidebar-item">Send Feedback</div>
                </div></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-100" (click)="togglePeerToPeerOptions()">
            <div class="sidebar-item-wrap dropdown-item">
              <div class="col-25">
                <div class="sidebar-item-icon"><i class="kl-peer"></i></div>
              </div>
              <div class="col-65">
                <div class="sidebar-item">Peer-to-Peer</div>
              </div>
              <div class="col-10">
                <div class="dropdown-icon-wrap"><i class="kl-more" [@peerToPeerRotate]="peerToPeerOptionsState"></i></div>
              </div>
            </div>
          </div>
          <div class="col-100 overflow-hidden" [@peerToPeerOptions]="peerToPeerOptionsState">
            <div class="col-100">
              <div class="sidebar-subitem-wrap"><a routerLink="/home/filtered/My">
                  <div class="col-25">
                    <div class="sidebar-item-icon"><i class="kl-my"></i></div>
                  </div>
                  <div class="col-75">
                    <div class="sidebar-item">My Posts</div>
                  </div></a></div>
            </div>
            <div class="col-100">
              <div class="sidebar-subitem-wrap"><a routerLink="/home/filtered/Scheduled">
                  <div class="col-25">
                    <div class="sidebar-item-icon"><i class="kl-calendar"></i></div>
                  </div>
                  <div class="col-75">
                    <div class="sidebar-item">Scheduled</div>
                  </div></a></div>
            </div>
            <div class="col-100">
              <div class="sidebar-subitem-wrap"><a routerLink="/home/filtered/Bookmarked">
                  <div class="col-25">
                    <div class="sidebar-item-icon"><i class="kl-bookmark"></i></div>
                  </div>
                  <div class="col-75">
                    <div class="sidebar-item">Bookmarked</div>
                  </div></a></div>
            </div>
          </div>
        </div>
        <div class="upcoming-events-wrap">
          <div class="row">
            <div class="col-100">
              <div class="title-wrap">
                <div class="col-80">
                  <div class="title">Upcoming Events                </div>
                </div>
                <div class="col-20">
                  <div class="info-icon"><i class="kl-info tooltip-parent">
                      <div class="tooltip-counter tooltip-175"><i class="kl-circle" id="student-circle"></i><span>- You are a Student</span><br><i class="kl-circle" id="teacher-circle"></i><span>- You are a Teacher</span></div></i></div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="upcoming &amp;&amp; upcoming.length !== 0; else noUpcomingEvents">
            <div class="upcoming-events-content" *ngFor="let p2p of upcoming; index as i; trackBy: trackByFn">
              <div *ngIf="i === 0;then firstevent else upcomingevents"></div>
              <ng-template #firstevent>
                <div class="row">
                  <div class="col-100">
                    <div class="timer-wrap">
                      <div *ngIf="p2p.isMy;then student else teacher"></div>
                      <ng-template #student><i class="kl-circle student-color"></i></ng-template>
                      <ng-template #teacher><i class="kl-circle teacher-color"></i></ng-template><span class="timer-text">{{ p2p.dateTimeAgreed | amTimeAgo }}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-100">
                    <div class="with-wrap"><span class="with-subject">{{ p2p.fos?.name }} </span><span class="with-text">with: </span></div>
                  </div>
                </div>
                <div class="row" id="bottom-row">
                  <div class="col-75">
                    <div class="col-25">
                      <div class="profile-picture"><a href="{{ p2p.otherScheduledUser | userProfileLink }}">
                          <app-profile-picture [user]="user" size="x-small"></app-profile-picture></a></div>
                    </div>
                    <div class="col-75">
                      <div class="profile-name-wrap">
                        <div class="profile-name"><a routerLink="{{ p2p.otherScheduledUser | userProfileLink }}">{{ p2p.otherScheduledUser | fullName }}</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-25">
                    <div class="reward-wrap"><span class="reward-text">{{ p2p.priceAgreed }}</span><i class="kl-currency"></i></div>
                  </div>
                </div>
              </ng-template>
              <ng-template #upcomingevents>
                <div class="row other-upcoming-events">
                  <div class="col-100">
                    <div class="timer-wrap">
                      <div *ngIf="p2p.isMy;then student else teacher"></div>
                      <ng-template #student><i class="kl-circle student-color"></i></ng-template>
                      <ng-template #teacher><i class="kl-circle teacher-color"></i></ng-template><span class="timer-text">{{ p2p.dateTimeAgreed | amTimeAgo }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-100">
                      <div class="with-wrap"><span class="with-subject">{{ p2p.fos?.name }} </span><span class="with-text">with: {{ p2p.otherScheduledUser | fullName }}</span></div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="row">
            <div class="all-events-wrap"><a routerLink="/home/filtered/Scheduled">
                <div class="all-events">
                  Check All Events
                  
                  
                </div></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-75">
      <div class="main-section-wrap">
        <div class="top-elements">
          <div class="col-50">
            <ng-select class="search-p2p-input" placeholder="Field of study" [options]="foses" [(ngModel)]="fosToSearch"></ng-select>
          </div>
          <div class="col-20">
            <button [disabled]="!!!fosToSearch" (click)="searchByFoses()">Search</button>
          </div>
          <div class="col-30">
            <div class="create-request-button-wrap">
              <button class="create-request-button" (click)="toggleCreateRequest()" [class.create-request-button-opened]="createRequestState === 'open'">Create a Request</button>
            </div>
          </div>
        </div>
        <div class="create-dropdown-wrap" [@peerToPeerOptions]="createRequestState">
          <div class="row">
            <div class="request-section-wrap">
              <div class="section-title">Student Section</div>
            </div>
          </div>
          <div class="row request-type-wrap" id="last-study-section">
            <div class="col-20">
              <div class="request-type-image-wrap">P2P</div>
            </div>
            <div class="col-65">
              <div class="row">
                <div class="request-type-title">Peer-to-Peer</div>
              </div>
              <div class="row">
                <div class="request-type-description">Engage in direct video communication where you have full interactive experience with your tutor. Create a request with specified details, wait for users to give their offer, and schedule a class with a tutor of your choice.</div>
              </div>
            </div>
            <div class="col-15"><a class="create-p2p-button" routerLink="/p2p">Create</a></div>
          </div>
        </div>
        <div class="p2p-post-cards">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>