ng-template(#noUpcomingEvents)
  .noEvents-message There are no upcoming events


.grid-container
  .main-wrap
    .col-25
      .sidebar-wrap
        .row
          .col-35
            .profile-picture
              //- Link to profile
              a(routerLink="{{user | userProfileLink}}")
                app-profile-picture([user]="user" [uploadable]="false" size="small")
          .col-65
            .profile-name-wrap
              //- Link to profile
              .profile-name
                a(routerLink="{{user | userProfileLink}}") {{user | fullName}}
        .row
          .col-50
            .profile-minutes.
              {{user.minutesBalance}} Minutes
          .col-50
            .profile-score.
              {{user.pointsBalance}} Score
        .row
          .sidebar-item-wrap
            a(routerLink="/profilesetup")
              .col-25
                .sidebar-item-icon
                  i.kl-edit-profile
              .col-75
                .sidebar-item.
                  Edit Profile              
        .row(appFeedbackForm)
          .col-100
            .sidebar-item-wrap
              a(app-feedback-form)
                .col-25
                  .sidebar-item-icon
                    i.kl-feedback
                .col-75
                  .sidebar-item.
                    Send Feedback
        .row
          .col-100((click)="togglePeerToPeerOptions()")
            .sidebar-item-wrap.dropdown-item
              .col-25
                .sidebar-item-icon
                  i.kl-peer
              .col-65
                .sidebar-item.
                  Peer-to-Peer
              .col-10
                .dropdown-icon-wrap
                  i.kl-more([@peerToPeerRotate]="peerToPeerOptionsState")
          .col-100.overflow-hidden([@peerToPeerOptions]="peerToPeerOptionsState")
              .col-100
                .sidebar-subitem-wrap
                  a(routerLink="/home/filtered/My")
                    .col-25
                      .sidebar-item-icon
                        i.kl-my
                    .col-75
                      .sidebar-item.
                        My Posts
              .col-100
                .sidebar-subitem-wrap
                  a(routerLink="/home/filtered/Scheduled")
                    .col-25
                      .sidebar-item-icon
                        i.kl-calendar
                    .col-75
                      .sidebar-item.
                        Scheduled
              .col-100
                .sidebar-subitem-wrap
                  a(routerLink="/home/filtered/Bookmarked")
                    .col-25
                      .sidebar-item-icon
                        i.kl-bookmark
                    .col-75
                      .sidebar-item.
                        Bookmarked
        .upcoming-events-wrap
          .row
            .col-100
              .title-wrap
                .col-80
                  .title.
                    Upcoming Events                
                .col-20
                  .info-icon
                    i.kl-info
          div(*ngIf="upcoming.length !== 0; else noUpcomingEvents")
            .upcoming-events-content(*ngFor="let p2p of upcoming; index as i; trackBy: trackByFn")
            
              div(*ngIf="i === 0;then firstevent else upcomingevents")

              ng-template(#firstevent)
                include _first-upcoming-event.pug
              ng-template(#upcomingevents)
                include _upcoming-events.pug
          .row
            .all-events-wrap
              a(routerLink="/home/filtered/Scheduled")
                .all-events.
                  Check All Events

                  
    .col-75
      .main-section-wrap
        .top-elements
          .col-50
            span#searchTitle All P2P requests are displayed
            //- input(type="text", placeholder="interests, bookmarked, math, angular...").search-p2p-input
          .col-50
            .create-request-button-wrap
              button.create-request-button(
                (click)="toggleCreateRequest()"
                [class.create-request-button-opened]="createRequestState === 'open'"
              ) Create a Request
        .create-dropdown-wrap([@peerToPeerOptions]="createRequestState")
          .row
            .request-section-wrap
              .section-title Student Section
          .row.request-type-wrap#last-study-section
            .col-20
              .request-type-image-wrap P2P
                //- img(src="#" alt="p2p-request")              
            .col-65
              .row
                .request-type-title Peer-to-Peer
              .row
                .request-type-description.
                  Engage in direct video communication where you have full interactive experience with your tutor.
            .col-15
              a.create-p2p-button(routerLink="/p2p") Create

          //- TEACHER SECTION for courses and videos
          //- .row
          //-   .request-section-wrap
          //-     .section-title Teacher Section
          //- .row.request-type-wrap
          //-   .col-20
          //-     .request-type-image-wrap#teachingImg Course
          //-       //- img(src="#" alt="p2p-request")              
          //-   .col-65
          //-     .row
          //-       .request-type-title Course
          //-     .row
          //-       .request-type-description.
          //-         Lorem ipsum dolor sit amet, consectetur adipisicing
          //-         elit, sed do eiusmod tempor incididunt ut labore.
          //-         sed do eiusmod tempor incididunt ut labore.
          //-         sed do eiusmod tempor incididunt ut labore.
          //-   .col-15
          //-     button.create-p2p-button Create



        .p2p-post-cards
          router-outlet
