ng-template(#noUpcomingEvents)
  .noEvents-message There are no upcoming events


.grid-container
  .main-wrap
    .col-25
      .sidebar-wrap
        .row
          .col-35
            .profile-picture
              //- Link to profile
              a(routerLink="{{user | userProfileLink}}")
                app-profile-picture([user]="user" [uploadable]="false" size="small")
          .col-65
            .profile-name-wrap
              //- Link to profile
              .profile-name
                a(routerLink="{{user | userProfileLink}}") {{user | fullName}}
        .row
          .col-50
            .profile-minutes.tooltip-parent
              | {{user?.minutesBalance}} Minutes
              span.tooltip-minutes.tooltip-200
                | How minutes work: 
                br
                br
                | Student gives minutes. 
                br
                | Teacher gains minutes. 
                br
                br
                | Go to 
                a(href='/store') Store
                |  page for more.
          .col-50
            .profile-score.tooltip-parent
              | {{user?.pointsBalance}} Score
              span.tooltip-minutes.tooltip-175
                | You gain score both by studying and teaching.
        .row
          .sidebar-item-wrap
            a(routerLink="/profilesetup")
              .col-25
                .sidebar-item-icon
                  i.kl-edit-profile
              .col-75
                .sidebar-item.
                  Edit Profile              
        .row(appFeedbackForm)
          .col-100
            .sidebar-item-wrap
              a(app-feedback-form)
                .col-25
                  .sidebar-item-icon
                    i.kl-feedback
                .col-75
                  .sidebar-item.
                    Send Feedback
        .row
          .col-100((click)="togglePeerToPeerOptions()")
            .sidebar-item-wrap.dropdown-item
              .col-25
                .sidebar-item-icon
                  i.kl-peer
              .col-65
                .sidebar-item.
                  Peer-to-Peer
              .col-10
                .dropdown-icon-wrap
                  i.kl-more([@peerToPeerRotate]="peerToPeerOptionsState")
          .col-100.overflow-hidden([@peerToPeerOptions]="peerToPeerOptionsState")
              .col-100
                .sidebar-subitem-wrap
                  a(routerLink="/home/filtered/My")
                    .col-25
                      .sidebar-item-icon
                        i.kl-my
                    .col-75
                      .sidebar-item.
                        My Posts
              .col-100
                .sidebar-subitem-wrap
                  a(routerLink="/home/filtered/Scheduled")
                    .col-25
                      .sidebar-item-icon
                        i.kl-calendar
                    .col-75
                      .sidebar-item.
                        Scheduled
              .col-100
                .sidebar-subitem-wrap
                  a(routerLink="/home/filtered/Bookmarked")
                    .col-25
                      .sidebar-item-icon
                        i.kl-bookmark
                    .col-75
                      .sidebar-item.
                        Bookmarked
        .upcoming-events-wrap
          .row
            .col-100
              .title-wrap
                .col-80
                  .title.
                    Upcoming Events                
                .col-20
                  .info-icon
                    i.kl-info.tooltip-parent
                      .tooltip-counter.tooltip-175
                        i.kl-circle#student-circle
                        span - You are a Student
                        br
                        i.kl-circle#teacher-circle
                        span - You are a Teacher
          div(*ngIf="upcoming && upcoming.length !== 0; else noUpcomingEvents")
            .upcoming-events-content(*ngFor="let p2p of upcoming; index as i; trackBy: trackByFn")
            
              div(*ngIf="i === 0;then firstevent else upcomingevents")

              ng-template(#firstevent)
                include _first-upcoming-event.pug
              ng-template(#upcomingevents)
                include _upcoming-events.pug
          .row
            .all-events-wrap
              a(routerLink="/home/filtered/Scheduled")
                .all-events.
                  Check All Events

                  
    .col-75
      .main-section-wrap

        .my-dashboard-wrap
          .row.dashboard-header
            #title
              | Dashboard
            .checkbox-wrap
              label.check-label
                input(type="checkbox", name="filter-checkbox", checked)
                span.check-label-text Peer to Peer
            .checkbox-wrap
              label.check-label
                input(type="checkbox", name="filter-checkbox", checked)
                span.check-label-text Scheduled
            .checkbox-wrap
              label.check-label
                input(type="checkbox", name="filter-checkbox", checked)
                span.check-label-text Bookmarked
            .checkbox-wrap
              label.check-label
                input(type="checkbox", name="filter-checkbox", checked)
                span.check-label-text Negotiating
            //- select.selection-box
            //-   option Engaded
            //-   option Recommended
          .row.dashboard-content
            router-outlet