<div class="grid-container">
    <div class="row firstRow">
        <div class="col-25">
            <div class="leftSidebar-wrap">
                <div class="leftSidebar-Menu">
                    <div class="row">
                        <div class="col-100">
                            <div class="profileInfo-wrap">
                                <div class="row topElements-wrap">
                                    <div class="col-25">
                                        <a routerLink="/profile/{{user.id}}">
                                            <div class="profileImage-wrap">
                                                <app-profile-picture [user]="user" [uploadable]="false" size="small"></app-profile-picture>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-75">
                                        <div class="row">
                                            <div class="col-100 profileInfo-name">
                                                <a routerLink="{{user | userProfileLink}}">{{user | fullName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bottomElements-wrap">
                                    <div class="col-50" id="minutesValue">{{user.minutesBalance}} Minutes</div>
                                    <div class="col-50" id="scoreValue">{{user?.pointsBalance}} Score</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <div class="menuItem-wrap posRel">
                                <a routerLink="/profilesetup" class="editProfileLink">
                                    <i class="menuIcon kl-edit-profile"></i>
                                    <div class="editProfile menuItem-text"> Edit Profile</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <div class="menuItem-wrap posRel">
                                <a class="sendFeedbackLink" appFeedbackForm>
                                    <i class="menuIcon kl-feedback"></i>
                                    <div class="sendFeedback menuItem-text"> Send Feedback </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-100">
                            <div class="scheduleSection-wrap">
                                <div class="row">
                                    <div class="col-100">
                                        <div class="scheduleTitle"> Schedule </div>
                                        <div class="menuItem-wrap posRel">
                                            <i class="menuIcon kl-peer"></i>
                                            <div class="peer-to-peer-category-title menuItem-text"> Peer-to-Peer </div>
                                            <div class="peer-to-peer-sub-category">
                                                <div class="row">
                                                <div class="col-100">
                                                    <div class="menuItem-wrap posRel">
                                                        <a routerLink="filtered/{{filters.My}}" class="myPostsLink">
                                                            <i class="menuIcon kl-my"></i>
                                                            <div class="myPosts menuItem-text"> My Posts </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                <div class="col-100">
                                                    <div class="menuItem-wrap posRel">
                                                        <a routerLink="filtered/{{filters.Scheduled}}" class="scheduledLink">
                                                            <i class="menuIcon kl-calendar"></i>
                                                            <div class="scheduled menuItem-text"> Scheduled</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                <div class="col-100">
                                                    <div class="menuItem-wrap posRel">
                                                        <a routerLink="filtered/{{filters.Bookmarked}}" class="bookmarkedLink">
                                                        <i class="menuIcon kl-bookmark"></i>
                                                        <div class="bookmarked menuItem-text"> Bookmarked </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-50">
            <div class="mainSection-wrap">
                <router-outlet></router-outlet>
                <div class="row">
                    <div class="col-100">
                        <a href="" class="loadMoreLink">
                            <div class="loadMore">
                                <i class="kl-three-dots"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-25">
            <div class="rightSidebar-wrap">

                <!-- <div class="row">
                    <div class="col-100">
                        <div class="stickies-wrap">
                            <div class="row">
                                <div class="stickiesTitle-wrap">
                                    <div class="col-15" id="leftIcon">
                                        <i class="kl-stickies"></i>
                                    </div>
                                    <div class="col-65">
                                        <div class="stickiesTitle">Stickies</div>
                                    </div>
                                    <div class="col-20">
                                        <button class="clearButton addStickies">
                                            <i class="kl-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="stickiesList"></div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- NOTE: UPCOMING EVENTS WIDGET -->
                <div class="row">
                    <div class="col-100">
                        <div class="upcomingEvents-wrap">
                            <div class="upcomingEvents-title">
                                Upcoming Events
                                <i class="kl-info upcomingEvents-info tooltip-parent">
                                    <span class="tooltip-left tooltip-175">
                                        <div>
                                        <i class="kl-circle circleState-student"></i>
                                        <span>- You are Student.</span>
                                        </div>
                                        <div>
                                        <i class="kl-circle circleState-teacher"></i>
                                        <span>- You are Teacher.</span>
                                        </div>
                                    </span>
                                </i>
                            </div>

                            <div class="noEvents">No Upcoming Events...</div>

                            <div class="hasEvents">
                                <div class="firstUpcomingEvent">
                                    <div class="row">
                                        <div class="timeLeft-wrap">
                                            <i class="kl-circle circleState-teacher"></i>
                                            <span class="timeLeft">1:34h</span>
                                            <span class="timeLeft-text">before activity</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="subject-wrap">
                                            <span class="subject">Math</span>
                                            <span class="subject-text"> with:</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <div class="profileImage-wrap">
                                                <a routerLink="" class="profile-link">
                                                    <app-profile-picture [user]="url" [uploadable]="false" class="centerV" size="x-small"></app-profile-picture>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-50">
                                            <div class="row">
                                                <div class="withUser-name">
                                                    <a routerLink="">Hana Bubu</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="withUser-stars">
                                                    <ngl-rating [rate]="0" colorOn="#007bb6" colorOff="#e1e2e5" size="x-small" [isReadonly]="true"></ngl-rating>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-25">
                                            <div class="reward-wrap">
                                                <span class="reward">30</span>
                                                <i class="kl-currency reward-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="otherUpcomingEvents">
                                    <div class="row">
                                        <div class="timeLeft-wrap">
                                            <i class="kl-circle circleState-student"></i>
                                            <span class="timeLeft">2:14h</span>
                                            <span class="timeLeft-text">before activity</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="otherEventsInfo-wrap">
                                            <span class="otherEventsInfo-subject">English</span>
                                            <span class="otherEventsInfo-text">with</span>
                                            <span class="otherEventsInfo-with"><a routerLink="">Babalo Alarotakosa</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="otherUpcomingEvents">
                                    <div class="row">
                                        <div class="timeLeft-wrap">
                                            <i class="kl-circle circleState-student"></i>
                                            <span class="timeLeft">2:44h</span>
                                            <span class="timeLeft-text">before activity</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="otherEventsInfo-wrap">
                                            <span class="otherEventsInfo-subject">C++ Programming</span>
                                            <span class="otherEventsInfo-text">with</span>
                                            <span class="otherEventsInfo-with"><a routerLink="">Hepek Hepekovski</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <a routerLink="">
                                        <div class="checkAllevents">Check All Events</div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
