<div class="row">
    <div class="col-100">
        <div class="userReviews-wrap">
            <div class="userReviews-title">Reviews</div>
            <div class="userReviews-global">

                <div class="userReviews-value">
                    <!-- {{message.messageFrom.averageRating | number:'1.2-2'}} -->
                    4.25
                </div>

                <div class="userReviews-stars">
                    <ngl-rating [rate]="0" colorOn="#007bb6" colorOff="#e1e2e5" size="large" [isReadonly]="true"></ngl-rating>
                </div>

                <div class="userReview-text">Average User Rating</div>
            </div>
            <div class="row">
                <div class="userReviews-list">


                </div>
            </div>
        </div>
    </div>
</div>
