<!--<div *ngFor="let item of friends" (click)="openConverisation(item)">
  {{item | fullName}}
</div>-->
<div class="chat-wrap" *ngIf="shouldShow">
  <div class="chat-selector-wrap inline-ltr">
    <div class="friends-list" *ngIf="friendsOpened">
      <div class="chat-selector-header" (click)="toggleFriends()">
          Chat
          <!--<i class="kl-settings"></i>
          <i class="kl-messages"></i>-->
      </div>
      <div class="single-friend" *ngFor="let friend of friends" (click)="openConverisation(friend)">
        <app-profile-picture [user]="friend" size="x-small" class="inline-ltr single-friend-photo"></app-profile-picture>
        <span class="inline-ltr single-friend-name">
          {{friend | fullName}}
        </span>
      </div>
      <div class="single-friend" *ngIf="friends?.length === 0">
        You have no friends. Get a life bro.
      </div>
    </div>
    <div class="chat-selector" (click)="(!friendsOpened) ? toggleFriends() : false">
        <input type="text" placeholder="Search..." class="friends-search" *ngIf="friendsOpened" ngModel (ngModelChange)="searchUpdate($event)">
        <div *ngIf="!friendsOpened">
          <span class="chat-selector-text">Chat</span>
          <span class="chat-selector-counter">(1)</span>
        </div>
    </div>
  </div>
  <div class="chat-tabs inline-ltr">
    <div #tabs></div>
  </div>
</div>
<!--<div class="chat-tabs">
  <app-chat-converisation [user]="item" *ngFor="let item of converisations" (close)="closeConverisation(item)"></app-chat-converisation>
</div>-->
