@import "../../../../kl-styles/variables.scss";


.notification-wrap {
  width: 250px;
  min-height: 100px;
  padding-top: 10px;
  border: none;
  border-radius: $border-radius;
  color: white;  
  bottom: 30px;
  left: 30px;
  position: fixed;
  text-align: center;


  button {
    border: none;
    border-radius: $border-radius;
    color: $font-primary-color;
    padding: 5px 10px;
    background-color: white;
    font-weight: bold;
    margin-top: 10px;
  }
}

.notification-error {
  background-color: $knowlead-secondary;
}

.notification-info {
  background-color: $knowlead-primary;
}

.notification-warning {
  background-color: $warning-color;
}

.notification-success {
  background-color: $success-color;
}

.closeNotification {
  color: black;
}