<div class="notification-wrap" [ngClass]="'notification-' + notification.type" *ngIf="notification">
	<button class="closeNotification" name="close" (click)="onNotificationClose()">
		<i class="kl-close"></i>
	</button>
	<h1>{{ notification.title | translateParametric }}</h1>
  <h4>{{ notification.subtitle | translateParametric }}</h4>
</div>
<app-feedback-form *ngIf="feedbackFormOpened" (closed)="feedbackFormOpened=false"></app-feedback-form>
<app-p2p-feedback-form *ngIf="p2pFeedbackFormOpened" (closed)="p2pFeedbackFormOpened=false" [p2pId]="p2pFeedbackFormId"></app-p2p-feedback-form>