@import "../../../../kl-styles/variables.scss";


.notification-wrap {
  width: 300px;
  min-height: 85px;
  padding-top: 10px;
  border: none;
  border-radius: $border-radius;
  color: white;  
  bottom: 30px;
  left: 30px;
  position: fixed;

  h1 {
   margin: 3px 30px 3px 25px;
   font-weight: bold;
   font-size: 16px;
  }

  h4 {
   margin: 0 30px 0 25px;
  }
}

.notification-error {
  background-color: $knowlead-secondary;
}

.notification-info {
  background-color: $knowlead-primary;
}

.notification-warning {
  background-color: $warning-color;
}

.notification-success {
  background-color: $success-color;
}

.closeNotification {
  color: $font-primary-color;
  float: right;
  border: none;
  border-radius: $border-radius;
  color: transparentize(white, 0.5);
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  margin: 0 10px 0 0;
  outline: none;

  &:hover {
    color: white;
  }
}