@import "../../../../kl-styles/variables.scss";

.header-wrap {
    width: $full-grid-width;
    height: 300px;
    background-image: url("/assets/images/referral-cover.jpg");
    color: white;
    position: relative;
    margin-bottom: 30px;
    background-size: contain;

    .headerInfo-wrap {
        height: 100%;
        width: 100%;
        // background-color: blue;
    }

    .headerTitle {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;;
        text-align: center;
    }

    #titleBelow {
        margin-top: -20px;
    }

    .headerText {
        font-size: 18px;
        text-align: center;
    }

    .referralLink {
        margin-top: 10px;
        text-align: center;
        padding: 5px 15px;
        background-color: white;
        border-radius: $border-radius;
        color: $knowlead-primary;
    }
}



form{
	margin-bottom: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



#refer .prizes{
	width: $full-grid-width;
	background: #FFF;
    padding: 30px 45px 100px 45px;
}

#refer .prizes .page-content{
	position: relative;
}

#refer .prizes .callout{
	text-align: center;
	font-size: 16px;
	color: $knowlead-primary;
	font-weight: bold;
	margin: 20px 0 0 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#refer .prizes .progress{
	height: 5px;
	width: 100%;
	background: $divider-color;
	background-size: 1px 5px;
	position: absolute;
	top: 100px;
	z-index: 0;
}

#refer .prizes .progress .mover{
	position: absolute;
	top: 0;
	left: 0;
}

#refer .prizes .progress .mover .bar{
	background: $knowlead-primary;
	width: 0px;
	height: 5px;
	-webkit-background-size: 1px 5px;
	background-size: 1px 5px;
}

#refer .prizes ul.products{
	height: 105px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	z-index: 1;
}

#refer .prizes .products li.product{
	height: 100%;
	color: $font-primary-color;
    font-weight: bold;
	width: 140px;
	margin-right: 0px;
	float: left;
	position: relative;
}

#refer .prizes .products li.product.last{
    margin-left: 20px;
}

#refer .prizes .products li.first{
    width: 10px;
    float: left;
    position: relative;
    height: 100%;
}

#refer .prizes .products li.product .circle{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	font-weight: bold;
	margin: 0 auto;
    border: 1px solid;

	color: white;
	background: $knowlead-primary;
	border-color: white;
    box-shadow: 0 0 5px transparentize($font-primary-color, 0.3);
}

#refer .prizes .products li.product .claimed {
    color: $disabled-color;
    background: $post-type-secondary-color;
    border-color: $disabled-color;
    box-shadow: none;


    ~ p {
        color: $disabled-color;
    }
}

#refer .prizes .products li.product .notReached {
    color: $font-primary-color;
    background: $hover-dark-color;
    border-color: $disabled-color;
    box-shadow: none;
}

.special {
    color: $knowlead-primary;
    font-weight: bold;
    font-size: 20px;
}

.refReward {
    font-weight: bold;
}

.extraReward {
    color: $knowlead-primary;
    font-weight: bold;
}

#refer .prizes .products li.product .sep{
	width: 12px;
	height: 2px;
	background: transparent;
	margin: 13px auto 13px;
}

#refer .prizes .products li.product p{
	text-align: center;
	font-weight: 500;
}

#refer .prizes .products li.product:last-child{
	margin-right: 0;
}

#refer .prizes .products li.product.last{
	margin-right: 0;
}

#refer .prizes .products li.product.selected .circle{
	background: #995F5E !important;
	border-color: #995F5E !important;
	color: #FFF !important;
}


#refer .prizes .products li.product.selected p{
	color: #995F5E !important;
}


#refer .prizes .products li.product .tooltip-claimReward {
	height: 40px;
	width: 100%;
	border: 1px solid $hover-dark-color;
	position: absolute;
    border-radius: $border-radius;
	top: -47px;
	left: 50%;
    transform: translateX(-50%);
	display: none;
	background-color: $knowlead-secondary;
    color: white;
    text-align: center;
    line-height: 40px;

    &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $knowlead-secondary;
        top: 33px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }

}

#refer .prizes .products li.product:hover .tooltip-claimReward {
	display: block;
}

#refer .prizes p.place{
	text-align: center;
	font-size: 16px;
	color: #074E6F;
	width: 100%;
	font-weight: 500;
	margin-top: 30px;
}

#refer .prizes p.place span{
	color: #995F5E;
}

#refer .prizes p.check{
	text-align: center;
	font-size: 16px;
	color: #858181;
	width: 100%;
	font-weight: 500;
	margin-top: 5px;
}

#refer .prizes p.ship{
	text-align: center;
	font-size: 16px;
	color: #858181;
	width: 100%;
	font-weight: 500;
	margin-top: 50px;
}

#refer .prizes a.policy{
	text-align: center;
	font-size: 12px;
	color: #CCCCCC;
	width: 100%;
	font-weight: 500;
	margin-top: 5px;
	display: block;
	text-decoration: none;
}





.referralBottomElements {
    margin: 30px 0;
    width: $full-grid-width;

    .cicrle-wrap {
        position: relative;
        height: 300px;
        width: 100%;
    }

    .completedReferrals-wrap {
        width: 250px;
        height: 250px;
        background-color: white;
        border: 1px solid $hover-dark-color;
        border-radius: 50%;
    }

    .completedRefferals-number {
        font-weight: bold;
        font-size: 100px;
        margin-top: -17px;
    }


    .completedReferrals-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 40px);
        font-size: 16px;
        font-weight: bold;
        color: $knowlead-secondary;
        text-transform: capitalize;
        width: 250px;
        text-align: center;
    }

    .pendingReferrals-wrap {
        width: 100%;
        height: 300px;
        background-color: white;
        border-radius: $border-radius;
        border: 1px solid $hover-dark-color;
    }

    .pendingReferrals-title {
        height: 50px;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 2px solid $divider-color;
        line-height: 50px;
        padding-left: 20px;
    }

    .pending-wrap {
        height: 40px;
        border-bottom: 1px solid $divider-color;
        line-height: 40px;
    }

    .pendingEmail {
        text-decoration: none;
        color: $font-primary-color;
        font-weight: bold;
        border-right: 1px solid $divider-color;
        margin-left: 50px;
    }

    .pendingStatus {
        text-decoration: none;
        color: $knowlead-primary;
        font-weight: bold;
        text-transform: capitalize;
        margin-left: 50px;
    }

}
