<div id="refer">
  <div class="prizes">
    <div class="page-content">
      <p class="callout brandon">Here's How It Works:</p>
      <ul class="products clearfix">
        <li class="first"></li>
        <li *ngFor="let stop of stops" [class.selected]="stop.selected" [class.last]="stop.last" class="product brandon" (click)="claimReward(stop)">
          <div class="circle">{{stop.count}}</div>
          <div class="sep"></div>
          <p>Nekakav tekst ovdje ide</p>

          <div class="tooltip" *ngIf="stop.canClaim">
            Claim your reward
          </div>
        </li>
      </ul>
      <div class="progress">
        <div class="mover">
          <div class="bar clearfix" [style.width]="currentStop?.width + 'px'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
Number of referrals: {{stats?.registratedReferralsCount}}
Referral link: <a *ngIf="user" href="{{getReferralLink(user)}}">{{getReferralLink(user)}}</a>
<div *ngFor="let status of statuses">{{status.email}} - {{status.status}}</div>