<ngl-modal [open]="call && user" (openChange)="decline()">
  <div body>
    {{callPrefix() | translate}}: {{fullName(otherUser())}}
    <div *ngIf="p2p">
      {{"call|regarding p2p" | translate}}: {{p2p.text}}
    </div>
  </div>
  <template ngl-modal-footer *ngIf="isCaller() === false">
    <button type="button" nglButton="brand" (click)="accept()">
      {{"call|accept" | translate}}
    </button>
    <button type="button" nglButton="destructive" (click)="decline()">
      {{"call|decline" | translate}}
    </button>
  </template>
</ngl-modal>