<div class="row" *ngIf="p2p">
    <div class="col-100">
        <div class="viewPost-wrap">
            <div class="row">
                <div class="col-100">
                    <div class="topElements-wrap">
                        <div class="postOptions-wrap">
                            <a class="centerVr">
                                <i class="kl-more postOptions-icon" [popover]="popover"></i>
                                <popover-content #popover placement="bottom" [closeOnClickOutside]="true">
                                    <div class="postOptions-content">

                                        <div class="row postOptions-button posRel">
                                            <a class="posRel">
                                                <div class="col-30 posRel">
                                                    <i class="kl-delete postOptions-icon centerV"></i>
                                                </div>
                                                <div class="col-70 posRel">
                                                    <p class="postOptions-text centerVl">Delete</p>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- NOTE: REPORT Button -->
                                        <!-- <div class="row postOptions-button posRel">
                                            <a class="posRel">
                                                <div class="col-30 posRel">
                                                    <i class="kl-edit postOptions-icon centerV"></i>
                                                </div>
                                                <div class="col-70 posRel">
                                                    <p class="postOptions-text centerVl">Report</p>
                                                </div>
                                            </a>
                                        </div> -->

                                    </div>
                                </popover-content>
                            </a>
                        </div>
                        <div class="col-35">
                            <div class="profileInfo-wrap">
                                <div class="col-15 posRel">
                                    <div class="profileImage-wrap">
                                        <app-profile-picture [user]="p2p.createdBy" [uploadable]="false" class="centerVl" size="small"></app-profile-picture>
                                    </div>
                                </div>
                                <div class="col-85">
                                    <!-- NOTE: If profile name is too long (goes on second row). Set margin of .profileInfoText-wrap to margin: 13px 0 0 30px; -->
                                    <div class="profileInfoText-wrap">
                                        <div class="row">
                                            <div class="col-100">
                                                <div class="profileName">{{fullName(p2p.createdBy)}}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-100">
                                                <div class="dateCreated">{{p2p.dateCreated | amTimeAgo}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-65">
                            <div class="viewPostInfo-wrap">
                                <div class="col-25">
                                    <div class="col-35">
                                        <div class="viewPostInfo-icon">
                                            <i class="kl-subject"></i>
                                        </div>
                                    </div>
                                    <div class="col-65">
                                        <div class="viewPostInfo-text" *ngIf="p2p.fos">{{p2p.fos.name}}</div>
                                    </div>
                                </div>
                                <div class="col-25">
                                    <div class="col-40">
                                        <div class="viewPostInfo-icon">
                                            <i class="kl-currency"></i>
                                        </div>
                                    </div>
                                    <div class="col-60">
                                        <div class="viewPostInfo-text">{{p2p.initialPrice}}</div>
                                    </div>
                                </div>
                                <div class="col-25">
                                    <div class="col-40">
                                        <div class="viewPostInfo-icon">
                                            <i class="kl-globe"></i>
                                        </div>
                                    </div>
                                    <div class="col-60">
                                        <div class="viewPostInfo-text">
                                            <span *ngFor="let language of p2p.languages">
                                                {{language.code | uppercase}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-25" *ngIf="p2p.deadline">
                                    <div class="col-40">
                                        <div class="viewPostInfo-icon">
                                            <i class="kl-clock"></i>
                                        </div>
                                    </div>
                                    <div class="col-60">
                                        <div class="viewPostInfo-text">{{p2p.deadline | amTimeAgo}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <div class="viewPost-text-wrap">
                        <div class="viewPost-text">
                            {{p2p.text}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <div class="bottomElements-wrap">
                        <div class="col-60 bottomElements-filler"></div>
                        <div class="col-20">
                            <div class="bottomElementsButton-wrap">
                                <a class="commentButton-link">
                                    <button class="clearButton postViewButton">
                                        <i class="kl-comment"></i>
                                        <div class="commentButton-text">Comment</div>
                                        <div class="commentCounter">0</div>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="col-20">
                            <div class="bottomElementsButton-wrap">
                                <a class="bookmarkButton-link">
                                    <button class="clearButton postViewButton">
                                        <i class="kl-bookmark"></i>
                                        <div class="bookmarkButton-text">Bookmark</div>
                                        <div class="commentCounter">3</div>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-p2p-discussion [p2pId]="p2p.p2pId" [createdBy]="p2p.createdById" [initialPrice]="p2p.initialPrice"></app-p2p-discussion>
        </div>
    </div>
</div>
<!--



<article class="marginTP slds-card slds-card--narrow" [class.slds-theme--alert-texture]="p2p.isDeleted" *ngIf="p2p">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
          <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
        </svg>
      </div>
      <div class="slds-media__body slds-truncate">
        <h2>
          <a routerLink="/p2p/{{p2p.p2pId}}" class="slds-text-link--reset">
            <span class="slds-text-heading--medium">{{p2p.title}}</span>
          </a>
          <a routerLink="/profile/{{p2p.createdById}}" class="slds-text-link--reset">
            <span class="slds-text-heading--small">{{"p2p|by" | translate}}: {{fullName(p2p.createdBy)}}</span>
          </a>
        </h2>
      </div>
    </header>
    <div class="slds-no-flex">
      <div *ngIf="deletable()">
        <button type="button" nglButtonIcon (click)="deleted()">
          <ngl-icon icon="delete"></ngl-icon>
        </button>
      </div>
      <div *ngIf="callable()">
        <button type="button" nglButtonIcon (click)="call()">
          <ngl-icon icon="call"></ngl-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="slds-card__body">
    <div>
      {{"p2p|fos" | translate}}: {{p2p.fos?.name}}
    </div>
    <div>
      {{"p2p|text" | translate}}: {{p2p.text}}
    </div>
  </div>
  <div class="slds-card__footer">
    {{"p2p|deadline" | translate}}: {{p2p.deadline | date:'medium'}}<br/>
    <ngl-icon icon="info" *ngIf="p2p.scheduledWithId"></ngl-icon>
  </div>
</article> -->
