.view-p2p-wrap(*ngIf="p2p")
  .row.profile-info-wrap
    .col-85
      .col-10
        .profile-picture
          //- Link to profile
          a(routerLink="{{p2p.createdBy | userProfileLink}}")
            app-profile-picture([user]="p2p.createdBy" [uploadable]="false" size="small")
      .col-90
        .profile-name-wrap
          .row.profile-name
            a(routerLink="{{p2p.createdBy | userProfileLink}}") {{p2p.createdBy | fullName}}
    .col-15
      .bookmark-wrap
        i.kl-bookmark2
        span.bookmark-counter 1

  .row.p2p-info-wrap
    .row#firstRow
      .col-50
        .p2p-section-wrap
          .col-20
            .section-icon-wrap([ngClass]="fosColor")
              i.kl-subject
          .col-80.section-text-wrap
            .row.section-title.
              SUBJECT
            .row.section-item.
              Management
      .col-50
        .p2p-section-wrap
          .col-20
            .section-icon-wrap([ngClass]="priceColor")
              i.kl-currency
          .col-80.section-text-wrap
            .row.section-title.
              REWARD
            .row.section-item.
              154 Minutes
    .row
      .col-50
        .p2p-section-wrap
          .col-20
            .section-icon-wrap([ngClass]="languageColor")
              i.kl-globe
          .col-80.section-text-wrap
            .row.section-title.
              LANGUAGES
            .row.section-item.
              EN, BiH
      .col-50
        .p2p-section-wrap
          .col-20
            .section-icon-wrap([ngClass]="deadlineColor")
              i.kl-clock
          .col-80.section-text-wrap
            .row.section-title.
              DEADLINE
            .row.section-item.
              05.95.1925. 15:96

  .p2p-description-wrap
    .row.title Request Description
    .row.summary-wrap
      .summary.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a pulvinar turpis.
        Nulla facilisi. Donec ac risus massa. Morbi fermentum molestie augue sit amet pulvinar.
        Sed luctus dui in metus eleifend viverra. Fusce suscipit aliquam lacinia. Donec placerat diam est.
        Eu porttitor magna vehicula at. Vestibulum sit amet sem feugiat, eleifend leo eget.
    .row.title Attachments
    .row.attachments-wrap
      .item#att-1
      .item#att-2
      .item#att-3
      .item#att-4
      .item#att-5
  .bottom-offer-button-wrap
    .offer-button-wrap
      button.offer-button
        | Offer 
        span.offer-counter 34
  .discussion-wrap
    app-p2p-discussion([p2p]="p2p")