@import "../../../../kl-styles/variables.scss";

.view-p2p-wrap {
  background-color: $post-view-background-color;
  border-radius: $border-radius;
  border: $outline;
  padding: 25px;
  margin-left: 10px;
  overflow: hidden;
}

.profile-name-wrap {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    margin-top: 6px;
    height: 50px;
    align-items: center;

    .profile-name {
      max-width: 200px;

      > a {
        text-decoration: none;
        color: $font-primary-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

.bookmark-wrap {
  margin-top: -26px;
  margin-left: 20px;
  display: flex;
  align-items: center;

  i {
    font-size: 40px;
    color: $hover-middle-color;

    &:hover {
        cursor: pointer;
        color: $knowlead-primary;
      }
  }

  .bookmarked {
      color: $knowlead-primary;

      &:hover {
        color: $hover-middle-color;
      }
    }

  .bookmark-counter {
    background-color: $background-color;
    border-radius: $border-radius;
    border: $outline;
    padding: 0 5px;
    font-size: 13px;

    &:hover {
      cursor: pointer;
    }
  }
}

.p2p-info-wrap {
  margin: 15px 0;
  padding: 20px 15px 20px 115px;
  border-top: $divider;
  border-bottom: $divider;

  #firstRow {
    margin-bottom: 15px;
  }
}

.p2p-section-wrap {
  .section-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    height: 61px;
  }

  .section-text-wrap {
    display: flex;
    align-items: center;
    height: 60px;
    flex-wrap: wrap;

    .section-title {
        font-size: 12px;
        font-weight: bold;
        color: $knowlead-primary;
        flex-basis: 100%;
      }

      .section-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        flex-basis: 100%;
      }
  }
}