<div class="row" *ngIf="p2p">
    <div class="col-100">
        <div class="viewPost-wrap">
            <div class="row">
                <div class="col-100">
                    <div class="topElements-wrap">
                        <div class="postOptions-wrap">
                            <a class="postOptions-icon-wrap centerVr">
                                <i class="kl-more postOptions-icon" [popover]="popover"></i>
                                <popover-content #popover placement="bottom" [closeOnClickOutside]="true">
                                    <div class="postOptions-content">

                                        <div class="row postOptions-button posRel">
                                            <a class="posRel" *ngIf="p2p.createdById === user?.id">
                                                <div class="col-30 posRel">
                                                    <i class="kl-delete postOptions-icon centerV"></i>
                                                </div>
                                                <div class="col-70 posRel" (click)="deleted()">
                                                    <p class="postOptions-text centerVl">Delete</p>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- NOTE: REPORT Button -->
                                        <!-- <div class="row postOptions-button posRel">
                                            <a class="posRel">
                                                <div class="col-30 posRel">
                                                    <i class="kl-edit postOptions-icon centerV"></i>
                                                </div>
                                                <div class="col-70 posRel">
                                                    <p class="postOptions-text centerVl">Report</p>
                                                </div>
                                            </a>
                                        </div> -->

                                    </div>
                                </popover-content>
                            </a>
                        </div>
                        <div class="col-40">
                            <div class="profileInfo-wrap">
                                <div class="col-25 posRel">
                                    <a routerLink="{{p2p.createdBy | userProfileLink}}">
                                        <div class="profileImage-wrap">
                                            <app-profile-picture [user]="p2p.createdBy" [uploadable]="false" class="centerVl" size="small"></app-profile-picture>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-75">
                                    <!-- NOTE: If profile name is too long (goes on second row). Set margin of .profileInfoText-wrap to margin: 13px 0 0 30px; -->
                                    <div class="profileInfoText-wrap">
                                        <div class="row">
                                            <div class="col-100">
                                                <a routerLink="{{p2p.createdBy | userProfileLink}}">
                                                    <div class="profileName">{{p2p.createdBy | fullName}}</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-100">
                                                <div class="dateCreated">{{p2p.dateCreated | amTimeAgo}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-60">
                            <div class="viewPostInfo-wrap">
                                <div class="col-25 tooltip-parent">
                                    <div class="col-35">
                                        <div class="viewPostInfo-icon">
                                            <i class="kl-subject"></i>
                                        </div>
                                    </div>
                                    <div class="col-65">
                                        <div class="viewPostInfo-text" *ngIf="p2p.fos" id="subjectText">{{p2p.fos.name}}</div>
                                    </div>
                                    <span class="tooltip-postInfo tooltip-150" *ngIf="p2p.fos">
                                        Subject: {{p2p.fos.name}}
                                    </span>
                                </div>
                                <div class="col-25 tooltip-parent">
                                    <div class="col-40">
                                        <div class="viewPostInfo-icon">
                                            <i class="kl-currency"></i>
                                        </div>
                                    </div>
                                    <div class="col-60">
                                        <div class="viewPostInfo-text">{{p2p.initialPrice}}</div>
                                    </div>
                                    <span class="tooltip-postInfo tooltip-150">
                                        Reward: {{p2p.initialPrice}} Minutes
                                    </span>
                                </div>
                                <div class="col-25 tooltip-parent">
                                    <div class="col-40">
                                        <div class="viewPostInfo-icon">
                                            <i class="kl-globe"></i>
                                        </div>
                                    </div>
                                    <div class="col-60">
                                        <div class="viewPostInfo-text">
                                            <span *ngFor="let language of p2p.languages">
                                                {{language.code | uppercase}}
                                            </span>
                                        </div>
                                        <span class="tooltip-postInfo tooltip-150">
                                            Language:
                                            <span *ngFor="let language of p2p.languages">
                                                {{language.name}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-25  tooltip-parent" *ngIf="p2p.deadline">
                                    <div class="col-40">
                                        <div class="viewPostInfo-icon">
                                            <i class="kl-clock"></i>
                                        </div>
                                    </div>
                                    <div class="col-60">
                                        <div class="viewPostInfo-text">{{p2p.deadline | amTimeAgo}}</div>
                                    </div>
                                    <span class="tooltip-postInfo tooltip-150">
                                        Deadline: {{p2p.deadline | amTimeAgo}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <div class="viewPost-text-wrap">
                        <div class="viewPost-text">
                            {{p2p.text}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <div class="bottomElements-wrap">

                        <div class="scheduledFooter" *ngIf="p2p.scheduledWithId">
                            <div class="row">
                                <div class="scheduledInfo-wrap">
                                    Scheduled with <a routerLink="{{p2p.scheduledWith | userProfileLink}}">{{p2p.scheduledWith | fullName}}</a> at <span class="dateScheduled">{{p2p.dateTimeAgreed | date:'medium'}}</span> for <span class="priceScheduled">{{p2p.priceAgreed}}</span> Minutes.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-100">
                                    <div class="callButton-wrap" *ngIf="callable">
                                        <button class="callButton" (click)="call()">Call</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!p2p.scheduledWithId">
                            <div class="col-60">
                                <div class="callButton-wrap" *ngIf="callable">
                                    <button class="callButton" (click)="call()">Call</button>
                                </div>
                            </div>
                            <div class="col-20">
                                <div class="bottomElementsButton-wrap">
                                    <i class="kl-comment comment-icon"></i>
                                    <a class="commentButton-link">
                                        <button class="clearButton postViewCommentButton">Offer</button>
                                    </a>
                                    <div class="commentCounter"></div>
                                </div>
                            </div>
                            <div class="col-20" *ngIf="p2p.canBookmark">
                                <div class="bottomElementsButton-wrap">
                                    <i class="kl-bookmark bookmark-icon"></i>
                                    <a class="bookmarkButton-link">
                                        <button class="clearButton postViewBookmarkButton" (click)="bookmark()">
                                            {{(p2p.didBookmark) ? 'Bookmarked' : 'Bookmark'}}
                                        </button>
                                    </a>
                                    <div class="bookmarkCounter">
                                        {{p2p.bookmarkCount}}
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="p2p && !p2p?.scheduledWithId">
    <div class="col-100">
        <app-p2p-discussion [p2p]="p2p"></app-p2p-discussion>
    </div>
</div>
