.view-p2p-wrap(*ngIf="p2p")
  .row.profile-info-wrap
    .col-85
      .col-10
        .profile-picture
          //- Link to profile
          a(routerLink="{{p2p.createdBy | userProfileLink}}")
            app-profile-picture([user]="p2p.createdBy" [uploadable]="false" size="small")
      .col-90
        .profile-name-wrap
          .row.profile-name
            a(routerLink="{{p2p.createdBy | userProfileLink}}") {{p2p.createdBy | fullName}}
    .col-15
      .bookmark-wrap
        i.kl-bookmark2([class.bookmarked]="p2p.didBookmark" (click)="bookmark($event)")
        span.bookmark-counter {{p2p.bookmarkCount}}

  .row.p2p-info-wrap
    .row#firstRow
      .col-50
        .p2p-section-wrap
          .col-20
            .section-icon-wrap([ngClass]="fosColor")
              i.kl-subject
          .col-80.section-text-wrap
            .row.section-title.
              SUBJECT
            .row.section-item.
              {{p2p.fos?.name}}
      .col-50
        .p2p-section-wrap
          .col-20
            .section-icon-wrap([ngClass]="priceColor")
              i.kl-currency
          .col-80.section-text-wrap
            .row.section-title.
              REWARD
            .row.section-item.
              {{p2p.actualPrice}}
    .row
      .col-50
        .p2p-section-wrap
          .col-20
            .section-icon-wrap([ngClass]="languageColor")
              i.kl-globe
          .col-80.section-text-wrap
            .row.section-title.
              LANGUAGES
            .row.section-item
              span(*ngFor="let language of p2p.languages")
                 span.single-language {{language.code | uppercase}} 
      .col-50
        .p2p-section-wrap
          .col-20
            .section-icon-wrap([ngClass]="deadlineColor")
              i.kl-clock
          .col-80.section-text-wrap
            .row.section-title.
              DEADLINE
            .row.section-item
              span(*ngIf="p2p.deadline != null; else noDeadline").
                {{p2p.deadline | date:'y MMM d, H:m'}} ({{p2p.deadline | amTimeAgo}})
              template(#noDeadline) No deadline
                

  .p2p-description-wrap
    .row.title Request Description
    .row.summary-wrap
      .summary.
        {{p2p.text}}
    .row
      .col-80
        .title Attachments
      .col-20
        .download-all-button-wrap
          button.download-all-button Download All
    .row.attachments-wrap
      .item#att-1
      .item#att-2
      .item#att-3
      .item#att-4
      .item#att-5
  .offer-button-wrap
    button.offer-button
      | Write Offer
    span.offer-counter {{p2p.offerCount}}
  .discussion-wrap
    app-p2p-discussion([p2p]="p2p")