<div class="chat-wrap">
    <div class="row chatSection-wrap">
        <div class="chatSection">
            <div class="row" *ngFor="let message of messages">
                <div class="message" [class.myMessage]="message.senderId === user?.id">{{message.message}}</div>
            </div>
        </div>
    </div>


    <div class="row sidebarBottomElements">
        <div class="col-100">
            <div class="chatInput-wrap">
                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <input type="text" class="chatInput" name="message" placeholder="Press Enter to Send..." autocomplete="off" formControlName="message">
                </form>
            </div>
        </div>
    </div>

</div>
