@import "../../../../kl-styles/variables.scss";

.chatSection-wrap {
  position: relative;
  height: 86vh;
}

.chatSection {
  padding: 5px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-flex;
  -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  padding: 5px 15px 5px 5px;
  margin: 3px 0;
  width: auto;
  max-width: 225px;
  word-wrap: break-word;
  border-bottom: 1px solid $call-video-font-color;
}

.message.myMessage {
  color: $call-video-font-color;
  border-color: $knowlead-primary;
  float: right;
  padding: 5px 5px 5px 15px;
}

.message:not(.myMessage) {
  color: white;
  float: left;
}

.sidebarBottomElements {
  height: 6vh;
}

.chatInput-wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
}
