<div>
  <div *ngIf="!showSubSubCategories()">
    <app-selectable-list [items]="subcategories"
      [isRemovableCallback]="isRemovableCallback"
      displayProperty="name"
      (itemClicked)="itemClicked($event)"
      (itemRemoved)="remove($event)"></app-selectable-list>
  </div>
  <div *ngIf="showSubSubCategories()">
    <app-selectable-list [items]="selectedCategory.children"
      [isRemovableCallback]="isRemovableCallback"
      displayProperty="name"
      (itemClicked)="subItemClicked($event)"
      (itemRemoved)="remove($event)">
    </app-selectable-list>
  </div>
</div>
