.grid-container
	.row
		.row
			.coverPhoto-wrap([style.background-image]='coverUrl')
				//
					<div class="coverPhoto-options">
					<i class="kl-plus"></i>
					</div>
				.profilePage-profileImage-wrap
					app-profile-picture([user]='target', [uploadable]='isMy', size='large')
				.profilePage-profileInfo-wrap
					.profilePage-Name {{target | fullName}}

					//- .addFriend-wrap(*ngIf='canAddFriend')
					//- 	i.kl-add-friend((click)='addFriend()')

		.row
			.profilePage-navigation-wrap
				.col-17.filler
				.profilePage-nav-main-section
					.col-25.profilePage-nav-item
						a(routerLink=".", routerLinkActive="active-link") About Me
					.col-25.profilePage-nav-item 
						a(routerLink="rank", routerLinkActive="active-link") Rank
					.col-25.profilePage-nav-item(*ngIf="isMy")
						a(routerLink="library", routerLinkActive="active-link") Library
					.col-25.profilePage-nav-item(*ngIf="isMy")
						a(routerLink="friends", routerLinkActive="active-link") Friends
				.profile-stats-wrap
					.col-50.profile-stats
						.row
							.text.
								Score
						.row
							.value.
								{{target?.pointsBalance}}
					.col-50.profile-stats(*ngIf="isMy")
						.row
							.text.
								Minutes
						.row
							.value.
								{{me?.minutesBalance}}
				.edit-profile-button-wrap(*ngIf="isMy")
					a(routerLink="/profilesetup")
						button.edit-profile-button 
							i.kl-edit-profile 
							span  Edit Profile
				.friendship-options-wrap(*ngIf="!isMy && target")
					app-friendship-strip([otherId]="target.id")
		.aboutMe-content
			router-outlet