<div class="grid-container">
    <div class="row">
        <div class="row">
            <div class="coverPhoto-wrap">
                <!-- <div class="coverPhoto-options">
                    <i class="kl-plus"></i>
                </div> -->
                <div class="profilePage-profileImage-wrap">
                    <app-profile-picture [user]="target" [uploadable]="false" size="large"></app-profile-picture>
                </div>
                <div class="profilePage-profileInfo-wrap">
                    <div class="profilePage-Name">{{target | fullName}}</div>
                </div>

                <div class="addFriend-wrap">
                    <i class="kl-add-friend"></i>
                </div>
                <div class="sendMessage-wrap">
                    <i class="kl-messages"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <div class="profilePage-navigation-wrap">
                    <div class="col-17 filler"></div>
                    <div class="col-12_5 profilePage-nav-item"><a routerLink="">About Me</a></div>
                    <div class="col-12_5 profilePage-nav-item" *ngIf="isMy"><a routerLink="analytics">Analytics</a></div>
                    <div class="col-12_5 profilePage-nav-item" *ngIf="isMy"><a routerLink="library">Library</a></div>
                    <div class="col-12_5 profilePage-nav-item" *ngIf="isMy"><a routerLink="friends">Friends</a></div>
                    <div class="col-12_5 profile-stats" *ngIf="isMy" id="profile-minutes">{{user?.minutesBalance}} Minutes</div>
                    <div class="col-20_5 profile-stats" *ngIf="isMy">{{user?.pointsBalance}} Score</div>
                </div>
            </div>
        </div>
        <div class="aboutMe-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <div *ngIf="target">
  <div>
    Full name: {{target | fullName}}
  </div>
  <div>
    i tako dalje ...
  </div>
  <app-friendship-strip *ngIf="target" [otherId]="target.id"></app-friendship-strip>
</div> -->
