@import "../../../kl-styles/variables.scss";

#login-title {
  padding: 15px 0 15px 30px;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 2px solid $divider-color;
}

.global-errors {
    // position: relative;
    height: 20px;
    // background-color: $hover-dark-color;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 15px;
}

.logForm-wrap {
    width: 85%;
    margin: 0 auto;
}

#pass-wrap {
    margin-top: 10px;
}

#forgot-password {
    float: right;
}

.options {
    margin-top: 10px;
    color: $font-secondary-color;

    #forgot-password > a {
        text-decoration: none;
        color: $font-secondary-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

#register-button {
    background-color: $knowlead-secondary;
    margin-top: 10px;
}


#regLink {
    text-decoration: none;
    color: $knowlead-secondary;

    &:hover {
        text-decoration: underline;
    }
}

.regTextMarg {
    margin-top: 10px;
}
