<div class="col-85">
    <div class="col-100 log-reg-section">
        <div class="row">
            <div class="col-100" id="login-title">
                <h2>{{"login-page|title" | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <div class="global-errors">
                    <app-error-list [errors]="response?.errors"></app-error-list>
                </div>
            </div>
        </div>
        <div class="row logForm-wrap">
            <div class="col-100">
                <form (ngSubmit)="loginClicked()" [formGroup]="form">
                    <div id="email-wrap">
                        <input type="text" name="Email" placeholder="{{'common|email' | translate}}" formControlName="email" ngModel class="defaultInput">
                        <!-- <app-error-list [formControlProperty]="form.controls.email"></app-error-list> -->
                    </div>

                    <div id="pass-wrap">
                        <input type="password" name="password" placeholder="{{'common|password' | translate}}" formControlName="password" ngModel class="defaultInput">
                        <!-- <app-error-list [formControlProperty]="form.controls.password"></app-error-list> -->
                    </div>
                    <div class="row options">
                        <div class="col-50">

                            <!-- NOTE Checkbox forma koja bi trebala biti zasebna komponenta...mozda! -->
                            <form class="remeber-box">
                                <label class="check-label">
                                    <input type="checkbox" name="remeber-me" value="Yes">
                                    <span class="check-label-text">{{'login-page|remember' | translate}}</span>
                                </label>
                            </form>

                        </div>
                        <div class="col-50">
                            <div id="forgot-password">
                                <a href="#">{{'login-page|forgot password' | translate}}</a>
                            </div>
                        </div>
                    </div>
                        <input type="submit" [disabled]="busy || !form.valid" value="{{'login-page|submit' | translate}}" class="bttns">
                        <input type="button" value="{{'login-page|join' | translate}}" class="bttns" id="register-button">
                </form>
            </div>
        </div>
        <div class="row logForm-wrap">
            <div class="col-100 regTextMarg">
                <p>Don't have an account?
                    <a href="#" id="regLink">Register Now!</a>
                    So you can start enjoying all the benefits.
                </p>
            </div>
        </div>
    </div>
</div>
