<article class="login-section">
  
    <div class="video-section">
        <img src="/assets/images/icons/play-icon.png" alt="Knowlead play icon">
    </div>
      
  
    <div class="login-form">

      <div class="login-title">
        <h2>{{"login-page|title" | translate}}</h2>
      </div>

      <div class="global-errors">
        <app-error-list [errors]="response?.errors"></app-error-list>
      </div>

      <div class="form-wrap">

        <form (ngSubmit)="loginClicked()" [formGroup]="form">
          <ngl-form-element id="email-wrap">
            <input id="email-form" nglFormControl type="text" name="Email" placeholder="{{'common|email' | translate}}" formControlName="email" ngModel>
            <app-error-list [formControlProperty]="form.controls.email"></app-error-list>
          </ngl-form-element>

          <ngl-form-element id="pass-wrap">
            <input nglFormControl type="password" name="password" placeholder="{{'common|password' | translate}}" formControlName="password" ngModel id="pass-form">
            <app-error-list [formControlProperty]="form.controls.password"></app-error-list>
          </ngl-form-element>

          <form class="remeber-box">
            <input type="checkbox" name="remeber-me" value="Yes"> Remember Me
          </form>

          <div class="forgot-password">
            <a href="#">{{'login-page|forgot password' | translate}}</a>
          </div>

          <ngl-form-element>
            <input nglFormControl type="submit" [disabled]="busy || !form.valid" value="{{'login-page|submit' | translate}}" class="login-button">
          </ngl-form-element>

          <ngl-form-element>
            <input nglFormControl type="submit" value="{{'login-page|join' | translate}}" class="join-button">
          </ngl-form-element>
        </form>

        <div class="footer-text">
          <p>Don't have an account? <a href="#">Register Now!</a> it's really simple and you can start enjoying all the benefits!</p>
        </div>

      </div>

    </div>


  
</article>
