@import "../../../styles.scss";


.video-tab {
  text-decoration: none;
  width: 100%;
  float: left;
  height: 450px;
  border: none;
  background-color: #fafbfd;
  border-radius: 5px 0 0 5px;
  outline: none;

    &:hover {
      background-color: $divider-color;
    }
}

.login-section {
  background-color: white;
  height: 450px;
  border-radius: 0 5px 5px 0;
  border-left: 2px solid $divider-color;
}

#login-title {
  padding: 15px;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 2px solid $divider-color;
}

.global-errors {
  margin-top: 15px;
  text-align: center;
}

.form-wrap {
    width: 85%;
    margin: 0 auto;
}

#email-form {
    margin: 40px;
}

#forgot-password {
    float: right;
}

.options {
    margin-top: 10px;
    color: $light-font-color;

    #forgot-password > a {
        text-decoration: none;
        color: $light-font-color;

        &:hover {
            text-decoration: underline;
        }
    }
}





//
// input[type=text] {
//   margin-top: 15px;
// };
//
// input[type=password] {
//   margin-bottom: 15px;
// };
//
// input[type=checkbox] {
//   float: left;
// };
//
//  .forgot-password {
//   float: right;
//   margin-top: -20px;
//  };
//
//
//
