@import "../../../../kl-styles/variables.scss";


.choice-wrap {
    margin-bottom: 10px;
}

.fos-title {
    max-width: 145px;
}

.fosCloseButton {
    position: absolute;
    right: 15px;
    top: 6.5px;
    padding: 4px;
    border-radius: 3px;

    &:hover {
        background-color: $divider-color;
    }

    img {
        max-width: 17px;
    }
}
