<article class="slds-card slds-card--narrow slds-container--small slds-container--center" id="choice">
    <div class="slds-card__body">

        <section class="slds-clearfix">
            <div class="slds-text-title slds-text-color--blue slds-text-align--left slds-float--left">{{interest.fos.name}}</div>
            <button type="button" [nglButtonIcon]="iconType" class="slds-button--icon-x-small slds-float--right"
                (click)="removed()">
              <ngl-icon icon="close"></ngl-icon>
            </button>
        </section>
      <br>
      <ngl-rating [(rate)]="interest.stars" [isReadonly]="readonly" [size]="size"></ngl-rating><br>
      {{niz[interest.stars-1] | translate}}
    </div>
</article>