<div id="choice">
    <section class="choice-wrap posRel" >
        <div class="fos-title">{{interest.fos.name}}</div>
        <button type="button" class="clearButton fosCloseButton" (click)="removed()">
            <i class="kl-close closeIcon"></i>
        </button>
        <ngl-rating *ngIf="interest.fos.unlocked" [(rate)]="interest.stars" colorOn="#007bb6" colorOff="#e1e2e5" size="x-small"></ngl-rating>
        <span *ngIf="!interest.fos.unlocked">{{count}}/100</span>
    </section>
</div>
