/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);
@import "kl-styles/variables.scss";
@import "kl-styles/kl-icons-font-style.css";



///////////////////////////////////////////////////////////
// NOTEBOOK POPUP CLASSES /////////////////////////////////
///////////////////////////////////////////////////////////

app-single-notebook.previewNotebook > div:nth-child(1) > div:nth-child(1) {
    display: none;
}

app-single-notebook.previewNotebook > div:nth-child(1) > svg {
    width: 100px !important;
}

///////////////////////////////////////////////////////////
// MESSAGE CLASSES ////////////////////////////////////////
///////////////////////////////////////////////////////////

.message {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 3px 0;
    width: auto;
    max-width: 260px;
    word-wrap: break-word;
}

.message.myMessage {
    background-color: $knowlead-primary;
    color: white;
    float: right;
}

.message:not(.myMessage) {
    background-color: white;
    color: $font-primary-color;
    float: left;
}

///////////////////////////////////////////////////////////
// CALL POPUP CLASSES /////////////////////////////////////
// TOOLTIP CLASSES ////////////////////////////////////////
///////////////////////////////////////////////////////////
.tooltip-parent {
    position: relative;

    &:hover {
        [class*='tooltip-'] {
            display: inline;
        }
    }
}
.tooltip-top {
    font-family: "Roboto";
    display: none;
    position: absolute;
    border-radius: $border-radius;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

.tooltip-bottom {
    font-family: "Roboto";
    display: none;
    position: absolute;
    border-radius: $border-radius;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        top: -5px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

.tooltip-left {
    font-family: "Roboto";
    display: none;
    position: absolute;
    border-radius: $border-radius;
    bottom: 50%;
    right: 105%;
    transform: translateY(50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        top: 50%;
        right: -4px;
        transform: translateY(-50%) rotate(45deg);
    }

    .circleState-student {
        color: $knowlead-secondary;
    }
    .circleState-teacher {
        color: $knowlead-primary;
    }
}

.tooltip-right {
    font-family: "Roboto";
    display: none;
    position: absolute;
    border-radius: $border-radius;
    bottom: 60%;
    left: 105%;
    transform: translateY(50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        top: 50%;
        left: -4px;
        transform: translateY(-50%) rotate(45deg);
    }
}

.tooltip-counter {
    font-family: "Roboto";
    display: none;
    position: absolute;
    border-radius: $border-radius;
    bottom: 60%;
    left: 200%;
    transform: translateY(50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        top: 50%;
        left: -4px;
        transform: translateY(-50%) rotate(45deg);
    }
}


.tooltip-postInfo {
    font-family: "Roboto";
    display: none;
    position: absolute;
    border-radius: $border-radius;
    bottom: 85%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

.tooltip-proposedPrice {
    font-family: "Roboto";
    display: none;
    position: absolute;
    border-radius: $border-radius;
    bottom: 150%;
    left: 32px;
    transform: translateX(-50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}


.tooltip-registration {
    font-family: "Roboto";
    display: none;
    position: absolute;
    border-radius: $border-radius;
    bottom: 21px;
    right: 105%;
    transform: translateY(50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        top: 50%;
        right: -4px;
        transform: translateY(-50%) rotate(45deg);
    }
}

.tooltip-minutes {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
    display: none;
    position: absolute;
    border-radius: $border-radius;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        top: -5px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

.tooltip-desired-knowleadge {
    font-family: "Roboto";
    opacity: 1;
    display: none;
    position: absolute;
    border-radius: $border-radius;
    bottom: 24%;
    left: 27px !important;
    transform: translateY(50%) !important;
    background-color: $tooltip-background-color;
    color: white;
    text-align: center;
    padding: 5px 5px;
    z-index: 100;

    &:before {
        content: "";
        display: inline;
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $tooltip-background-color;
        top: 50%;
        left: -4px;
        transform: translateY(-50%) rotate(45deg);
    }
}

.tooltip-70  { width: 70px;  }
.tooltip-100 { width: 100px; }
.tooltip-110 { width: 110px; }
.tooltip-125 { width: 125px; }
.tooltip-150 { width: 150px; }
.tooltip-155 { width: 155px; }
.tooltip-175 { width: 175px; }
.tooltip-200 { width: 200px; }
.tooltip-225 { width: 225px; }
.tooltip-250 { width: 250px; }
.tooltip-275 { width: 275px; }
.tooltip-300 { width: 300px; }


///////////////////////////////////////////////////////////
// CALL POPUP CLASSES /////////////////////////////////////
///////////////////////////////////////////////////////////

body > app-root > app-call-dialog > ngl-modal.incomingCall-popUp > div.slds-modal.slds-fade-in-open > div {
    width: 390px !important;
}

///////////////////////////////////////////////////////////
// LOADING SCREEN CLASSES /////////////////////////////////
///////////////////////////////////////////////////////////
.loading-screen {
    width: 100vw;
    height: 100vh;
    background-color: $knowlead-primary;
    line-height: 100vh;
    text-align: center;
    color: white;
    >.loadingLogo {
        max-width: 400px;
        margin-top: -66px;
        animation: loadingAnimation 3s ease-in-out;
        animation-iteration-count: infinite;
    }
}

.main-background-color {
    background-color: $background-color;
    font-family: "Roboto";
    color: $font-primary-color;
}

///////////////////////////////////////////////////////////
// POPOVER CLASSES ////////////////////////////////////////
///////////////////////////////////////////////////////////
.popover {
    position: absolute;
    z-index: 10;
    //background-color: white;
}

///////////////////////////////////////////////////////////
// OTHER CLASSES //////////////////////////////////////////
///////////////////////////////////////////////////////////

.allPagesMargin {
    padding-top: 50px;
}

.full-height {
    height: 100vh;
}

.hidden {
    display: none;
}

.video-tab {
    text-decoration: none;
    width: 100%;
    float: left;
    height: 415px;
    border: none;
    background-color: #fafbfd;
    border-radius: 5px 0 0 5px;
    outline: none;
    &:hover {
        background-color: $divider-color;
    }
}

.log-reg-section {
    background-color: white;
    height: 415px;
    border-radius: 0 5px 5px 0;
    border-left: 2px solid $divider-color;
}

ngl-rating {
    outline: none;
}

.pleaseNote {
    padding: 3px;
    border-radius: 3px;
    background-color: $knowlead-secondary;
    color: white;
}

///////////////////////////////////////////////////////////
// CHECKBOX CLASSES ///////////////////////////////////////
///////////////////////////////////////////////////////////
.check-label {
    cursor: pointer;
    input[type=checkbox] {
        display: none;
        +.check-label-text:before {
            content: "\f096";
            font-family: "FontAwesome";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            width: 1em;
            margin-right: 2px;
            display: inline-block;
        }
        &:checked+.check-label-text:before {
            content: "\f14a";
            color: $knowlead-primary;
            animation: checkboxTick 180ms ease-in;
        }
        &:disabled+.check-label-text {
            color: $disabled-color;
            &:before {
                content: "\f0c8";
            }
        }
    }
}

///////////////////////////////////////////////////////////
// BUTTON CLASSES /////////////////////////////////////////
///////////////////////////////////////////////////////////
.clearButton {
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.defaultButton {
    margin-top: 20px;
    width: 100%;
    padding: 15px 0;
    background-color: $knowlead-primary;
    color: white;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 5px;
    // &:disabled {
    //     background-color: $disabled-color;
    // }
}

.headerMainButtons {
    padding: 5px;

    &:hover {
        background-color: $button-header-hover-color;
        border-radius: $border-radius;
    }
}

.postButton {
    width: 25%;
    background-color: transparent;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 5px;

    &:disabled {
        color: $placeholder-color;
        background-color: transparent;
    }
}

.callButton {
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: $border-radius;
    color: white;
    background-color: $knowlead-primary;

    &:hover {
        background-color: transparentize($knowlead-primary, 0.1);
    }
}



.submitPostButton {
    width: 100px;
    height: 30px;
    background-color: $knowlead-secondary;
    color: white;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 7px;

    &:disabled {
        background-color: $disabled-color;
    }
}

.postViewCommentButton {
    width: 45px;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

.postViewBookmarkButton {
    width: 70px;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

.scheduleButton {
    width: 90px;
    height: 30px;
    border: 1px solid $knowlead-secondary;
    border-radius: $border-radius;
    color: $knowlead-secondary;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    float: right;

    &:hover {
        background-color: $knowlead-secondary;
        color: white;
    }
}

.teacherAcceptButton {
    width: 90px;
    height: 30px;
    border: 1px solid $knowlead-primary;
    border-radius: $border-radius;
    color: $knowlead-primary;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    float: right;

    &:hover {
        background-color: $knowlead-primary;
        color: white;
    }
}

.newOfferButton {
    width: 75px;
    border: none;
    // border: 2px solid $font-primary-color;
    height: 30px;
    background-color: transparent;
    outline: none;
    font-weight: bold;
    border-radius: $border-radius;
    float: right;

    &:hover {
        background-color: $hover-dark-color;
    }
}


.sendOfferButton {
    float: right;
    width: 80%;
    height: 34px;
    background-color: $knowlead-primary;
    color: white;
    border: none;
    outline: none;
    border-radius: $border-radius;

    &:hover {
        background-color: transparentize($knowlead-primary, 0.1);
    }
}

.tabButton {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    color: $call-video-font-color;
    outline: none;
    border: none;
    border-bottom: 2px solid $call-video-accent-color;

    &:hover {
        background-color: white;
    }
}

.feedbackButton {
    width: 100px;
    height: 40px;
    background-color: $knowlead-primary;
    border-radius: $border-radius;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;

    &:hover {
        background-color: transparentize($knowlead-primary, 0.1)
    }
}

.defaultCloseButton {
    width: 100px;
    height: 30px;
    border-radius: $border-radius;
    border: none;
    background-color: $hover-middle-color;
    font-weight: bold;
    padding-left: 10px;
    outline: none;

    &:hover {
        background-color: $hover-dark-color;
    }
}


///////////////////////////////////////////////////////////
// ALIGNMENT CLASSES //////////////////////////////////////
///////////////////////////////////////////////////////////
.posRel {
    position: relative;
    height: 100%;
}

.posAbs {
    position: absolute;
}

.centerV {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.centerVr {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.centerVl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.zZero {
    z-index: 0;
}

.zOne {
    z-index: 1;
}

///////////////////////////////////////////////////////////
// ICON CLASSES ///////////////////////////////////////////
///////////////////////////////////////////////////////////
.iconMaxW {
    max-width: 20px;
}

///////////////////////////////////////////////////////////
// KNOWLEAD GRID SYSTEM CSS ///////////////////////////////
///////////////////////////////////////////////////////////
.grid-container {
    width: 100%;
    max-width: $full-grid-width;
    margin: 0 auto;
}

.grid-container-small {
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
}


/*-- cleafix hack -- */

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 10%;
    /*-- gutter -- */
    //padding: 12px;
    //background-color: #FFDCDC;
}

.col-2   { width: 2%;   }
.col-3   { width: 3%;   }
.col-5   { width: 5%;   }
.col-10  { width: 10%;  }
.col-12_5{ width: 12.5%;}
.col-13  { width: 13%;  }
.col-15  { width: 15%;  }
.col-16  { width: 16%;  }
.col-17  { width: 17%;  }
.col-18  { width: 18%;  }
.col-19  { width: 19%;  }
.col-20  { width: 20%;  }
.col-20_5{ width: 20.5%;}
.col-22  { width: 22%;  }
.col-23  { width: 23%;  }
.col-25  { width: 25%;  }
.col-29  { width: 29%;  }
.col-30  { width: 30%;  }
.col-31  { width: 31%;  }
.col-32  { width: 32%;  }
.col-33  { width: 33%;  }
.col-35  { width: 35%;  }
.col-36  { width: 36%;  }
.col-37  { width: 37%;  }
.col-40  { width: 40%;  }
.col-42  { width: 42%;  }
.col-45  { width: 45%;  }
.col-49  { width: 49%;  }
.col-50  { width: 50%;  }
.col-55  { width: 55%;  }
.col-58  { width: 58%;  }
.col-60  { width: 60%;  }
.col-63  { width: 63%;  }
.col-64  { width: 64%;  }
.col-65  { width: 65%;  }
.col-69  { width: 69%;  }
.col-70  { width: 70%;  }
.col-71  { width: 71%;  }
.col-75  { width: 75%;  }
.col-77  { width: 77%;  }
.col-80  { width: 80%;  }
.col-84  { width: 84%;  }
.col-85  { width: 85%;  }
.col-90  { width: 90%;  }
.col-95  { width: 95%;  }
.col-97  { width: 97%;  }
.col-98  { width: 98%;  }
.col-100 { width: 100%; }

.outline, .outline * {
    outline: 1px solid #F6A1A1;
}

///////////////////////////////////////////////////////////
// KEYFRAMES //////////////////////////////////////////////
///////////////////////////////////////////////////////////
@keyframes checkboxTick {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loadingAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes videoButtonTick {
    0% {
        transform: scale(0);
    }
    85% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

///////////////////////////////////////////////////////////
// MEDIA QUERIES //////////////////////////////////////////
///////////////////////////////////////////////////////////


@media (max-width: 1100px){

    .loading-screen {
        width: 100vw;
        height: 100vh;
        background-color: $knowlead-primary;
        line-height: 100vh;
        text-align: center;
        color: white;
        >.loadingLogo {
            max-width: 80%;
            animation: loadingAnimation 3s ease-in-out;
            animation-iteration-count: infinite;
        }
    }

    .grid-container {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    .min_col-12_5{ width: 100%;   }
    .min_col-13  { width: 100%;   }
    .min_col-10  { width: 100%;   }
    .min_col-15  { width: 100%;   }
    .min_col-16  { width: 100%;   }
    .min_col-17  { width: 100%;   }
    .min_col-18  { width: 100%;   }
    .min_col-19  { width: 100%;   }
    .min_col-20  { width: 100%;   }
    .min_col-20_5{ width: 100%;   }
    .min_col-22  { width: 100%;   }
    .min_col-23  { width: 100%;   }
    .min_col-25  { width: 100%;   }
    .min_col-29  { width: 100%;  }
    .min_col-30  { width: 100%;  }
    .min_col-31  { width: 100%;  }
    .min_col-32  { width: 100%;  }
    .min_col-35  { width: 100%;  }
    .min_col-36  { width: 100%;  }
    .min_col-40  { width: 100%;  }
    .min_col-42  { width: 100%   }
    .min_col-45  { width: 100%;  }
    .min_col-49  { width: 100%;  }
    .min_col-50  { width: 100%;  }
    .min_col-55  { width: 100%;  }
    .min_col-58  { width: 100%;  }
    .min_col-60  { width: 100%;  }
    .min_col-64  { width: 100%;  }
    .min_col-65  { width: 100%;  }
    .min_col-69  { width: 100%;  }
    .min_col-70  { width: 100%;  }
    .min_col-71  { width: 100%;  }
    .min_col-75  { width: 100%;  }
    .min_col-80  { width: 100%;  }
    .min_col-84  { width: 100%;  }
    .min_col-85  { width: 100%;  }
    .min_col-90  { width: 100%;  }
    .min_col-100 { width: 100%;  }

   .row .col-2:last-of-type{
       width: 100%;
   }
}
