/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);
@import "/kl-styles/variables.scss";


///////////////////////////////////////////////////////////
// OTHER CLASSES //////////////////////////////////////////
///////////////////////////////////////////////////////////


* {
    font-family: "Roboto";
}

.full-height {
    height: 100vh;
}

.hidden {
    display: none;
}

.video-tab {
  text-decoration: none;
  width: 100%;
  float: left;
  height: 415px;
  border: none;
  background-color: #fafbfd;
  border-radius: 5px 0 0 5px;
  outline: none;

    &:hover {
      background-color: $divider-color;
    }
}

.log-reg-section {
  background-color: white;
  height: 415px;
  border-radius: 0 5px 5px 0;
  border-left: 2px solid $divider-color;
}


///////////////////////////////////////////////////////////
// CHECKBOX CLASSES ///////////////////////////////////////
///////////////////////////////////////////////////////////


.check-label {
    cursor: pointer;

    input[type=checkbox] {
        display: none;

        + .check-label-text:before {
            content: "\f096";
            font-family: "FontAwesome";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            width: 1em;
            margin-right: 3px;
            display: inline-block;
        }

        &:checked + .check-label-text:before {
            content: "\f14a";
            color: $knowlead-primary;
            animation: checkboxTick 180ms ease-in;
        }

        &:disabled + .check-label-text {
            color: $disabled-color;

            &:before {
                content: "\f0c8";
            }
        }
    }
}

@keyframes checkboxTick {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}


///////////////////////////////////////////////////////////
// BUTTON CLASSES /////////////////////////////////////////
///////////////////////////////////////////////////////////


.clearButton {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-radius: 5px;
}

.bttns {
    margin-top: 20px;
    width: 100%;
    padding: 15px 0;
    background-color: $knowlead-primary;
    color: white;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 5px;
}


///////////////////////////////////////////////////////////
// ALIGNMENT CLASSES //////////////////////////////////////
///////////////////////////////////////////////////////////


.posRel {
    position: relative;
    height: 100%;
}

.centerV {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.middleV {
    position: absolute;
    top: 50%;
    margin-bottom: -50%;
}


///////////////////////////////////////////////////////////
// PROFILE IMAGE CLASSES //////////////////////////////////
///////////////////////////////////////////////////////////

.profile-image-round-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    .profile-image {
            display: inline-block;
            min-width: 100%;
            min-height: 100%;
    }
}


///////////////////////////////////////////////////////////
// ICON CLASSES ///////////////////////////////////////////
///////////////////////////////////////////////////////////


.iconMaxW {
    max-width: 20px;
}


///////////////////////////////////////////////////////////
// KNOWLEAD GRID SYSTEM CSS ///////////////////////////////
///////////////////////////////////////////////////////////


.grid-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*-- cleafix hack -- */
.row:before,
.row:after {
    content:"";
      display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 10%;
    /*-- gutter -- */
    //padding: 12px;
    //background-color: #FFDCDC;
}

.col-10 { width: 10%;  }
.col-15 { width: 15%;  }
.col-20 { width: 20%;  }
.col-25 { width: 25%;  }
.col-30 { width: 30%;  }
.col-40 { width: 40%;  }
.col-50 { width: 50%;  }
.col-60 { width: 60%;  }
.col-70 { width: 70%;  }
.col-80 { width: 80%;  }
.col-85 { width: 85%;  }
.col-90 { width: 90%;  }
.col-100{ width: 100%; }

.outline, .outline *{
    outline: 1px solid #F6A1A1;
}
