<div [class.profileImage-wrap]="uploadable">
    <input type="file" [id]="id" class="hidden" *ngIf="uploadable" accept="image/*" (change)="fileSelected($event)">
    <div class="profileImage-container">
        <div class="profile-image"
            [style.background-image]="url"
            [class.profile-image-large]="size === 'large'"
            [class.profile-image-medium]="size === 'medium'"
            [class.profile-image-small]="size === 'small'"
            [class.profile-image-x-small]="size === 'x-small'">
        </div>
    </div>
    <div class="ovrly" *ngIf="uploadable"></div>
    <div class="uploadButton centerV" *ngIf="uploadable">
        <label [attr.for]="id">
            <a rel="nofollow" rel="noreferrer" class="kl-plus"></a>
        </label>
        <a rel="nofollow" rel="noreferrer" (click)="remove()" class="kl-delete" *ngIf="profilePictureId"></a>
    </div>
</div>
