<div class="col-85 log-reg-section">
    <div class="row reg-successful-wrap">
        <div class="row">
            <div class="col-100">
                <div class="reg-successful-title">
                    Registration Successful!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <div class="reg-successful-text">
                    Your registration was successful. Please check your
                    email for confirmation link.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <div class="okButton-wrap">
                    <a routerLink="/">
                        <button class="defaultButton">OK</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
