<div class="col-85 log-reg-section">
    <div class="row reg-successful-wrap">
        <div class="row">
            <div class="col-100">
                <div class="reg-successful-title">
                    Registration Successful!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <div class="reg-successful-text">
                    Please check your
                    email for confirmation link.
                </div>
                <div class="spamText">(Also check Spam folder)</div>
            </div>
        </div>
    </div>
</div>
