.reg-successful-wrap {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 105px;
}

.reg-successful-title {
    font-size: 25px;
    font-weight: bold;
}

.reg-successful-text {
    font-size: 15px;
}

.okButton-wrap {
    margin-top: 20px;
}
