@import "../../../kl-styles/variables.scss";

.main-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
}

.videoSection-wrap {
    min-height: 100%;
    width: calc(100% - 400px);
    height: auto;
    background-image: url("/assets/images/video_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    overflow: hidden;

    &:hover > .videoButtons-wrap > .videoButton,
    &:hover > .videoButtons-wrap > .endVideoButton,
    &:hover > .timer-wrap {
        // transform: translateY(-300px);
        animation: videoButtonTick 180ms ease-out forwards;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    float: left;

    > .myVideo {
        position: absolute;
        bottom: 3%;
        left: 3%;
    }
}

.watermark {
    position: absolute;
    top: 3%;
    left: 3%;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparentize(white, 0.65);
    color: transparentize($icon-dark-color, 0.5);
    text-align: center;
    font-size: 30px;
}

.timer-wrap {
    position: absolute;
    bottom: 70px;
    width: calc(100% - 400px);
    text-align: center;
    color: white;
    text-shadow: 0 0 3px $hover-dark-color;
    font-size: 14px;
    transition: all 0.15s ease-in-out;
    transform: scale(0);
}

.videoButtons-wrap {
    position: absolute;
    bottom: 20px;
    left: calc((100% - 400px) / 2);
    width: 165px;
    transform: translateX(-82.5px);
    height: 45px;
    font-size: 30px;
    // transform: translateY(300px);
}

.videoButton {
    transition: all 0.15s ease-in-out;
    padding: 0 10px;
    border-radius: $border-radius;
    background-color: transparentize(white, 0.65);
    color: transparentize($icon-dark-color, 0.5);
    border: none;
    outline: none;
    display: inline-flex;
    height: 45px;
    transform: scale(0);

    &:hover {
        background-color: transparentize(white, 0.3);
    }
}

.videoButton-offState {
    padding: 0 10px;
    border-radius: $border-radius;
    background-color: transparentize(white, 0.2);
    color: transparentize($icon-dark-color, 0.5);
    border: none;
    outline: none;
    display: inline-flex;
    height: 45px;

    &:hover {
        background-color: transparentize(white, 0.3);
    }
}

.endVideoButton {
    padding: 0 10px;
    border-radius: $border-radius;
    background-color: transparentize(white, 0.65);
    color: transparentize($icon-dark-color, 0.5);
    border: none;
    outline: none;
    display: inline-flex;
    height: 45px;
    transform: scale(0);

    &:hover {
        background-color: transparentize($knowlead-secondary, 0.3);
        color: white;
    }
}

.sidebar-wrap {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    border-left: 2px solid $hover-dark-color;
}

.sidebar-container {
    height: 100%;
    width: 100%;
    background-color: $background-color;
}

.sidebarTopElements {
    width: 100%;
    height: 8vh;
}

.tabButton-wrap {
    width: 100%;
    height: 50px;
}
