<div class="row">
    <div class="main-wrap">
        <div class="videoSection-wrap">
            <div class="video-container">
                <video #video width="100%" height="100%"></video>
                <video #myVideo width="150px" height="150px" muted="true" class="myVideo"></video>
            </div>
            <div class="watermark">
                <i class="kl-logo-short"></i>
            </div>
            <div class="videoButtons-wrap">
                <button class="videoButton">
                    <i class="kl-camera"></i>
                </button>
                <!-- <button class="videoButton-offState">
                    <i class="kl-camera-off"></i>
                </button> -->

                <button (click)="requestStop()" class="endVideoButton">
                    <i class="kl-phone"></i>
                </button>

                <button class="videoButton">
                    <i class="kl-mic"></i>
                </button>
                <!-- <button class="videoButton-offState">
                    <i class="kl-mic-off"></i>
                </button> -->

            </div>
        </div>
        <div class="sidebar-wrap">
            <div class="row full-height">
                <div class="col-100 full-height">
                    <div class="sidebar-container">
                        <div class="row sidebarTopElements">
                            <div class="col-50">
                                <div class="tabButton-wrap">
                                    <button class="tabButton">Chat</button>
                                </div>
                            </div>
                            <div class="col-50">
                                <div class="tabButton-wrap">
                                    <button class="tabButton">Notebook</button>
                                </div>
                            </div>
                        </div>

                        <!-- NOTE: CHAT COMPONENT -->
                        <!-- <div class="chat-wrap">
                            <div class="row chatSection-wrap">
                                <div class="chatSection">
                                    <div class="row">
                                        <div class="myMessage">my very FIRST chat message. This is indeed my chat message.</div>
                                    </div>
                                    <div class="row">
                                        <div class="otherMessage">other FIRST chat message. This is indeed OTHER chat message.</div>
                                    </div>
                                    <div class="row">
                                        <div class="myMessage">my FIRST chat message. This is indeed my chat message.</div>
                                    </div>
                                    <div class="row">
                                        <div class="otherMessage">other chat message. This is indeed OTHER chat message.</div>
                                    </div>
                                    <div class="row">
                                        <div class="myMessage">my FIRST chat message. This is indeed my chat message.</div>
                                    </div>
                                    <div class="row">
                                        <div class="otherMessage">other chat message. This is indeed OTHER chat message.</div>
                                    </div>
                                    <div class="row">
                                        <div class="myMessage">my FIRST chat message. This is indeed my chat message.</div>
                                    </div>
                                </div>
                            </div>


                            <div class="row sidebarBottomElements">
                                <div class="col-100">
                                    <div class="chatInput-wrap">
                                        <input type="text" class="chatInput">
                                    </div>
                                </div>
                            </div>

                        </div> -->

                        <!-- NOTE: NOTEBOOK SECTION! -->
                        <div class="row notebookSelection-wrap">
                            <app-notebook-list></app-notebook-list>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
