<div class="row">
    <div class="main-wrap">
        <div class="videoSection-wrap">
            <div class="video-container">
                <video #video width="100%" height="100%"></video>
            </div>
        </div>
        <div class="sidebar-wrap">
            <div class="row">
                <div class="col-100">
                    <div class="sidebar-container">
                        <div class="row">
                            <div class="col-50">
                                <div class="tabButton-wrap">
                                    <button class="tabButton">Chat</button>
                                </div>
                            </div>
                            <div class="col-50">
                                <div class="tabButton-wrap">
                                    <button class="tabButton">Notebook</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-100">
                                <div class="chatSection">
                                    CHAT MESSAGES
                                    <button (click)="requestStop()">STOP</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-100">
                                <div class="chatInput-wrap">
                                    <input type="text" class="chatInput">
                                </div>
                            </div>
                        </div>


                        <!-- NOTE: NOTEBOOK SECTION! -->
                        <!-- <div class="row">
                            <div class="col-100">
                                <div class="backLink-wrap">
                                    <a href="" class="backLink">
                                        <i class="kl-back"></i>
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
