@import "../../../kl-styles/variables.scss";

.main-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

.videoSection-wrap {
  min-height: 100%;
  //SIDEBAR WIDTH HAS TO BE WRITEN MANUALLY IN CALC FUNCTION
  width: calc(100% - 340px);
  height: auto;
  background-color: $call-video-background-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
  overflow: hidden;

  &:hover > .videoButtons-wrap > .videoButton,
  &:hover > .videoButtons-wrap > .endVideoButton {
    transform: translateY(-300px);
    // animation: videoButtonTick 180ms ease-out forwards;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  float: left;

  > .myVideo {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $call-video-primary-color;
  }
}

.watermark {
  position: absolute;
  top: 3%;
  left: 3%;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparentize(white, 0.75);
  color: transparentize($icon-dark-color, 0.5);
  text-align: center;
  font-size: 30px;
}

.timer-wrap {
  position: absolute;
  bottom: 110px;
  background-color: $call-video-secondary-color;
  color: white;
  width: 194.7px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  // text-shadow: 0 0 3px $hover-dark-color;
  transition: all 0.15s ease-in-out;
}

.videoButtons-wrap {
  position: absolute;
  bottom: 20px;
  //SIDEBAR WIDTH HAS TO BE WRITEN MANUALLY IN CALC FUNCTION
  left: calc((100% - 340px) / 2);
  width: 270px;
  transform: translate(-135px, 300px);
  height: 45px;
  font-size: 24px;

}

.videoButton {
  transition: all 0.15s ease-in-out;
  padding: 0 15px;
  // border-radius: $border-radius;
  background-color: transparentize(#111, 0.45);
  color: transparentize(#C5C3C3, 0.25);
  border: none;
  outline: none;
  display: inline-flex;
  height: 45px;
  // transform: scale(0);
  float: left;

  &:hover {
    background-color: transparentize(#111, 0.10);
  }
}

.videoButton-offState {
  padding: 0 15px;
  // border-radius: $border-radius;
  background-color: transparentize(white, 0.2);
  color: transparentize($icon-dark-color, 0.5);
  border: none;
  outline: none;
  display: inline-flex;
  height: 45px;
  float: left;
  transform: translateY(-300px);

  &:hover {
    background-color: transparentize(white, 0.3);
  }
}

.firstVideoButton {
  border-radius: 3px 0 0 3px;
}

.lastVideoButton {
  border-radius: 0 3px 3px 0;
}

.endVideoButton {
  transition: all 0.15s ease-in-out;
  padding: 0 15px;
  // border-radius: $border-radius;
  background-color: transparentize(#111, 0.45);
  color: transparentize($knowlead-secondary, 0.3);
  border: none;
  outline: none;
  display: inline-flex;
  height: 45px;
  // transform: scale(0);
  float: left;

  &:hover {
    background-color: transparentize($knowlead-secondary, 0.3);
    color: white;
  }
}

.sidebar-wrap {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: $call-sidebar-width;
  right: 0;
  top: 0;
  border-left: 2px solid $hover-dark-color;
}

.sidebar-container {
  height: 100%;
  width: 100%;
  background-color: $background-color;
}

.sidebarTopElements {
  width: 100%;
  height: 8vh;
}

.tabButton-wrap {
  width: 100%;
  height: 50px;
}
