<div class="row">
    <div class="main-wrap">
        <div class="videoSection-wrap">
            <div class="video-container">
                <video #video width="100%" height="100%"></video>
                <video #myVideo width="150px" height="150px" class="myVideo"></video>
            </div>
            <div class="watermark">
                <i class="kl-logo-short"></i>
            </div>
            <div class="timer-wrap">
                <span class="timer">14:34</span>
            </div>
            <div class="videoButtons-wrap">
                <button [class.videoButton]="useCam" [class.videoButton-offState]="!useCam" (click)="toggleCamera()">
                    <i [class.kl-camera]="useCam" [class.kl-camera-off]="!useCam"></i>
                </button>
                <!-- <button class="videoButton-offState">
                    <i class="kl-camera-off"></i>
                </button> -->

                <button (click)="requestStop()" class="endVideoButton">
                    <i class="kl-phone"></i>
                </button>

                <button [class.videoButton]="useMic" [class.videoButton-offState]="!useMic" class="videoButton" (click)="toggleMic()">
                    <i [class.kl-mic]="useMic" [class.kl-mic-off]="!useMic"></i>
                </button>
                <!-- <button class="videoButton-offState">
                    <i class="kl-mic-off"></i>
                </button> -->

            </div>
        </div>
        <div class="sidebar-wrap">
            <div class="row full-height">
                <div class="col-100 full-height">
                    <div class="sidebar-container">
                        <div class="row sidebarTopElements">
                            <div class="col-50">
                                <div class="tabButton-wrap">
                                    <a routerLink="chat">
                                        <button class="tabButton">Chat</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-50">
                                <div class="tabButton-wrap">
                                    <a routerLink="notebook">
                                        <button class="tabButton">Notebook</button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <router-outlet></router-outlet>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
